[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numexpr = ">=2.8,<3"
numpy = ">1.23.0"
tables = "<4.0,>=3.8.0"
future = ">=0.12.3"
django-bootstrap4 = "*"
tweepy = ">=2.3.0"
django-recaptcha = ">=3.0.0,<4.0.0"
celery = ">=5,<6"
biopython = "<2.0,>1.80"
djangorestframework = "<3.14,>=3.10"
coreapi = "*"
pyham = "*"
scikit-learn = "*"
djangorestframework-link-header-pagination = "*"
django-cors-headers = "*"
omamer = ">2.0,<3.0"
pyoma = {ref = "develop", git = "${LABGIT}/pyoma", extras=["enrichment"]}
zoo = {ref = "master", git = "${LABGIT}/zoo"}
oma-academy-app = {ref = "master", git = "${LABGIT}/oma-academy"}
Django = "<3.0,>=2.2.0"
Pygments = "*"
Markdown = "*"
PyYAML = "*"
django-matomo-api-tracking = "*"
django-debug-toolbar = "*"
djangorestframework-csv = "*"

[dev-packages]

[requires]
python_version = "3.10"
