Django>=2.2.0,<3.0
numexpr>=2.7
numpy>1.23.0
tables>=3.8.0,<4.0
future>=0.12.3
django-bootstrap4
tweepy>=2.3.0
django-recaptcha>=3.0.0,<4.0
celery>=5,<6
biopython>1.80,<2.0
djangorestframework>=3.10,<3.14
coreapi
pygments
markdown<3.4  #drf checks removed version()
scikit-learn
djangorestframework-link-header-pagination
django-cors-headers
pyyaml
django-matomo-api-tracking
plotly

-e git+ssh://gitolite@lab.dessimoz.org:2222/pyoma@develop#egg=pyoma
-e git+ssh://gitolite@lab.dessimoz.org:2222/zoo@master#egg=zoo
-e git+ssh://gitolite@lab.dessimoz.org:2222/oma-academy@master#egg=oma-academy-app
