{% load staticfiles %}

<div id="toolbar">
 <span>Remove HOGs with completeness score below <input id="set_min_coverage" type="number" step="0.1" value="0.3" min="0.0" max="1.0"> </span>
</div>

        <table class="table table-hover" id="grpTable"
               data-toolbar="#toolbar"
               data-show-toggle="false"
               data-show-columns="true" data-search="true" data-show-export="true"
               data-export-data-type="all"
               data-sort-name="completeness_score"
               data-sort-order="desc"
               data-pagination="true" data-page-size="25" data-page-list="[10, 25, 50, 100, All]"
               data-mobile-responsive="true" data-check-on-init="true"
               data-undefined-text=""
               data-id-field="hog_id" data-row-attributes="tablehooks.add_proteinrow_attrs_omaid">
            <thead>


             <tr>
                <th data-field="hog_id" data-sortable="true"  data-formatter="tablehooks.format_hog_api">HOG ID</th>
                <th data-field="roothog_id" data-sortable="true" data-formatter="tablehooks.format_roothog">Root HOG ID</th>
                <th data-field="event" data-sortable="true" >Evolutionary event</th>
                <th data-field="completeness_score" data-sortable="true" data-formatter="tablehooks.format_float_value">Completeness</th>
                <th data-field="nr_genes" data-sortable="true">Nr genes in HOG</th>
                <th data-field="description">Description</th>
            </tr>



            </thead>
            <div class="alert alert-info text-center alert_remove" role="alert" style="margin-bottom:0; padding: 4px; display:none">
                Genes not present in selected taxon have been filtered out as per settings.
                <a  class="alert-link" id='reset_taxon_filter' > Click here to reset.</a>
            </div>

        </table>

 <div id="loader">                        {% include "includes/loading.html" %}
</div>






<!-- D3 and D3 Tooltip -->
<script src="{% static "js/d3.v3.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/d3.tip.v0.6.3.js" %}" type="text/javascript"></script>

<!-- Domain Visualisation -->
<script src="{% static "js/domains_vis.js" %}" type="text/javascript"></script>
<link href="{% static "css/domains_vis.css" %}" rel="stylesheet" type="text/css" />


<!-- bootstrap-table -->
<script src="{% static "js/tablehooks.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap-table.min.js" %}"></script>

<link href="{% static "css/bootstrap-table.min.css" %}" rel="stylesheet" type="text/css"/>
<script src="{% static "js/bootstrap-table-export.min.js" %}"></script>
<script src="{% static "js/bootstrap-table-mobile.min.js" %}"></script>
<script src="{% static "js/tableExport.min.js" %}"></script>

<!-- taxon filter import: Core -->
<script src="{% static "js/tnt.min.js" %}"></script>
<script src="{% static "js/bootstrap-table-filtertaxon.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% static "css/filtertaxon.css" %}"/>

<!-- taxon filter import: phyloIo -->
<script src="{% static "js/underscore-min.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'css/typeaheadjs.css' %}"/>


<script>

var data_original;
var need_apply_filter = true

var hide_column_event = true
var apply_filter_retained = true;
var apply_filter_duplicated = true;
var apply_filter_lost = true;
var apply_filter_gained = true;

function set_filter_retained(){

         // Get the checkbox
      var checkBox = document.getElementById("Retained");

      // If the checkbox is checked, display the output text
      if (checkBox.checked == true){
        apply_filter_retained = true;
      } else {
        apply_filter_retained = false;
      }

      apply_filter();


     }
function set_filter_gained(){

 // Get the checkbox
var checkBox = document.getElementById("Gained");

// If the checkbox is checked, display the output text
if (checkBox.checked == true){
apply_filter_gained = true;
} else {
apply_filter_gained = false;
}

apply_filter();


}
function set_filter_duplicated(){

 // Get the checkbox
var checkBox = document.getElementById("Duplicated");

// If the checkbox is checked, display the output text
if (checkBox.checked == true){
apply_filter_duplicated = true;
} else {
apply_filter_duplicated = false;
}

apply_filter();


}
function set_filter_lost(){

 // Get the checkbox
var checkBox = document.getElementById("Lost");

// If the checkbox is checked, display the output text
if (checkBox.checked == true){
apply_filter_lost = true;
} else {
apply_filter_lost = false;
}

apply_filter();


}

function run_go(){

    if (apply_filter_lost && (apply_filter_retained || apply_filter_duplicated || apply_filter_gained ) ){

        alert("You can't run a go enrichment analysis with lost gene (upper level HOG) and retained/gained/duplicated HOGs. Please adjust the " +
            "settings in the left sidebar.")

    }

    else{

        var table_data = $("#grpTable").bootstrapTable('getData')

        var input_foreground = Object.keys(table_data).map(key => table_data[key].hog_id).filter(n=>n);
        var input_type = 'ancestral';
        var input_level = apply_filter_lost ? "{{ level }}" : "{{ genome_name }}";
        var input_name = "Comparison between {{ level }} and {{ genome_name }} of [";
        if (apply_filter_gained) input_name += "gained,";
        if (apply_filter_duplicated) input_name += "duplicated,";
        if (apply_filter_retained) input_name += "retained"
        if (apply_filter_lost) input_name += "lost"
        input_name += "]";


        fetch("/api/enrichment/", {
          method: "POST",
          body: JSON.stringify({
              foreground: input_foreground,
              type: input_type,
              name: input_name,
              taxlevel: input_level ,
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
          .then((response) => response.json())
          .then((json) =>  window.open("{% url 'go_enrichment_result' 1234567  %}".replace(/1234567/, json.id), "_self") )
    }
}

const apply_filter = function(){

        var filter_parameters = [];

        if (apply_filter_retained){
            filter_parameters.push("retained")
        }

        if (apply_filter_duplicated){
            filter_parameters.push("duplicated")
        }

        if (apply_filter_lost){
            filter_parameters.push("lost")
        }

        if (apply_filter_gained){
            filter_parameters.push("gained")
        }


        var f_t = d3.select("#set_min_coverage").property("value");

        var ids_to_keep = [];



            for (const element of data_original ) {

                if (!hide_column_event){
                    if (filter_parameters.includes(element.event) && parseFloat(element.completeness_score) >= f_t){
                        ids_to_keep.push(element.hog_id)

                    }
                }

                else {
                    if (parseFloat(element.completeness_score) >= f_t) {

                  ids_to_keep.push(element.hog_id)
              }
                }



          }



             if (!hide_column_event){
                 $('#grpTable').bootstrapTable('filterBy', {hog_id: ids_to_keep, event: filter_parameters} )
             }
             else {
                 $('#grpTable').bootstrapTable('filterBy', {hog_id: ids_to_keep} )
             }






}



    {% if level  %}
        hide_column_event = false
        $.getJSON("{{ api_url|safe }}" + "&compare_with={{level}}" , function (jsonData) {

    {% else %}
         $.getJSON("{{api_url|safe}}", function (jsonData) {
{% endif %}


        $("#loader").hide();

         {% if level %}
            select_genome("{{ level }}", true )
         {% endif %}

data_original = jsonData




        var tab = $("#grpTable");
        var icons = tab.bootstrapTable('getOptions').icons;
        $.extend(icons, {export: 'fa-download'});
        tab.bootstrapTable({
            data : jsonData,
            reorderableColumns: true,
            clickToSelect: false,
            showMultiSort: true,
            showLoading: true,
            onPostBody: function (data) {
            },
            onLoadSuccess: function (data) {

                data_original = data

                tab.bootstrapTable('hideLoading');

                if (need_apply_filter){
                    need_apply_filter = false
                    apply_filter()
                }

        },
        refreshOptions: {'icons': icons},


    });

        apply_filter()

 if (hide_column_event){
    tab.bootstrapTable('hideColumn', 'event');
 }


 d3.select("#set_min_coverage").on("input", function () {

     apply_filter()

 });


})


</script>

