<!-- Sidebar / menu -->
    <div id="sidebar-container" class="col-3 gene-orthology full-height"> <!-- #sidebar-container -->

        <div id="accordion">
            <div class="menu-tab" style="cursor: pointer;" onclick="console.log('Gene members')"
                 {% if tab == 'members' %} data-toggle="collapse" data-target="#collapseMembers" aria-expanded="true" aria-controls="#collapseMemebers"{%endif%}
                <span class="">Gene Members</span>
            </div>


            <div id="collapseMembers" class="collapse pt-0{% if tab == 'members' %} show{%endif%}" aria-labelledby="headingOne" data-parent="#accordion">

                <div class="card-body pl-4 py-2">
                    <h6>Filter by Taxon</h6>

                    <div class="form-check pl-4">
                        <div>
                            <input type="checkbox" class="form-check-input" id="mammalsFilter">
                            <label class="form-check-label" for="mammalsFilter">
                                Mammals
                            </label>
                        </div>

                        <div>
                            <input type="checkbox" class="form-check-input" id="vertebratesFilter">
                            <label class="form-check-label" for="vertebratesFilter">
                                Vertebrates
                            </label>
                        </div>

                        <div>
                            <input type="checkbox" class="form-check-input" id="customFilter1">
                            <label class="form-check-label" for="customFilter1">
                                Custom 1
                            </label>
                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="row justify-content-center mx-2 mx-sm-0">
            <div class="menu-tab d-none d-sm-block col-6 col-sm-12 {% if tab == 'alignment' %} active selected {%endif%}" style="cursor: pointer;" onclick="console.log('alignment clicked')">
                <span class="">Alignment</span>
            </div>

            <div class="menu-tab d-none d-sm-block col-6 col-sm-12 {% if tab == 'closegroups' %} active selected {%endif%}" style="cursor: pointer;" onclick="console.log('Close groups')">
                <span class="">Close groups</span>
            </div>

            <div class="menu-tab d-none d-sm-block col-6 col-sm-12 {% if tab == 'ontology' %} active selected {%endif%}" style="cursor: pointer;" onclick="console.log('Ontology')">
                <span class="">Ontology</span>
            </div>

            <div class="menu-tab d-none d-sm-block col-6 col-sm-12 {% if tab == 'information' %} active selected {%endif%}" style="cursor: pointer;" onclick="console.log('Information')">
                <span class="">Information</span>
            </div>

        </div>

    </div> <!-- #sidebar-container -->

