{% load static %}

<div class="panel-body">
    <div id="msa_message"><p>Preparing alignment job...</p></div>
    <div id="header_msa"></div>
    <div id="msa_container"></div>
    <div id="header_msa_structure"></div>
    <div id="msa_structure_container"></div>
</div>

<script>
(function(){
    const jobHash = "{{  msa_file_obj.data_hash }}";
    const statusUrl = "{% url 'msa-status' job_hash='JOB_HASH_PLACEHOLDER' %}".replace("JOB_HASH_PLACEHOLDER", jobHash);
    const msaDiv = document.getElementById("msa_container");
    const msaStrucDiv = document.getElementById("msa_structure_container");

    function renderStatus(state, metadata){

        const el = document.getElementById("msa_message");

        if(state === "pending" || state === "running"){
            el.innerHTML = `
                <p>The MSA is currently being computed in the background. Depending on the length and the number of sequences, the computation will take from a few seconds up to several minutes.</p>
                <div id="loader">{%  include "includes/loading.html" %}</div>
            `;
            return;
        }

        if(state === "error"){
            el.innerHTML = `
                <p>A server error occurred. The functionality to compute MSAs is
            currently not available. Please try again later.</p>
            `;
            return;
        }

        if(state === "timeout"){
            el.innerHTML = `
                <p>This msa cannot be computed online as it is taking too much time. If you really need to have it, either compute it
        yourself on your local computer or contact us on contact@omabrowser.org.</p>
            `;
            return;
        }

        if(state === "loading"){
            let warn_message = "";
            if (metadata && metadata.subsampled) {
                warn_message = `<div class="alert alert-warning" role="alert">The MSA of this group has been subsampled from ${metadata.n_sequences} to ${metadata.n_sequences_aligned} sequences. If you need the full MSA, please <a href="{{ unaligned_url }}">download the unaligned sequences</a> and align them locally.</div> `;
            }
            el.innerHTML = `${warn_message}<div id="loading-info"><p>Loading alignment…</p></div>`;
            return;
        }
    }

    function renderMSA(seqs, msa_div, color_scheme_name){
        const opts = {};
        opts.el = msa_div;
        opts.vis = {
            conserv: false,
            overviewbox: true,
            seqlogo: true,
            labels: true,
            labelName: true,
            labelId: false
        };
        opts.conf = {
            dropImport: true,
            debug: false
        };  
        opts.zoomer = {
            labelIdLength: 20,
            rowHeight: 20,
            boxRectWidth: 2,
            autoResize: true,
            overviewboxHeight: 200,
            overviewboxWidth: "auto"
        };
        opts.bootstrapMenu = true;
        opts.menu = {
            menuFontsize: "11px"
        };
        opts.visorder = {'overviewBox': -30};

        // init msa
        const m = new msa.msa(opts);
        m.g.colorscheme.addStaticScheme("3di", {
            A: "#DF9A8C", C: "#FB72C5", D: "#B4A3D8", E: "#FF5701", F: "#D99E81",
            G: "#7491C5", H: "#94ABE1", I: "#609D7B", K: "#D7A304", L: "#FE4C8B",
            M: "#12A564", N: "#D570FD", P: "#CB99C4", Q: "#DA8E99", R: "#9487D0",
            S: "#E842FE", T: "#42A299", V: "#FB7EDD", W: "#D1A368", Y: "#17A8FD",
            X: "#C0C0C0", "-": "#FFFFFF"
        });
        m.g.colorscheme.set("scheme", color_scheme_name || "taylor");
        m.seqs.reset(seqs);
        // set max height of alignment
        const h = Math.max(window.innerHeight - opts.zoomer.overviewboxHeight - 160,
            10 * m.g.zoomer.get('rowHeight'));
        m.g.zoomer.autoHeight(h);
        m.render();
        let status_message = document.getElementById("loading-info");
        if (status_message !== null && status_message !== undefined){
            status_message.innerHTML = "";
        }
    }

    function loadMSA(url, div, color_scheme){
        fetch(url)
            .then(r => r.arrayBuffer())
            .then(buffer => {
                let fastaText;
                try{
                    fastaText = pako.ungzip(
                        new Uint8Array(buffer),
                        {to:'string'}
                    );
                }catch(e){
                    fastaText = new TextDecoder("utf-8").decode(buffer);
                }

                const seqs = msa.io.fasta.parse(fastaText);
                renderMSA(seqs, div, color_scheme);
            })
            .catch(err=>{
                div.innerText = "Failed to load MSA.";
                console.error(err);
            });
    }


    function poll(){
        fetch(statusUrl)
            .then(r => r.json())
            .then(data => {
                if(data.state === "done"){
                    renderStatus("loading", data.metadata)
                    loadMSA(data.result_url, msaDiv);
                    if (data.metadata && data.metadata.tool === "Foldmason") {
                        const header_msa = document.getElementById("header_msa");
                        header_msa.innerHTML = "<h2>Protein Sequence MSA</h2>";

                        const header_msa_struc = document.getElementById('header_msa_structure');
                        header_msa_struc.innerHTML = "<h2>Structure Alphabet MSA (3di)</h2>";

                        const msa_3di_url = data.result_url.replace(".fasta.gz", "_3di.fasta.gz");
                        loadMSA(msa_3di_url, msaStrucDiv, "3di");
                    }
                    return;
                }

                renderStatus(data.state);

                if (data.state === "pending" || data.state === "running"){
                    setTimeout(poll, 5000);
                }
            })
            .catch(err=>{
                console.error("Failed to check MSA status:", err);
                renderStatus("error");
            });
    }

    poll();

})();
</script>
