
                        <option  value="all" selected="selected">Search all</option>
                        <option  class="float-right" disabled>Protein</option>
                        <option value="entry_id" > &nbsp; Identifier</option>
                        <option value="entry_sequence">&nbsp; Protein sequence</option>
                        <option value="entry_fulltext">&nbsp; Full-text search</option>
                        <option  class="float-right" disabled>     OMA group</option>
                        <option value="group_groupid">&nbsp; Group number</option>
                        <option value="group_entryid">&nbsp; Entry Id</option>
                        <option value="group_protsequence">&nbsp; Protein seq</option>
                        <option value="group_fingerprint">&nbsp; Fingerprint</option>
                        <option  class="float-right" disabled>     HOG</option>
                        <option value="hog_groupid">&nbsp; Group number</option>
                        <option value="hog_entryid">&nbsp; Entry Id</option>
                        <option value="hog_protsequence">&nbsp; Protein seq</option>
                        <option  class="float-right" disabled>Genome</option>
                        <option value="genome_name">&nbsp; Name</option>
                        <option value="genome_taxid">&nbsp; Taxon Id</option>
                        <option  class="float-right" disabled>Ancestral Genome</option>
                        <option value="taxon_name">&nbsp; Name</option>
                        <option value="taxon_taxid">&nbsp; Taxon Id</option>
