{% load staticfiles %}

<script src="{% static 'js/vue.js' %}"></script>

<style>

    .button_search {
        height: 100%;
        background-color: transparent;
        border: none;
        margin-right: 4px;
    }

    .prefix-dropdown {
        border: none;
        background-color: transparent;
    }

    .vl {
        border-left: 2px solid grey;
        margin-left: 4px;
        margin-right: 4px;
    }

    #token-input {
        width: 100%;
        border: 1px solid #eee;
        font-size: 0.9em;
        height: 50px;
        box-sizing: border-box;
        padding: 0 0 0 10px;
        border-radius: 8px;
    }

    .token-input__tag {
        height: 30px;
        display: inline-block;
        margin-right: 10px;
        background-color: #eee;
        margin-top: 10px;
        line-height: 30px;
        padding: 0 5px;
        border-radius: 5px;
    }

    .token-input__tag > span {
        cursor: pointer;
        opacity: 0.75;
    }

    .token-input__text {
        border: none;
        outline: none;
        font-size: 0.9em;
        line-height: 50px;
        background: none;
        width: calc(40% - 48px);
    }

    .token-delete {
        margin-left: 4px;
        color: red;
    }

    #token-container{
        white-space: nowrap;
        float:left;
        max-width: 60%;
        overflow: scroll;
        display: inline;
    }

</style>


<script type="module">

    const {createApp} = Vue

    createApp({
        data() {
            return {

                prefix_error: false,
                tokens: [{query: 'HUMAN', single_term: true, prefix: "Species"}],
                prefixes: [{handle: 'Sequence'}, {handle: 'HOG'}, {handle: 'Species'},],
                prefixes_accepted: ['Sequence', 'HOG', 'Species'],
                default_prefix : 'Sequence'
            }
        },
        compilerOptions: {
            delimiters: ["$[", "]$"]
        },
        methods: {
            addToken(event) {

                event.preventDefault()
                var val = event.target.value.trim()

                var sinle_term = val[0] != '"';
                var multi_term_closed = (val.length > 1 && val[val.length - 1] == '"')
                var has_prefix = val.includes(':')
                var prefix_end = val[val.length - 1] == ':'

                var p = has_prefix ? val.split(':')[0] : this.default_prefix;

                if (has_prefix && !this.prefixes_accepted.includes(p)) {
                    this.prefix_error = true;
                    return;
                } else {
                    this.prefix_error = false;
                }


                if (val.length > 0) {

                    if (!sinle_term) {
                        if (!multi_term_closed) {

                            if (event.code == "Space") {
                                event.target.value = val + ' '
                            }
                            return
                        }
                    }

                    if (prefix_end) {
                        return
                    }

                    if (has_prefix) {

                        var tmp = val.split(':')[1]
                        sinle_term = tmp[0] != '"';
                        multi_term_closed = (val.length > 1 && tmp[tmp.length - 1] == '"')

                        if (!sinle_term) {

                            if (!multi_term_closed) {


                                if (event.code == "Space") {
                                    event.target.value = val + ' '
                                }
                                return
                            }

                            tmp = tmp.slice(1, -1);

                        }
                        val = tmp
                    }


                    this.tokens.push({query: val, single_term: sinle_term, prefix: p})
                    event.target.value = ''
                }

            },
            removeToken(index) {
                this.tokens.splice(index, 1)
            },
            removeLastToken(event) {
                if (event.target.value.length === 0) {
                    this.removeToken(this.tokens.length - 1)
                }
            },
            collect_token(){
                alert(JSON.stringify(this.tokens));
            },
            detokenize(index){
                var token = this.tokens.splice(index, 1)[0];
                var input_token_search = document.getElementById('input_token_search');
                var token_str = token.prefix + ': '
                token_str += token.single_term ? '' : '"'
                token_str += token.query
                token_str += token.single_term ? '' : '"'

                input_token_search.value =  token_str


            }
        },
    }).mount('#token-input')


</script>


<div id="token-input">

    <div id="token-container">

    <span v-for="token, index in tokens" :key="token" class="token-input__tag">

        <select class="prefix-dropdown">
            <option v-for="prefix in prefixes" :key="prefix" :selected="prefix.handle == token.prefix">
                $[ prefix.handle ]$
            </option>
        </select>

        <span class="vl"></span>


        <p style="display: inline" @click='detokenize(index)'>$[ token.query ]$</p>



        <span @click='removeToken(index)' class="token-delete">X</span>

        </select>

    </span>

        </div>

    <input type='text' placeholder="Enter your query" class='token-input__text' id="input_token_search"
           @keydown.enter='addToken'
           @keydown.space='addToken'
           @keydown.delete='removeLastToken'
    />

    <button class=" button_search float-right" @click='collect_token()'>
        <img  style='width: 24px;' src="{% static "image/logo-oma-o.svg" %}" alt="Logo OMA icon"/>
    </button>


    <p style="color: red" v-show="prefix_error"> Error: Incorrect prefix $[this.prefixes_accepted]$. </p>


</div>
