{% load staticfiles %}

<div id="oma-details-sideNav-mobile">
    <a href="#" id="toggleSidenav">
        <span>Select a Tab</span><img src="{% static 'image/icon-arrow.png' %}" alt="Arrow" />
    </a>
</div>

     <div id="toggle-me" class="toggle-visibility">&#8249;</div>

<div class="oma-details-nav-left" id="sideNavMobile">







     <ul class="genome">





         <li class="{% if tab == 'information' %}  active selected {%endif%}">
            <a href="{% url 'genome_info' genome.uniprot_species_code %}">
                <span> Genome information</span>
            </a>
        </li>


         <li class="{% if tab == 'genes' %} active selected {%endif%}">
            <a href="{% url 'genome_genes' genome.uniprot_species_code %}">
                <span> List genes</span>
            </a>
        </li>


          <li class="{% if tab == 'closest' %} active selected {%endif%}">
            <a href="{% url 'genome_closest_og' genome.uniprot_species_code %}" data-toggle="collapse" data-target="#filterSimilar">

                    <span>Related Species </span>

                <i class="material-icons">keyboard_arrow_right</i>

            </a>



          <div id="filterSimilar" class="collapse {% if tab == 'closest'%} show {%endif%}">


              <h5 style="font-size: smaller">Based on number of:</h5>

              <div class="form-group">

              <div class="form-check">
  <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1"
         onclick="window.location='{% url 'genome_closest_og' genome.uniprot_species_code %}';"
         value="option1"   {% if subtab == 'groups' %} checked {%endif%}>
  <label class="form-check-label" for="exampleRadios1">
    Shared OMA groups
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2"
         onclick="window.location='{% url 'genome_closest_hog' genome.uniprot_species_code %}';"
         value="option2" {% if subtab == 'hogs' %} checked {%endif%}>
  <label class="form-check-label" for="exampleRadios2">
    Shared HOGs
  </label>
</div>

              </div>

          </div>

          </li>


         <li class="{% if tab == 'synteny' %} active selected {%endif%}" {% if tab != 'synteny' %}
             onclick="window.location='{% url 'genome_synteny' genome.uniprot_species_code %}'" {%endif%}>
            <a href="{% url 'genome_synteny' genome.uniprot_species_code %}" {% if tab == 'synteny' %}data-toggle="collapse" data-target="#filterSynteny"{%endif%}>

                <span>Synteny

                    </span>
                {% if tab == 'synteny' %}
                <i class="material-icons">keyboard_arrow_right</i>
                {%endif%}
            </a>

            <div id="filterSynteny" class="collapse {% if tab == 'synteny'%} show {%endif%}">


                 {% if tab == 'synteny' %}

                <form id="form_GP">
                        <div class="form-group row hide d-none">
                            <label for="g1_name" class="col-md-2 offset-md-1 control-label">Genome 1</label>
                            <div class="col-sm-7">
                                <input id="g1_name" type="text" class="form-control typeahead" name="g1_name">

                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="g2_name" class=" control-label">Enter second genome name: </label>
                            <div class="">
                                <input id="g2_name" type="text" class="form-control typeahead" name="g2_name">
                                    <small id="emailHelp" class="form-text text-muted">Example: HUMAN or Homo sapiens</small>

                            </div>
                        </div>


                    </form>




                <div class="dotPlotSubmit">

                    <hr>

                <form id="form_DP">


                                <div class="form-row">
                                    <div class="form-group col-md-12" id="fg_first_chr">
                                        <label class="col-sm-12" for="selectchr1"></label>
                                        <select style="margin-left: 15px;" id="selectchr1"></select>
                                    </div>
                                    <div class="form-group col-md-12" id="fg_second_chr">
                                        <label class="col-sm-12" for="selectchr2"></label>
                                        <select style="margin-left: 15px;" id="selectchr2"></select>
                                    </div>
                                </div>


                            </form>


                <button  class="btn btn-primary" form="form_DP" type="submit"  value="Submit" id="launch_PP2" >Launch
                                            DotPlot
                                        </button>



                    </div>


                    {%endif%}

            </div>

        </li>




     </ul>
</div>





