<!-- Sidebar / menu -->

<style>

    [data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}


</style>



        <div id="sidebar-container" class="col-sm-12 col-md-3 gene-orthology full-height" > <!-- #sidebar-container -->

        <button href="#accordion" class="btn btn-default d-md-none col-6 col-sm-12 " data-toggle="collapse">Select a tab</button>


            <div class="" id="accordion">
                <div class="menu-tab  col-6 col-sm-12 {% if tab == 'orthologs' %} active selected {%endif%} " style="cursor: pointer;" {% if tab != 'orthologs' %}  onclick="window.location='{% url 'pairs' entry.omaid %}'" {%endif%}
                     {% if tab == 'orthologs' %} data-toggle="collapse" data-target="#collapseOrthology" aria-expanded="true" aria-controls="#collapseOrthology"{%endif%}>
                    <span class=""><a href="{% url 'pairs' entry.omaid %}" >Orthologs {% if nr_vps %}<span class="badge badge-info">{{nr_vps}}</span>{% endif %}</a>  <i class="fa float-right" aria-hidden="true"> </i> </span>
                </div>

                <div id="collapseOrthology" class="collapse pt-0{% if tab == 'orthologs' %} show{%endif%}" aria-labelledby="headingOne" data-parent="#accordion">

                    <div class="card-body pl-4 py-2">
                        <h6>Filter by Taxon</h6>

                        <div class="form-check pl-4">
                            <div>
                                <input type="checkbox" class="form-check-input" id="mammalsFilter">
                                <label class="form-check-label" for="mammalsFilter">
                                    Mammals
                                </label>
                            </div>

                            <div>
                                <input type="checkbox" class="form-check-input" id="vertebratesFilter">
                                <label class="form-check-label" for="vertebratesFilter">
                                    Vertebrates
                                </label>
                            </div>

                            <div>
                                <input type="checkbox" class="form-check-input" id="customFilter1">
                                <label class="form-check-label" for="customFilter1">
                                    Custom 1
                                </label>
                            </div>

                        </div>

                        <div class="dropdown-divider pl-0"></div>

                        <h6>Display only:</h6>

                        <div class="form-check pl-4">

                            <div>
                                <input type="checkbox" class="form-check-input" id="hogFilter">
                                <label class="form-check-label" for="hogFilter">
                                    HOG
                                </label>
                            </div>

                            <div>
                                <input type="checkbox" class="form-check-input" id="omagroupFilter">
                                <label class="form-check-label" for="omagroupFilter">
                                    OMA Group
                                </label>
                            </div>

                            <div>
                                <input type="checkbox" class="form-check-input" id="pairwiseFilter">
                                <label class="form-check-label" for="pairwiseFilter">
                                    Pairwise
                                </label>
                            </div>

                        </div>

                    </div>

                </div>


                <div  class="menu-tab col-6 col-sm-12 {% if tab == 'geneinformation' %} active selected {%endif%}"  style="cursor: pointer;"  {% if tab != 'geneinformation' %}  onclick="window.location='{% url 'entry_info' entry.omaid %}'" {%endif%} onclick="console.log('Gene information')">

                    <span class=""><a href="{% url 'entry_info' entry.omaid %}" >Gene information</a></span>
                </div>



                <div class="menu-tab  col-6 col-sm-12 {% if tab == 'synteny' %} active selected {%endif%}" style="cursor: pointer;" {% if tab != 'synteny' %}  onclick="window.location='{% url 'synteny' entry.omaid 4 4 %}'" {%endif%}
                     {% if tab == 'synteny' %} data-toggle="collapse" data-target="#collapseSynteny" aria-expanded="true" aria-controls="#collapseSynteny"{%endif%}>
                    <span class=""><a href="{% url 'synteny' entry.omaid 4 4 %}" >Local synteny</a> <i class="fa float-right" aria-hidden="true"></i>  </span>
                </div>

                <div id="collapseSynteny" class="collapse  pt-0{% if tab == 'synteny' %} show{%endif%}" aria-labelledby="headingOne" data-parent="#accordion">

                    <div class="card-body pl-4 py-2">
                        <h6>Filter by Taxon</h6>
                        <p class="small">These should be loaded from django side?</p>
                        <div class="form-check pl-4">
                            <div>
                                <input type="checkbox" class="form-check-input" id="mammalsFilter">
                                <label class="form-check-label" for="mammalsFilter">
                                    Mammals
                                </label>
                            </div>

                            <div>
                                <input type="checkbox" class="form-check-input" id="vertebratesFilter">
                                <label class="form-check-label" for="vertebratesFilter">
                                    Vertebrates
                                </label>
                            </div>

                            <div>
                                <input type="checkbox" class="form-check-input" id="customFilter1">
                                <label class="form-check-label" for="customFilter1">
                                    Custom 1
                                </label>
                            </div>

                        </div>

                    </div>

                </div>


            </div>

        </div> <!-- #sidebar-container -->

