{% load staticfiles %}

<div id="oma-details-sideNav-mobile">
    <a href="#" id="toggleSidenav">
        <span>Select a Tab</span><img src="{% static "image/icon-arrow.png" %}" alt="Arrow" />
    </a>
</div>


<div class="oma-details-nav-left" id="sideNavMobile">

    <ul class="oma-group">
        <li class="{% if tab == 'members' %} active selected {%endif%}" {% if tab != 'members' %}
             onclick="window.location='{% url 'omagroup_members' omagroup.group_nbr %}'" {%endif%}>
            <a href="{% url 'omagroup_members' omagroup.group_nbr %}" {% if tab == 'members' %}data-toggle="collapse" data-target="#filterOrthologs"{%endif%}>

                <span>Members

                {% if nr_member %}

                <span class="badge badge-info">{{nr_member}}</span>
                {% endif %}
                    </span>
                {% if tab == 'members' %}
                <i class="material-icons">keyboard_arrow_right</i>
                {%endif%}


            </a>

            <div id="filterOrthologs" class="collapse">

                <div id="filter-taxon-container"></div>
                <div>

            </div>

        </li>

         <li class="{% if tab == 'align' %} active selected {%endif%}">
            <a href="{% url 'omagroup_align' omagroup.group_nbr %}">
                <span>Alignment</span>

            </a>

        </li>


           </a>

        </li>


         <li class="{% if tab == 'similar' %} active selected {%endif%}" {% if tab != 'similar' %}
             onclick="window.location='{% url 'omagroup_similar_ontology' omagroup.group_nbr %}'" {%endif%}>
            <a href="{% url 'omagroup_similar_ontology' omagroup.group_nbr %}" {% if tab == 'similar' %}data-toggle="collapse" data-target="#filterSimilar"{%endif%}>

                <span>Similar OMA GROUPs

                    </span>
                {% if tab == 'similar' %}
                <i class="material-icons">keyboard_arrow_right</i>
                {%endif%}
            </a>



          <div id="filterSimilar" class="collapse {% if tab == 'similar'%} show {%endif%}">


              <div class="card">

                  Show closest oma groups based on:

                  <a class="btn btn-outline-dark btn-sm" href="{% url 'omagroup_similar_ontology' omagroup.group_nbr %}" role="button">Shared GO annotations</a>
                  <br>
                  <a class="btn btn-outline-dark btm-sm" href="{% url 'omagroup_similar_profile' omagroup.group_nbr %}" role="button">Shared Species</a>
                  <br>
                  <a class="btn btn-outline-dark btm-sm" href="{% url 'omagroup_similar_pairwise' omagroup.group_nbr %}" role="button">Share orthologs</a>

              </div>


          </div>

          </li>




    </ul>

</div>









