{% load staticfiles %}

<div id="oma-details-sideNav-mobile">
    <a href="#" id="toggleSidenav">
        <span>Select a Tab</span><img src="{% static 'image/icon-arrow.png' %}" alt="Arrow" />
    </a>
</div>

    <div id="toggle-me" class="toggle-visibility">&#8249;</div>

<div class="oma-details-nav-left" id="sideNavMobile">



     <ul class="genome">





         <li class="{% if tab == 'information' %}  active selected {%endif%}">
            <a href="{% url 'ancestralgenome_info' genome_name %}">
                <span> Genome information</span>
            </a>
        </li>


      <li class="{% if tab == 'genes' %} active selected {%endif%}" {% if tab != 'genes' %}
             onclick="window.location='{% url 'ancestralgenome_genes' genome_name %}'" {%endif%}>

           <a href="{% url 'ancestralgenome_genes' genome_name %}" {% if tab == 'genes' %}data-toggle="collapse" aria-expanded="true"  data-target="#filterHogs"{%endif%}>

                <span>Ancestral genes

                    </span>

           <i class="material-icons">keyboard_arrow_right</i>

            </a>

            <div id="filterHogs" class="submenu collapse {% if tab == 'genes'%} show {%endif%}" >


                {% if tab == 'genes' %}

                    <h5 style="font-size: smaller" class="">Phylogenetic filter:</h5>


                    <!--Genome selector -->
                    <div  id="genome_selector" style="padding-left:0px !important">

                    <p class="text-center small" style="margin-bottom: 0px !important"> Choose a target genome</p>



                    <div class="btn-group-vertical " role="group" aria-label="Vertical button group" style=" display: block;margin: 0 auto;text-align: center;   ">
    <div class="btn-group dropup" role="group" style="padding-bottom: 0px !important;">
      <button id="btnGroupVerticalDrop1" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <small>Ancestor genome</small>
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="background-color:#FFFFFF !important;position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">

          {% for ancestor in lineage reversed %}
    <button class="dropdown-item" type="button" onclick="select_genome('{{ancestor}}')">{{ ancestor }}</button>
{% endfor %}

      </div>
    </div>

    <div class="btn-group " role="group" style="padding-top: 0px !important;">
      <button id="btnGroupVerticalDrop2" style="background-color: rgba(239, 239, 239, 0.2) !important; color:rgba(100, 100, 100, 0.5) "  type="button" class="btn btn-sm dropdown-toggle"  aria-haspopup="true" aria-expanded="false"
          data-toggle="tooltip" data-placement="bottom" title="Downward comparaison will be available soon"
      >
          <small>Descendant genome</small>
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop2">

    <button class="dropdown-item" type="button" onclick="select_genome('desc')">desc</button>
      </div>
    </div>

  </div>




                    </div>

                    <!-- Genome selected -->
                    <div id="genome_selected"  class="text-center" style="display: none">

                        <p class="text-center small" style="margin-bottom: 8px"> Target genome set on <span style="font-weight: bold" id="selected_genome_name">Error </span></p>


                <button type="button" class="btn btn-sm py-0" onclick="reset_selection()"> <small>Reset target genome</small> </button>


                    </div>

                    <!--Table filtering -->
                    <div id="table_filter" style="padding-left:16px !important;display: none">

                        <p class=" small" style="margin-bottom:4px !important;"> <b>Events of interest:</b></p>

                   <div class="form-check pl-4 " >

                    <div >
                        <input type="checkbox" class="form-check-input" id="Retained" onclick="set_filter_retained()" checked>
                        <label  class="form-check-label small" for="Retained" >
                            Retained <span class="badge badge-pill badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ncestral genes that have not been duplicated, lost or gained in between two the target ancestor and the current genome">?</span>
                        </label>
                    </div>

                    <div>
                        <input type="checkbox" class="form-check-input" id="Duplicated" onclick="set_filter_duplicated()" checked>
                        <label class="form-check-label small" for="Duplicated">
                            Duplicated  <span class="badge badge-pill badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ancestral genes that have duplicated between the target level and the current level">?</span>
                        </label>
                    </div>

                     <div>
                        <input type="checkbox" class="form-check-input " id="Gained" onclick="set_filter_gained()" checked>
                        <label class="form-check-label small" for="Gained">
                            Gained  <span class="badge badge-pill  badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ancestral gene that have emerged in between the oldest and the most recent level, HOGs shown come from the most recent taxonomic range selected">?</span>
                        </label>
                    </div>

                    <div>
                        <input type="checkbox" class="form-check-input" id="Lost" onclick="set_filter_lost()" checked>
                        <label class="form-check-label small" for="Lost" style="color: red">
                            <b>Lost</b>  <span class="badge badge-pill badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ancestral gene that have been lost in between the oldest and the most recent level, HOGs shown come from the least recent taxonomic range selected">?</span>
                        </label>
                    </div>





                </div>


                    <div>
                        <button type="button" style="margin: 8px;padding: 18px;" class="btn py-0" onclick="run_go()"> <small>Run GO Enrichement</small> </button>
                    </div>


                    </div>


            </div>
{%endif%}
        </li>

         <li class="{% if tab == 'synteny' %}  active selected {%endif%}">
            <a href="{% url 'ancestralgenome_synteny' genome_name %}">
                <span> Ancestral Gene Order</span>
            </a>
        </li>





     </ul>
</div>



<script>

    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

    function select_genome(genome, no_reload ){

         no_reload = (typeof no_reload === 'undefined') ? false : no_reload;

         document.getElementById("selected_genome_name").innerHTML =  genome

         $("#genome_selector").hide()
         $("#genome_selected").show()
         $("#table_filter").show()


         if (no_reload){return}


         var new_url = "{{ api_url|safe }}" + "&compare_with=" + genome

             hide_column_event = false

        need_apply_filter = true

         $('#grpTable').bootstrapTable('refresh', {url: new_url  } )

         $('#grpTable').bootstrapTable('showColumn', 'event');



     }

    function reset_selection(){

         $("#genome_selector").show()
         $("#genome_selected").hide()
         $("#table_filter").hide()


        hide_column_event = true

        need_apply_filter = true

         $('#grpTable').bootstrapTable('refresh', {url:  "{{api_url|safe}}"  } )
         $('#grpTable').bootstrapTable('hideColumn', 'event');






     }


</script>





