{% load staticfiles %}

<div id="oma-details-sideNav-mobile">
    <a href="#" id="toggleSidenav">
        <span>Select a Tab</span><img src="{% static "image/icon-arrow.png" %}" alt="Arrow" />
    </a>
</div>


<div class="oma-details-nav-left" id="sideNavMobile">
    <div id="toggle-me" class="toggle-visibility">&#8249;</div>

    <ul class="oma-group">
        <li class="{% if tab == 'members' %} active selected {%endif%}" {% if tab != 'members' %}
             onclick="window.location='{% url 'omagroup_members' omagroup.group_nbr %}'" {%endif%}>
            <a href="{% url 'omagroup_members' omagroup.group_nbr %}" {% if tab == 'members' %}data-toggle="collapse" data-target="#filterOrthologs"{%endif%}>

                <span>Members

                {% if nr_member %}

                <span class="badge badge-info">{{nr_member}}</span>
                {% endif %}
                    </span>
                {% if tab == 'members' %}
                <i class="material-icons">keyboard_arrow_right</i>
                {%endif%}


            </a>

            <div id="filterOrthologs" class="collapse">

                <div id="filter-taxon-container"></div>
                <div>

            </div>

        </li>

         <li class="{% if tab == 'align' %} active selected {%endif%}">
            <a href="{% url 'omagroup_align' omagroup.group_nbr %}">
                <span>Alignment</span>

            </a>

        </li>



         <li class="{% if tab == 'ontology' %} active selected {%endif%}">
            <a href="{% url 'omagroup_ontology' omagroup.group_nbr %}">
                <span>Gene Ontology</span>

            </a>

        </li>


         <li class="{% if tab == 'similar' %} active selected {%endif%}" {% if tab != 'similar' %}
             onclick="window.location='{% url 'omagroup_similar_pairwise' omagroup.group_nbr %}'" {%endif%}>
            <a href="{% url 'omagroup_similar_pairwise' omagroup.group_nbr %}" {% if tab == 'similar' %}data-toggle="collapse" data-target="#filterSimilar"{%endif%}>

                <span>Similar OMA groups

                    </span>
                {% if tab == 'similar' %}
                <i class="material-icons">keyboard_arrow_right</i>
                {%endif%}
            </a>



          <div id="filterSimilar" class="collapse {% if tab == 'similar'%} show {%endif%}">



              <h5>Based on number of:</h5>

              <div class="form-group">


                  <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
         onclick="window.location='{% url 'omagroup_similar_pairwise' omagroup.group_nbr %}';"
         value="option2" {% if subtab == 'pairwise' %} checked {%endif%}>
  <label class="form-check-label" for="exampleRadios2">
   Shared orthologs
  </label>
</div>


                  <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
         onclick="window.location='{% url 'omagroup_similar_profile' omagroup.group_nbr %}';"
         value="option1"   {% if subtab == 'profile' %} checked {%endif%}>
  <label class="form-check-label" for="exampleRadios1">
    Shared species
  </label>
</div>


              </div>






          </div>

          </li>




    </ul>

</div>









