{% load staticfiles %}

<div id="oma-details-sideNav-mobile">
    <a href="#" id="toggleSidenav">
        <span>Select a Tab</span><img src="{% static "image/icon-arrow.png" %}" alt="Arrow" />
    </a>
</div>


<div class="oma-details-nav-left" id="sideNavMobile">

    <ul class="oma-group">


         <li class="{% if tab == 'iham' %} active selected {%endif%}">
                <a href="{% if level != None %}  {% url 'hog_viewer' hog_id  level%}  {%else%}  {% url 'hog_viewer' hog_id  %} {%endif%} " >
                <span>Graphical viewer</span>

            </a>

        </li>

        <li class="{% if tab == 'table' %} active selected {%endif%}">
                <a href="{% if level != None %}  {% url 'hog_table' hog_id  level%}  {%else%}  {% url 'hog_table' hog_id  %} {%endif%} " >
                <span>Table view</span>

            </a>

        </li>

        <li class="{% if tab == 'similar' %} active selected {%endif%}">
                <a href="{% if level != None %}  {% url 'hog_similar' hog_id  level%}  {%else%}  {% url 'hog_similar' hog_id  %} {%endif%} " >
                <span>Similar HOGs</span>

            </a>

        </li>


        <li class="{% if tab == 'info' %} active selected {%endif%}">
            <a href="{% if level != None %}  {% url 'hog_info' hog_id  level%}  {%else%}  {% url 'hog_info' hog_id  %} {%endif%} " >
                <span>Information</span>

            </a>

        </li>


    </ul>

</div>









