{% load staticfiles %}

<div id="oma-details-sideNav-mobile">
    <a href="#" id="toggleSidenav">
        <span>Select a Tab</span><img src="{% static "image/icon-arrow.png" %}" alt="Arrow" />
    </a>
</div>


<div class="oma-details-nav-left" id="sideNavMobile">

    <ul class="gene-orthology">
        <li class="{% if tab == 'orthologs' %} active selected {%endif%}" {% if tab != 'orthologs' %}
             onclick="window.location='{% url 'pairs' entry.omaid %}'" {%endif%}>
            <a href="{% url 'pairs' entry.omaid %}" {% if tab == 'orthologs' %}data-toggle="collapse" data-target="#filterOrthologs"{%endif%}>

                <span>Orthologs

                {% if nr_vps %}

                <span class="badge badge-info">{{nr_vps}}</span>
                {% endif %}
                    </span>
                {% if tab == 'orthologs' %}
                <i class="material-icons">keyboard_arrow_right</i>
                {%endif%}
            </a>

            <div id="filterOrthologs" class="collapse">


                {% if tab == 'orthologs' %}

                <div id="filter-taxon-container"></div>
                <div>


                    {%endif%}


                <div class="dropdown-divider pl-0"></div>

                <h5>Filter by inference types:</h5>

                <div class="form-check pl-4">

                    <div >
                        <input type="checkbox" class="form-check-input" id="pairwiseFilter">
                        <label class="form-check-label" for="pairwiseFilter" >
                            OMA pairs <br> <span class="small">(inferred using OMA algorithm)</span>
                        </label>
                    </div>

                    <div>
                        <input type="checkbox" class="form-check-input" id="hogFilter">
                        <label class="form-check-label" for="hogFilter">
                            HOG <br> <span class="small">(inferred from clustering)</span>
                        </label>
                    </div>

                    <div>
                        <input type="checkbox" class="form-check-input" id="omagroupFilter">
                        <label class="form-check-label" for="omagroupFilter">
                            OMA Group <br>  <span class="small">(inferred from clustering)</span>
                        </label>
                    </div>



                </div>

            </div>

        </li>

        <li class="{% if tab == 'paralogs' %} active selected {%endif%}" {% if tab != 'paralogs' %}
             onclick="window.location='{% url 'pair_paralogs' entry.omaid %}'" {%endif%}>
            <a href="{% url 'pair_paralogs' entry.omaid %}" {% if tab == 'paralogs' %}data-toggle="collapse" data-target="#filterParalogs"{%endif%}>
                <span>Paralogs
                {% if nr_pps %}
                <span class="badge badge-info">{{nr_pps}}</span>
                {% endif %}
                    </span>
            {% if tab == 'paralogs' %}
                <i class="material-icons">keyboard_arrow_right</i>
                {%endif%}
            </a>


             <div id="filterParalogs" class="collapse">


                 {% if tab == 'paralogs' %}

                <div id="filter-taxon-container"></div>
                <div>

                    {%endif%}

            </div>

        </li>

        <li class="{% if tab == 'geneinformation' %} active selected {%endif%}">
            <a href="{% url 'entry_info' entry.omaid %}">
                <span>Gene information</span>

            </a>

        </li>

        <li class="{% if tab == 'isoform' %} active selected {%endif%}">
            <a href="{% url 'entry_isoform' entry.omaid %}">
                <span>Isoforms</span>

            </a>

        </li>

        <li class="{% if tab == 'goa' %} active selected {%endif%}">
            <a href="{% url 'entry_goa' entry.omaid %}">
                <span>GO Annotations</span>

            </a>

        </li>

        <li class="{% if tab == 'sequences' %} active selected {%endif%}">
            <a href="{% url 'entry_sequences' entry.omaid %}">
                <span>Sequences</span>

            </a>

        </li>

        <li class="{% if tab == 'synteny' %} active selected {%endif%}">
            <a href="{% url 'synteny' entry.omaid 4 4 %}">
                <span>Local synteny</span>

            </a>

        </li>

    </ul>

</div>







