{% load staticfiles %}

<div id="oma-details-sideNav-mobile">
    <a href="#" id="toggleSidenav">
        <span>Select a Tab</span><img src="{% static 'image/icon-arrow.png' %}" alt="Arrow" />
    </a>
</div>

    <div id="toggle-me" class="toggle-visibility">&#8249;</div>

<div class="oma-details-nav-left" id="sideNavMobile">



     <ul class="genome">





         <li class="{% if tab == 'information' %}  active selected {%endif%}">
            <a href="{% url 'ancestralgenome_info' genome_name %}">
                <span> Genome information</span>
            </a>
        </li>


      <li class="{% if tab == 'genes' %} active selected {%endif%}" {% if tab != 'genes' %}
             onclick="window.location='{% url 'ancestralgenome_genes' genome_name %}'" {%endif%}>

           <a href="{% url 'ancestralgenome_genes' genome_name %}" {% if tab == 'genes' %}data-toggle="collapse" aria-expanded="true"  data-target="#filterHogs"{%endif%}>

                <span>Ancestral genes

                    </span>

           <i class="material-icons">keyboard_arrow_right</i>

            </a>

            <div id="filterHogs" class="submenu collapse {% if tab == 'genes'%} show {%endif%}" >


                {% if tab == 'genes' %}

                    <h5 style="font-size: smaller" class="">Phylogenetic filter:</h5>

                    <!-- Genome selected -->
                    <div id="genome_selected"  class="text-center" >

                        <p class="text-center small" style="margin-bottom: 8px"> Events w.r.t. parent genome:  <span style="font-weight: bold" id="selected_genome_name">{{ lineage.0 }} </span></p>

                    </div>

                    <!--Table filtering -->
                    <div id="table_filter" style="padding-left:16px !important;display: none">

                        <p class=" small" style="margin-bottom:4px !important;"> <b>Evolutionary events of interest:</b></p>

                   <div class="form-check pl-4 " >

                    <div >
                        <input type="checkbox" class="form-check-input" id="Retained" onclick="set_filter_retained()" checked>
                        <label  class="form-check-label small" for="Retained" >
                            Retained <span class="badge badge-pill badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ncestral genes that have not been duplicated, lost or gained in between two the target ancestor and the current genome">?</span>
                        </label>
                    </div>

                    <div>
                        <input type="checkbox" class="form-check-input" id="Duplicated" onclick="set_filter_duplicated()" checked>
                        <label class="form-check-label small" for="Duplicated">
                            Duplicated  <span class="badge badge-pill badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ancestral genes that have duplicated between the target level and the current level">?</span>
                        </label>
                    </div>

                     <div>
                        <input type="checkbox" class="form-check-input " id="Gained" onclick="set_filter_gained()" checked>
                        <label class="form-check-label small" for="Gained">
                            Gained  <span class="badge badge-pill  badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ancestral gene that have emerged in between the oldest and the most recent level, HOGs shown come from the most recent taxonomic range selected">?</span>
                        </label>
                    </div>

                    <div>
                        <input type="checkbox" class="form-check-input" id="Lost" onclick="set_filter_lost()">
                        <label class="form-check-label small" for="Lost" style="color: red">
                            <b>Lost</b>  <span class="badge badge-pill badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ancestral gene that have been lost in between the oldest and the most recent level, HOGs shown come from the least recent taxonomic range selected">?</span>
                        </label>
                    </div>





                </div>


                    <div>
                        <button type="button" style="margin: 8px;padding: 18px;" class="btn py-0" onclick="run_go()"> <small>Run GO Enrichement</small> </button>
                    </div>


                    </div>


            </div>
{%endif%}
        </li>

         <li class="{% if tab == 'synteny' %}  active selected {%endif%}">
            <a href="{% url 'ancestralgenome_synteny' genome_name %}">
                <span> Ancestral Gene Order</span>
            </a>
        </li>





     </ul>
</div>



<script>

    var _side_bar_genome_seleted = null;

    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

</script>





