{% load static %}

<div id="oma-details-sideNav-mobile">
    <a href="#" id="toggleSidenav">
        <span>Select a Tab</span><img src="{% static 'image/icon-arrow.png' %}" alt="Arrow" />
    </a>
</div>

     <div id="toggle-me" class="toggle-visibility">&#8249;</div>

<div class="oma-details-nav-left" id="sideNavMobile">







     <ul class="genome">





         <li class="{% if tab == 'information' %}  active selected {%endif%}">
            <a href="{% url 'genome_info' genome.uniprot_species_code %}">
                <span> Genome information</span>
            </a>
        </li>

      <li class="{% if tab == 'chromosome' %}  active selected {%endif%}">
            <a href="{% url 'genome_chromosome' genome.uniprot_species_code %}">
                <span> Chromosome viewer</span>
            </a>
        </li>

        <!--
         <li class="{% if tab == 'genes' %} active selected {%endif%}">
            <a href="{% url 'genome_genes' genome.uniprot_species_code %}">
                <span> List genes</span>
            </a>
        </li>

        -->

     <li class="{% if tab == 'genes' %} active selected {%endif%}" {% if tab != 'genes' %}
             onclick="window.location='{% url 'genome_genes' genome.uniprot_species_code %}'" {%endif%}>

           <a href="{% url 'genome_genes' genome.uniprot_species_code %}" {% if tab == 'genes' %}data-toggle="collapse" aria-expanded="true"  data-target="#filterHogs"{%endif%}>

                <span>List genes </span>

           <i class="material-icons">keyboard_arrow_right</i>

            </a>

            <div id="filterHogs" class="submenu collapse {% if tab == 'genes'%} show {%endif%}" >


                {% if tab == 'genes' %}


                    <h5 style="font-size: smaller" class="">Phylogenetic filter:</h5>

                    <!-- Genome selected -->
                    <div id="genome_selected"  class="text-center" >
                        {% if level %}
                        <p class="text-center small" style="margin-bottom: 8px"> Events w.r.t. genome:  <span style="font-weight: bold" id="selected_genome_name">{{ level }} </span></p>
                        {% elif parent_level %}
                        <p class="text-center small" style="margin-bottom: 8px"> Events w.r.t. parent genome:  <span style="font-weight: bold" id="selected_genome_name">{{ parent_level }} </span></p>
                        {% endif %}

                    </div>

                    <!--Table filtering -->
                    <div id="table_filter" style="padding-left:16px !important;display: none">

                        <p class=" small" style="margin-bottom:4px !important;"> <b>Evolutionary events of interest:</b></p>

                   <div class="form-check pl-4 " >

                    <div >
                        <input type="checkbox" class="form-check-input" id="Retained" onclick="set_filter_retained()" checked>
                        <label  class="form-check-label small" for="Retained" >
                            Retained <span class="badge badge-pill badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ancestral genes that have not been duplicated, lost or gained from the parent genome (ancestor of ancestral genome) to the selected browsed ancestral genome.

">?</span>
                        </label>
                    </div>

                    <div>
                        <input type="checkbox" class="form-check-input" id="Duplicated" onclick="set_filter_duplicated()" checked>
                        <label class="form-check-label small" for="Duplicated">
                            Duplicated  <span class="badge badge-pill badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ancestral genes that have duplicated between the target level and the current level">?</span>
                        </label>
                    </div>

                     <div>
                        <input type="checkbox" class="form-check-input " id="Gained" onclick="set_filter_gained()" checked>
                        <label class="form-check-label small" for="Gained">
                            Gained  <span class="badge badge-pill  badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ancestral gene that have emerged in between the oldest and the most recent level, HOGs shown come from the most recent taxonomic range selected">?</span>
                        </label>
                    </div>

                    <div>
                        <input type="checkbox" class="form-check-input" id="Lost" onclick="set_filter_lost()">
                        <label class="form-check-label small" for="Lost" style="color: red">
                            <b>Lost</b>  <span class="badge badge-pill badge-secondary"  data-toggle="tooltip" data-placement="top" title="All ancestral gene that have been lost in between the oldest and the most recent level, HOGs shown come from the least recent taxonomic range selected">?</span>
                        </label>
                    </div>





                </div>


                    <div>
                        <button type="button" style="margin: 8px;padding: 18px;" class="btn py-0" onclick="run_go()"> <small>Run GO Enrichment</small> </button>
                    </div>


                    </div>





            </div>
{%endif%}
        </li>

          <li class="{% if tab == 'closest' %} active selected {%endif%}">
            <a href="{% url 'genome_closest_og' genome.uniprot_species_code %}" data-toggle="collapse" {% if tab == 'closest' %}aria-expanded="true"{%endif%} data-target="#filterSimilar">

                    <span>Related Species </span>

                <i class="material-icons">keyboard_arrow_right</i>

            </a>



          <div id="filterSimilar" class="submenu collapse {% if tab == 'closest'%} show {%endif%}">

          <div>


              <h5 style="font-size: smaller">Based on number of:</h5>

              <div class="form-group">

              <div class="form-check">
  <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1"
         onclick="window.location='{% url 'genome_closest_og' genome.uniprot_species_code %}';"
         value="option1"   {% if subtab == 'groups' %} checked {%endif%}>
  <label class="form-check-label" for="exampleRadios1">
    Shared OMA groups
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2"
         onclick="window.location='{% url 'genome_closest_hog' genome.uniprot_species_code %}';"
         value="option2" {% if subtab == 'hogs' %} checked {%endif%}>
  <label class="form-check-label" for="exampleRadios2">
    Shared HOGs
  </label>
</div>

              </div>

          </div>
          </div>


          </li>


     <!--

        <li class="{% if tab == 'gene_order' %}  active selected {%endif%}">
            <a href="{% url 'genome_gene_order' genome.uniprot_species_code %}">
                <span> Gene Order</span>
            </a>
        </li>

        -->


         <li class="{% if tab == 'synteny' %} active selected {%endif%}" {% if tab != 'synteny' %}
             onclick="window.location='{% url 'genome_synteny' genome.uniprot_species_code %}'" {%endif%}>
            <a href="{% url 'genome_synteny' genome.uniprot_species_code %}" {% if tab == 'synteny' %}data-toggle="collapse" aria-expanded="true" data-target="#filterSynteny"{%endif%}>

                <span>Synteny

                    </span>
                {% if tab == 'synteny' %}
                <i class="material-icons">keyboard_arrow_right</i>
                {%endif%}
            </a>

            <div id="filterSynteny" class="submenu collapse {% if tab == 'synteny'%} show {%endif%}">


                 {% if tab == 'synteny' %}

                <form id="form_GP">
                        <div class="form-group row hide d-none">
                            <label for="g1_name" class="col-md-2 offset-md-1 control-label">Genome 1</label>
                            <div class="col-sm-7">
                                <input id="g1_name" type="text" class="form-control typeahead" name="g1_name">

                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="g2_name" class=" control-label">Enter second genome name: </label>
                            <div class="">
                                <input id="g2_name" type="text" class="form-control typeahead" name="g2_name">
                                    <small id="emailHelp" class="form-text text-muted">Example: HUMAN or Homo sapiens</small>

                            </div>
                        </div>


                    </form>




                <div class="dotPlotSubmit">

                    <hr>

                <form id="form_DP">


                                <div class="form-row">
                                    <div class="form-group col-md-12" id="fg_first_chr">
                                        <label class="col-sm-12" for="selectchr1"></label>
                                        <select style="margin-left: 15px;" id="selectchr1"></select>
                                    </div>
                                    <div class="form-group col-md-12" id="fg_second_chr">
                                        <label class="col-sm-12" for="selectchr2"></label>
                                        <select style="margin-left: 15px;" id="selectchr2"></select>
                                    </div>
                                </div>


                            </form>


                <button  class="btn btn-primary" form="form_DP" type="submit"  value="Submit" id="launch_PP2" >Launch
                                            DotPlot
                                        </button>



                    </div>


                    {%endif%}

            </div>

        </li>




     </ul>
</div>






