{% load staticfiles %}

<div id="oma-details-sideNav-mobile">
    <a href="#" id="toggleSidenav">
        <span>Select a Tab</span><img src="{% static 'image/icon-arrow.png' %}" alt="Arrow" />
    </a>
</div>

    <div id="toggle-me" class="toggle-visibility">&#8249;</div>

<div class="oma-details-nav-left" id="sideNavMobile">



     <ul class="genome">





         <li class="{% if tab == 'information' %}  active selected {%endif%}">
            <a href="{% url 'ancestralgenome_info' genome_name %}">
                <span> Genome information</span>
            </a>
        </li>


         <li class="{% if tab == 'genes' %} active selected {%endif%}">
            <a href="{% url 'ancestralgenome_genes' genome_name %}">
                <span> Ancestral genes</span>
            </a>
        </li>


     </ul>
</div>





