{% load staticfiles %}



<div id="oma-details-sideNav-mobile">
    <a href="#" id="toggleSidenav">
        <span>Select a Tab</span><img src="{% static "image/icon-arrow.png" %}" alt="Arrow" />
    </a>
</div>




 <div id="toggle-me" class="toggle-visibility">&#8249;</div>

<div class="oma-details-nav-left" id="sideNavMobile">



    <ul class="oma-group">


         <li class="{% if tab == 'iham' %} active selected {%endif%}">
                <a href="{% if level != None %}  {% url 'hog_viewer' hog_id  level%}  {%else%}  {% url 'hog_viewer' hog_id  %} {%endif%} " >
                <span>Graphical viewer</span>

            </a>

        </li>

        <li class="{% if tab == 'table' %} active selected {%endif%}">
                <a href="{% if level != None %}  {% url 'hog_table' hog_id  level%}  {%else%}  {% url 'hog_table' hog_id  %} {%endif%} " >
                <span>Members</span> </a>



        </li>

        <li class="{% if tab == "msa" %} active selected {% endif %}">
            <a href="{% if level != None %} {% url 'hog_msa' hog.hog_id hog.level %}{% else %}{% url 'hog_msa' hog.hog_id %}{% endif %}">
            <span>Alignment</span> </a>
        </li>


        <li class="{% if tab == 'synteny' %} active selected {%endif%}">
                <a href="{% if level != None %}  {% url 'hog_synteny' hog_id  level%}  {%else%}  {% url 'hog_synteny' hog_id  %} {%endif%} " >
                <span>Ancestral synteny</span>

            </a>

        </li>


         <li class="{% if tab == 'similar' %} active selected {%endif%}">
            <a data-toggle="collapse" {% if tab == 'similar'%} aria-expanded="true" {%endif%} data-target="#filterSimilar">

                <span>Similar HOGs

                    </span>

                <i class="material-icons">keyboard_arrow_right</i>

            </a>



          <div id="filterSimilar" class="submenu collapse {% if tab == 'similar'%} show {%endif%}">



              <h5>Based on:</h5>


  <ul class="list-group list-group-flush">
     <a style="{% if subtab == 'domain' %}  border-radius: 8px; background-color: #336799 !important; color:white !important; {% else %}  background-color: #fff !important; {%endif%}border:none;  padding: .75rem 1.25rem  !important;" href="{% if level != None %}  {% url 'hog_similar_domain' hog_id  level%}  {%else%}  {% url 'hog_similar_domain' hog_id  %} {%endif%}" class="list-group-item list-group-item-action {% if subtab == 'domain' %} active {%endif%}">
    Similar domains
  </a>

      <a style="{% if subtab == 'pairwise' %}  border-radius: 8px;  background-color: #336799 !important; color:white !important; {% else %}  background-color: #fff !important; {%endif%}border:none;  padding: .75rem 1.25rem  !important;" href="{% if level != None %}  {% url 'hog_similar_pairwise' hog_id  level%}  {%else%}  {% url 'hog_similar_pairwise' hog_id  %} {%endif%}" class="list-group-item list-group-item-action {% if subtab == 'pairwise' %} active {%endif%}">
    Sequence similarity
  </a>

      <a style="{% if subtab == 'profile' %} border-radius: 8px;   background-color: #336799 !important;  color:white !important; {% else %}  background-color: #fff !important; {%endif%}border:none;  padding: .75rem 1.25rem  !important;" href="{% if level != None %}  {% url 'hog_similar_profile' hog_id  level%}  {%else%}  {% url 'hog_similar_profile' hog_id  %} {%endif%}" class="list-group-item list-group-item-action {% if subtab == 'profile' %} active {%endif%}">
    Phylogenetic profiles
  </a>

  </ul>


          </div>

          </li>


    </ul>

</div>









