{% load staticfiles %}

<nav class="navbar navbar-light navbar-expand-md bg-light fixed-top" role="navigation">
    <a href="https://www.sib.swiss" class="navbar-brand d-none d-lg-block">
        <img alt="SIB logo" src="{% static "image/SIBlogo.png" %}"  class="siblogo">
    </a>

    <a href="{% url 'home'  %}" class="navbar-brand d-none d-lg-block">
        <img alt="OMA logo" src="{% static "image/omalogo.png" %}" class="omalogo">
        <div class="glyphicon glyphicon-home icon-md"></div>
    </a>

    <a href="https://www.sib.swiss" class="navbar-brand logo-sm d-lg-none">
        <img alt="SIB logo" src="{% static "image/SIBlogo.png" %}" class="siblogo">
    </a>

    <a href="/oma/home/" class="navbar-brand logo-sm d-lg-none">
        <img alt="OMA logo" src="{% static "image/omalogo.png" %}" class="omalogo">
        <div class="glyphicon glyphicon-home icon-md"></div>
    </a>

    <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <!-- search    -->
        <div class="text-nowrap">
            <form class="form-inline" role="search" id="searchNavForm" action="/cgi-bin/gateway.pl" method="GET">
                <select id="selectNav" class="form-control btn-mini" name="f" onchange="update_navbar_autocomplete()">
                    <option value="DisplayEntry" selected="selected">Identifier</option>
                    <option value="SearchSeqDb">Protein sequence</option>
                    <option value="DisplayGroup">OMA group</option>
                    <option value="SearchDb">Full-text search</option>
                </select>
                <div class="input-group ">
                    <input id="textNav" class="form-control " type="text" name="p1">
                    <div class="input-group-append">
                        <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="navbar-nav ml-auto">

            <ul class="navbar-nav">

                <!-- explore dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-nowrap" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Explore <span class="caret"></span></a>
                    </a>

                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="{% url 'release' %}">Release information</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'landOMA' %}">OMA groups</a>
                        <a class="dropdown-item" href="{% url 'hogs' %}">Hierarchical orthologous groups (HOGs)</a>
                        <a class="dropdown-item" href="{% url 'landAnnotation'  %}">Functional annotations</a>
                        <a class="dropdown-item" href="{% url 'synteny' %}">Local synteny</a>


                    </div>

                </li>

            </ul>

            <!-- compute dropdown -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-nowrap" data-toggle="dropdown">Tools <span class="caret"></span></a>

                <div class="dropdown-menu" role="menu">

                    <a class="dropdown-item" href="#">Fast mapping</a>
                    <a class="dropdown-item" href="#">Functional prediction</a>
                     <a class="dropdown-item" href="/oma/dotplot/">Synteny dotplot</a>
                    <a class="dropdown-item" href="/oma/genomePW/">Genome pair orthology</a>

                </div>

            </li>

            <!-- Download dropdown -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-nowrap" data-toggle="dropdown">Download <span class="caret"></span></a>

                <ul class="dropdown-menu" role="menu">

                    <div role="presentation" class="dropdown-header">OMA database files</div>
                    <a class="dropdown-item" href="{% url 'current'  %}">Current release</a>
                    <a class="dropdown-item" href="{% url 'export' %}">Export All/All</a>
                    <a class="dropdown-item" href="{% url 'export_markers' %}">Export marker genes</a>
                    <a class="dropdown-item" href="{% url 'archives'  %}">Archives</a>

                    <div class="dropdown-divider"></div>

                    <div role="presentation" class="dropdown-header">Software</div>
                    <a class="dropdown-item" href="{% url 'api-docs:docs-index' %}">OMA API</a>
                    <a class="dropdown-item" href="{% url 'function-projection-input' %}">OMA StandAlone</a>
                    <a class="dropdown-item" href="{% url 'APISOAP'  %}">SOAP</a>
                    <a class="dropdown-item" href="{% url 'function-projection-input' %}">pyHam</a></li>

                    <div class="dropdown-divider"></div>
                    <div role="presentation" class="dropdown-header">Semantic web</div>
                    <a class="dropdown-item" href="http://sparql.omabrowser.org">SPARQL endpoint</a>
                    <a class="dropdown-item" href="/ontology/oma">RDF Schema</a>

                    <div role="presentation" class="dropdown-header">Visualisation tools</div>
                    <a class="dropdown-item" href="{% url 'function-projection-input' %}">Phylo.io</a></li>
                    <a class="dropdown-item" href="{% url 'function-projection-input' %}">IHam</a></li>
                </ul>
            </li>


            <!-- Help dropdown -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-nowrap" data-toggle="dropdown">Help <span class="caret"></span></a>

                <ul class="dropdown-menu dropdown-menu-right" role="menu">

                    <a class="dropdown-item" href="{% url 'about'  %}">OMA in a nutshell</a>
                    <a class="dropdown-item" href="{% url 'type'  %}">Types of orthologs</a>
                    <a class="dropdown-item" href="{% url 'uses'  %}">Typical uses</a>
                    <a class="dropdown-item" href="{% url 'genome_suggestion' %}">Suggesting a genome</a>
                    <a class="dropdown-item" href="{% url 'FAQ'  %}">FAQ</a>
                    <a class="dropdown-item" href="https://www.biostars.org/t/oma/">Q&amp;A on BioStars</a>

                </ul>

            </li>


            <!-- about dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-nowrap" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                </a>

                <div class="dropdown-menu dropdown-menu-right" role="menu">

                    <a class="dropdown-item" href="{% url 'about'  %}">OMA</a>
                    <a class="dropdown-item" href="{% url 'team'  %}">Team</a>
                    <a class="dropdown-item" href="{% url 'funding'  %}">Funding</a>
                    <a class="dropdown-item" href="{% url 'license'  %}">License</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="mailto:contact@omabrowser.org"><span class="glyphicon glyphicon-envelope"></span> Contact</a>

                </div>

            </li>

        </div>
      <!-- /.navbar-collapse -->

    </div>

</nav>


<div style="height: 50px;"></div>

<script type="text/javascript">
    function update_navbar_autocomplete() {
        var sel = document.getElementById('selectNav');
        if (sel.value === "DisplayEntry") {
            $('#textNav').autocomplete('enable');
        } else {
            $('#textNav').autocomplete('disable');
        }
    }

    var autocomplete_opts = {
        paramName: 'search',
        serviceUrl: '/api/xref/',
        minChars: 3,
        deferRequestBy: 200,
        transformResult: function (response) {
            var json = JSON.parse(response);
            return {
                suggestions: $.map(json, function (dataItem) {
                    return {value: dataItem.xref, data: dataItem};
                })
            };
        },
        groupBy: 'source',
        formatResult: function (suggestion, currentValue) {
            // Do not replace anything if there current value is empty
            if (!currentValue) {
                return suggestion.value;
            }
            // escape any special char
            var pattern = '(' + currentValue.replace(/[|\\{}()[\]^$+*?.]/g, "\\$&") + ')';
            var highlight_and_escape = function (val) {
                return val.replace(new RegExp(pattern, 'gi'), '<strong>$1<\/strong>')
                    .replace(/&/g, '&amp;')
                    .replace(/</g, '&lt;')
                    .replace(/>/g, '&gt;')
                    .replace(/"/g, '&quot;')
                    .replace(/&lt;(\/?strong)&gt;/g, '<$1>');
            };
            var label = '<span class="auto-xref">' + highlight_and_escape(suggestion.data.xref) + '</span> &nbsp;' +
                '<span class="auto-omaid">' + suggestion.data.omaid + '</span>' +
                '<span class="auto-species">' + highlight_and_escape(suggestion.data.genome.species) + '</span>';
            return label;
        },
        onSelect: function (item) {
            window.location.href = "/cgi-bin/gateway.pl?f=DisplayEntry&p1=" + item.data.entry_nr;
            return false;
        }
    };
    $('#textNav').autocomplete(autocomplete_opts);
    update_navbar_autocomplete();
</script>
