{% extends "base_template.html" %}
{% block title %}Page not found{% endblock %}
{% block meta_description %}{% endblock %}
{% block content %}



<div id="oma-generic-container">

    <div class="container">

        <div class="jumbotron">

            <h1>Invalid page</h1>

            <div class="oma-seperator">
                <span class="colour1"></span>
                <span class="colour2"></span>
                <span class="colour3"></span>
            </div>


            <div class="card card-header-oma">
                <div class="card-body ">

                    <p>Sorry, the page you requested was not found on this server.</p>
<p>Please check that you have typed in the correct URL or else use the <a href="/">site search facility</a> to try and locate information you require.</p>
<p>If you think an error has occurred, please <a href="mailto:contact@omabrowser.org">contact us</a>.</p>


                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}
