{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}OMA orthology database: Development Team{% endblock %}

{% block content %}


<div id="oma-generic-container">

    <div class="container">

        <div class="jumbotron">
            <h1>TEAM</h1>

            <div class="oma-seperator">
                <span class="colour1"></span>
                <span class="colour2"></span>
                <span class="colour3"></span>
            </div>


            <div class="">




                    <h4 class="text-justify">OMA is developed and maintained in the <a href='https://lab.dessimoz.org'>Dessimoz Lab at UCL</a> and <a
                        href='http://www.cbrg.ethz.ch'>CBRG at ETH Zurich</a>.</h4>


                    <hr>
                    <h4 class="lead">Current members:</h4>
                    <blockquote ><strong><a href='https://people.inf.ethz.ch/adriaal/'>Adrian Altenhoff</a></strong>, Project
                        Manager<br>
                        <strong><a href='https://lab.dessimoz.org/people/christophe-dessimoz'>Christophe Dessimoz</a></strong>,
                        PI<br>
                        <strong><a href='https://www.inf.ethz.ch/personal/gonnet/'>Gaston H. Gonnet</a></strong>, PI <br>
                        <strong>Natasha Glover</strong>, Postdoc<br>
                        <strong>Ivana Piližota</strong>, PhD student<br>
                        <strong>Clément-Marie Train</strong> PhD student<br>
                        <strong>Alex Warwick Vesztrocy</strong>, PhD student<br>
                    </blockquote>
                    <hr>
                    <h4 class="lead">Former members:</h4>
                    <blockquote>
                        <strong>Klara Kaleb</strong> (intern, summer 2017)<br>
                        <strong>Lucas Wittwer</strong>, intern<br>
                        <strong>Anna Sueki</strong> (intern, summer 2014)<br>
                        <strong>Adrian Schneider</strong> (algorithm, inference pipeline, browser, 2005-2010)<br>
                        <strong>Alexander Roth</strong> (algorithm, 2005-2009)<br>
                    </blockquote>



            </div>


        </div>

    </div>
</div>


{% endblock content %}
