{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}OMA orthology database: Funding sources{% endblock %}

{% block content %}


<div id="oma-generic-container">

    <div class="container">

        <div class="jumbotron">
            <h1>Funding</h1>

            <div class="oma-seperator">
                <span class="colour1"></span>
                <span class="colour2"></span>
                <span class="colour3"></span>
            </div>


            <div class="card">

                <div class="card-body">


                    <p >
						We gratefully acknowledge the following sources of support:
					</p>
					<div class="">
						<ul>
                            <li >Swiss Institute of Bioinformatics, Service and Infrastructure grant for <a href="https://swissorthology.ch">SwissOrthology</a> (2017-2021)</li>
							<li >Swiss Institute of Bioinformatics, Service and Infrastructure grant for OMA to G. Gonnet and C. Dessimoz (2012-2016)</li>
							<li >Bayer CropScience NV and UCL Impact Award to C. Dessimoz entitled “Improving Plant Genome and Transcriptome Assembly and Annotation Using Orthologs” (2013-2016)</li>
							<li >ETH Independent Investigators’ Research Award to G. Gonnet, C. Dessimoz, and M. Anisimova (2011-2013)</li>
							<li >Wellcome Trust Vacation Bursary to A. Sueki (2014)</li>
						</ul>
					</div>


                </div>
            </div>


        </div>

    </div>
</div>






{% endblock content %}
