{% extends  "core.html" %}


{% block title %}OMA: About{% endblock %}

{% block content %}
<nav class="navbar navbar-default " role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-nav visible-lg">
			<a href="http://www.isb-sib.ch">
				<img alt="SIB logo" src="image/SIBlogo.png"  class="siblogo">

			</a>
		</div>
		<div class="navbar-nav hidden-sm hidden-xs verticalbar"></div>
		<div class="navbar-header navbar-nav">
			<button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="home.html">
				<img alt="OMA logo" src="image/omalogo.png" class="omalogo">
				<div class="glyphicon glyphicon-home icon-md"></div>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav ">
				<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="" href="dataset.html">Release information</a></li>
						<li class="divider"></li>

						<li><a class="" href="landOMA.html">OMA groups</a></li>
						<li><a class="" href="landHOG.html">Hierarchical orthologous groups (HOGs)</a></li>
						<li><a class="" href="landAnnotation.html">Functional annotations</a></li>
						<li><a class="" href="landsynteny.html">Synteny</a></li>
						<li class="divider"></li>
						<li><a class="" href="genomePW.html">Orthology between two genomes</a></li>
					</ul>
				</li>
			</ul>

			<!-- 		   -->
			<!-- search    -->


			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<select id="selectNav" class="form-control btn-mini">
						<option>Keyword</option>
						<option class="">Protein Sequence</option>
						<option class="">OMA Group</option>
						<option class="">Entry</option>
					</select>
				</div>
				<div class="input-group">
					<input id="textNav" class="form-control" type="text">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" id="searchNav"><span class="glyphicon glyphicon-search grey"></span></button>
					</span>

				</div>
			</form>

			<script type="text/javascript">
			function OpenInNewTab(url) {
				var win = window.open(url, '_blank');
				win.focus();
			}

			$('#searchNav').click( function() {
				var select = document.getElementById("selectNav");
				var text = document.getElementById("textNav").value;
				var option = select.options[select.selectedIndex].value;
				OpenInNewTab('option/ ' + option + '/query/'+text);
			});
			</script>

			<!-- 		   -->
			<!-- right-button    -->

			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="" href="about.html">OMA</a></li>
						<li><a class="" href="team.html">Team</a></li>
						<li><a class="" href="funding.html">Funding</a></li>
						<li><a class="" href="license.html">License</a></li>
						<li class="divider"></li>
						<li><a class="" href="mailto:contact@omabrowser.org"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
					</ul>
				</li>

				<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="" href="current.html">Current release</a></li>
						<li><a class="" href="archives.html">Archives</a></li>
						<li><a class="" href="http://omabrowser.org/standalone/">OMA standalone</a></li>
						<li><a class="" href="http://omabrowser.org/cgi-bin/gateway.pl?f=AllAllExport">Export All/All</a></li>
					</ul>
				</li>
				<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">API  <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="" href="APISOAP.html">SOAP</a></li>
						<li><a class="" href="APIDAS.html">DAS</a></li>
					</ul>
				</li>

				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Help  <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="" href="about.html#nut">OMA in a nutshell</a></li>
						<li><a class="" href="type.html">Types of orthologs</a></li>
						<li><a class="" href="uses.html">Typical uses</a></li>
						<li><a class="" href="FAQ.html">FAQ</a></li>
					</ul>
				</li>

			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!-- 	end	   -->
<!-- NAVBAR    -->
{% endblock content %}
