{% extends  "base_ancestralgenome.html" %}
{% load static %}

{% block title %}Information of genome {{genome_name}}{% endblock %}


{% block contentTab %}
<table class="table">

<tr><td>Common name:</td><td>{{ genome_name }}</td></tr>
<tr><td>NCBI taxonomic identifier:</td><td>{{ taxid }}</td></tr>
<tr><td>Number of ancestral genes:</td><td>{{ nr_hogs }}</td></tr>
<tr><td>Number of descendant extant species:</td><td>{{ nbr_species }}</td></tr>
</table>

<table id="ext_genomes"></table>

<!-- bootstrap-table -->
<script src="{% static "js/tablehooks.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap-table.min.js" %}"></script>

<link href="{% static "css/bootstrap-table.min.css" %}" rel="stylesheet" type="text/css"/>
<script src="{% static "js/bootstrap-table-export.min.js" %}"></script>
<script src="{% static "js/bootstrap-table-mobile.min.js" %}"></script>
<script src='{% static "js/tableExport.min.js" %}'></script>

{{ extant_genomes | json_script:"extant-genomes" }}

<script>
(function(){
    const data = JSON.parse(document.getElementById('extant-genomes').textContent);
    var tab = $('#ext_genomes');
    tab.bootstrapTable({
        data: data,
        reorderableColumns: true,
        pagination: true,
        pageSize: 50,
        showColumns: true,
        search: true,
        showExport: true,
        pageList: [10, 25, 50, 100, "All"],
        mobileResponsive: true,
        checkOnInit: true,
        undefinedText: "",
        idField: 'uniprot_species_code',
        showToggle: 'true',

        columns: [{
            field: 'uniprot_species_code',
            title: 'Code',
            sortable: true,
            formatter: tablehooks.format_species_code
        }, {
            field: 'sciname',
            title: 'Scientific Name',
            sortable: true,
            formatter: tablehooks.format_sciname
        }, {
            field: 'common_name',
            title: 'Common Name',
            sortable: true
        }, {
            field: 'last_modified',
            title: 'Last Update',
            sortable: true
        }, {
            field: 'prots',
            title: '# of Sequences',
            sortable: true
        }, {
            field: 'ncbi',
            title: 'NCBI TaxonId',
            sortable: true,
            formatter: tablehooks.format_taxonid_as_link
        }, {
            field: 'kingdom',
            title: 'D.',
            sortable: true,
            formatter: tablehooks.format_as_kingdom_tag
        }]
    });

    var icons = tab.bootstrapTable('getOptions').icons;
    $.extend(icons, {export: 'fa-download', columns: 'fa-list'});
    tab.bootstrapTable('refreshOptions', {'icons': icons});
})();
</script>

{% endblock contentTab %}