{% extends  "base_ancestralgenome.html" %}
{% load static %}

{% block title %}Information of genome {{genome_name}}{% endblock %}


{% block contentTab %}

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    {% for tax in lineage|slice:"::-1" %}
        <li class="breadcrumb-item active" aria-current="page">
        {% if tax in supported_ancestral_levels %}
            <a href="{% url ancestral_link_name tax %}">{{ tax }}</a>
        {% else %}
            {{ tax }}
        {% endif %}
        </li>
    {% endfor %}
    </ol></nav>


<table class="table">

<tr><td class="col-sm-4">Common name:</td><td class="col-sm-8">{{ genome_name }}</td></tr>
<tr><td>{% if taxid > 0 %}NCBI taxonomic identifier:{% else %}Taxonomic identifier:{% endif %}</td><td>{{ taxid }}</td></tr>
<tr><td>Number of ancestral genes:</td><td>{{ nr_hogs }}</td></tr>
<tr><td>Number of descendant extant species:</td><td>{{ nbr_species }}</td></tr>
</table>



<div id="toolbar">
  <b> Descendant extant species</b>
</div>



<table id="ext_genomes"></table>

<!-- bootstrap-table -->
<script src="{% static "js/tablehooks.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap-table.min.js" %}"></script>

<link href="{% static "css/bootstrap-table.min.css" %}" rel="stylesheet" type="text/css"/>
<script src="{% static "js/bootstrap-table-export.min.js" %}"></script>
<script src="{% static "js/bootstrap-table-mobile.min.js" %}"></script>
<script src='{% static "js/tableExport.min.js" %}'></script>

{{ extant_genomes | json_script:"extant-genomes" }}

<script>
(function(){
    const data = JSON.parse(document.getElementById('extant-genomes').textContent);
    var tab = $('#ext_genomes');
    tab.bootstrapTable({
        data: data,
        reorderableColumns: true,
        pagination: true,
        pageSize: 50,
        showColumns: true,
        search: true,
        showExport: true,
        pageList: [10, 25, 50, 100, "All"],
        mobileResponsive: true,
        checkOnInit: true,
        toolbar:"#toolbar",
        undefinedText: "",
        idField: 'uniprot_species_code',
        showToggle: 'true',

        columns: [{
            field: 'uniprot_species_code',
            title: 'Code',
            sortable: true,
            formatter: tablehooks.format_species_code
        }, {
            field: 'sciname',
            title: 'Scientific Name',
            sortable: true,
            formatter: tablehooks.format_sciname
        }, {
            field: 'common_name',
            title: 'Common Name',
            sortable: true
        }, {
            field: 'last_modified',
            title: 'Last Update',
            sortable: true
        }, {
            field: 'prots',
            title: '# of Sequences',
            sortable: true
        }, {
            field: 'ncbi',
            title: 'Taxon Id',
            sortable: true,
            formatter: tablehooks.format_taxonid_as_link
        }, {
            field: 'kingdom',
            title: 'D.',
            sortable: true,
            formatter: tablehooks.format_as_kingdom_tag
        }]
    });

    var icons = tab.bootstrapTable('getOptions').icons;
    $.extend(icons, {export: 'fa-download', columns: 'fa-list'});
    tab.bootstrapTable('refreshOptions', {'icons': icons});
})();
</script>

{% endblock contentTab %}