{% extends  "current.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titleTab %}OMA: Archives Mar 2012{% endblock %}



{% block titleDownload %}Archives{% endblock %}



{% block yearPicker %}
<strong>OMA Browser Archive</strong>: the download files form the previous releases of OMA are still available:
</p>
<div class="text-center">
	<ol class="breadcrumb ">
		<li><a href="{% url 'ArchivesJul2013'  %}">Jul 2013</a></li>
		<li><a href="{% url 'ArchivesDec2012'  %}">Dec 2012</a></li>
		<li>Mar 2012</li>
		<li><a href="{% url 'ArchivesMay2011'  %}">May 2011</a></li>
		<li><a href="{% url 'ArchivesNov2010'  %}">Nov 2010</a></li>
		<li><a href="{% url 'ArchivesMay2010'  %}">May 2010</a></li>
		<li><a href="{% url 'ArchivesOct2009'  %}">Oct 2009</a></li>
		<li><a href="{% url 'ArchivesApr2009'  %}">Apr 2009</a></li>
	</ol>
</div>
{% endblock  %}

{% block OMAGTF %}  'http://omabrowser.org/All.Mar2012/oma-groups.txt.gz'{% endblock  %}
{% block OMAGOF %} 'http://omabrowser.org/All.Mar2012/oma-groups.orthoXML.xml.gz'{% endblock  %}
{% block POTF %}  'http://omabrowser.org/All.Mar2012/oma-pairs.txt.gz'{% endblock  %}
{% block POOF %} 'http://omabrowser.org/All.Mar2012/oma-pairs.orthoXML.xml.gz'{% endblock  %}


{% block PSFF %}  'http://omabrowser.org/All.Mar2012/oma-seqs.fa.gz'{% endblock  %}
{% block PSSF %}'http://omabrowser.org/All.Mar2012/oma-seqs.seqxml.tgz'{% endblock  %}
{% block DEFF %}  'http://omabrowser.org/All.Mar2012/eukaryotes.cdna.fa.gz'{% endblock  %}
{% block DPFF %} 'http://omabrowser.org/All.Mar2012/prokaryotes.cdna.fa.gz'{% endblock  %}
{% block PATF %} 'http://omabrowser.org/All.Mar2012/oma-protein-annotations.txt.gz'{% endblock  %}


{% block Mapping %} 
<div class="panel panel-default ">
	<div class="panel-heading">
		<h4>Identifier Mapping
		</h4>
	</div>
	<div class="panel-body">
		<p>
			Mappings of the OMA identifier to various other databases are available:
		</p>
		<table class="table table-hover ">
			<tbody>
				<tr>	
					<td class="col-md-6">Mapping to UniProt:
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/oma-uniprot.txt.gz'><span class="glyphicon glyphicon-download"></span> 	Text format</a><br>
					</td>
				</tr>
				<tr>	
					<td class="col-md-6">Mapping to Ensembl:
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/oma-ensembl.txt.gz'><span class="glyphicon glyphicon-download"></span> 	Text format</a><br>
					</td>
				</tr>
				<tr>	
					<td class="col-md-6" >Mapping to NCBI:
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/oma-ncbi.txt.gz'><span class="glyphicon glyphicon-download"></span>  Text format</a><br>
					</td>
				</tr>
				<tr>	
					<td class="col-md-6">Mapping to Wormbase:
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/oma-wormbase.txt.gz'><span class="glyphicon glyphicon-download"></span> 	Text format</a><br>
					</td>
				</tr>
				<tr>	
					<td class="col-md-6">Mapping to JGI:
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/oma-jgi.txt.gz'><span class="glyphicon glyphicon-download"></span> 	Text format</a><br>
					</td>
				</tr>
				<tr>	
					<td class="col-md-6">Mapping to GO:
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/oma-go.txt.gz'><span class="glyphicon glyphicon-download"></span> 	Text format</a><br>
					</td>
				</tr>
				<tr>	
					<td class="col-md-6">Plant mapping: (ARATH and ORYSA) 
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/oma-plants.txt.gz'><span class="glyphicon glyphicon-download"></span> 	Text format</a><br>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>    
{% endblock  %}  



{% block OGCF %}  'http://omabrowser.org/All.Mar2012/All.cog.tar.gz'{% endblock  %}
{% block SITF %}'http://omabrowser.org/All.Mar2012/oma-species.txt'{% endblock  %}
{% block GDTF %} 'http://omabrowser.org/All.Mar2012/group-descriptions.txt.gz'{% endblock  %}
{% block CGTG %} 'http://omabrowser.org/All.Mar2012/oma-close-groups.txt.gz'{% endblock  %} 





{% block History %} 
<div class="panel panel-default ">
	<div class="panel-heading">
		<h4>OMA ID History
		</h4>
	</div>
	<div class="panel-body">
		<p>
			Mappings of the OMA identifier of updated genomes from one release to another. We track only proteins with same amino acid sequences.
		</p>  
		<table class="table table-hover ">
			<tbody>

				<tr>	
					<td class="col-md-6">From May 2011 release
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/IDHistory-May2011-to-Mar2012.txt.gz'><span class="glyphicon glyphicon-download"></span> 	Text format</a><br>
					</td>
				</tr>
				<tr>	
					<td class="col-md-6">From Nov 2010 release
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/IDHistory-Nov2010-to-Mar2012.txt.gz'><span class="glyphicon glyphicon-download"></span> 	Text format</a><br>
					</td>
				</tr>
				<tr>	
					<td class="col-md-6">From May 2010 release
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/IDHistory-May2010-to-Mar2012.txt.gz'><span class="glyphicon glyphicon-download"></span>  Text format</a><br>
					</td>
				</tr>
				<tr>	
					<td class="col-md-6">From Oct 2009 release
					</td>
					<td class="col-md-6">
						<a href='http://omabrowser.org/All.Mar2012/IDHistory-Oct2009-to-Mar2012.txt.gz'><span class="glyphicon glyphicon-download"></span>  Text format</a><br>
					</td>
				</tr>
			</tbody>
		</table>            
	</div>
</div>
{% endblock  %}