{% extends  "current.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titleTab %}OMA: Archives {{ release.name }} {% endblock %}
{% block titleDownload %}Archives{% endblock %}
{% block yearPicker %}
<strong>OMA Browser Archive</strong>: the download files form the previous releases of OMA are still available:
</p>
<div class="text-center">
	<ol class="breadcrumb ">
        {%  for rel in all_releases %}
		    <li><a href="{% url 'archives' rel.id %}">{{ rel.name }}</a></li>
        {%  endfor %}
	</ol>
</div>
{% endblock  %}

{% block genomePW %} {% endblock genomePW %}

{% if not release.id %}
    {% block Orthology %}{% endblock  %}
    {% block Sequences %}{% endblock  %}
    {% block Mapping %}{% endblock  %}
    {% block Other %}{% endblock  %}
    {% block History %}{% endblock  %}
{% endif %}