{% extends  "base_data_centric.html" %}

{% block title %}xxxx{% endblock %}

{% block header_color_class %} gene-orthology {% endblock %}

{% block header_body %}


                    <h5 class="card-title">Entry {{ entry.omaid }} {% if entry.canonicalid %} ({{entry.canonicalid}}) {% endif %}</h5>
                    <div class="d-flex">
                        <p class="card-subtitle text-muted mr-auto">{% include "includes/kingdom.html" with kingdom=entry.genome.kingdom %}
                            <b>{{entry.genome.species}}</b>{{entry.genome.strain}}
                            {% if entry.genome.is_polyploid and entry.subgenome != "" %} (sub-genome {{ entry.subgenome }}) {% endif %}</p>
                    </div>
                    <div class="d-flex justify-content-sm-end mt-2">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle col-6 col-sm-2 mr-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Groups</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'hog_iham' entry.hog_family_nr %}">HOG</a>
                            <a class="dropdown-item" href="{% url 'omagroup_members' entry.oma_group %}">Oma Group</a>
                        </div>
                        <button class="btn btn-sm col-6 col-sm-2"><a class="dropdown-item"  href="{% url 'genome_info' entry.genome.uniprot_species_code %}">Genome</a></button>
                    </div>

{% endblock %}

{% block data_content %}


    {% include "includes/sidebar_gene.html" with tab=tab %}

    <div id="content-column" class="col-xs-12 col-9">

        {% block contentTab %} {% endblock contentTab %}

    </div>

{% endblock data_content %}


