{% extends  "base_data_centric.html" %}

{% block header_color_class %} oma-group {% endblock %}

{% block header_body %}

                    <h5 class="card-title">OMA GROUP {{ group_nr }}</h5>
                    <div class="d-flex">
                        <h4>Fingerprint: {{ fingerprint }}</h4>
                    </div>

{% endblock %}

{% block data_content %}

        <!-- % include "includes/hogs_menu.html" with tab=tab %}

        <div id="content-column" class="col-xs-12 col-9" style="background-color: #edf">
            % block contentTab %} % endblock contentTab %}
        </div>  content col -->

{% endblock data_content %}



