{% extends  "base_data_centric.html" %}
{% load staticfiles %}

{% block title %}Entry {{entry.omaid}}{% endblock %}

{% block header_color_class %} {% endblock %}

{% block header_body %}


<div class="w-100 d-flex align-items-center py-2"  style="padding-bottom: 0rem!important;padding-top: 0rem!important;">

    <div class="oma-details-title ">
    <h2 class="gene_title">Entry {{ entry.omaid }} {% if entry.canonicalid %} ({{entry.canonicalid}}) {% endif %}</h2>

    <p>{% include "includes/kingdom.html" with kingdom=entry.genome.kingdom %} {{entry.genome.species}}
        {{entry.genome.strain}}
        {% if entry.genome.is_polyploid and entry.subgenome != "" %} (sub-genome {{ entry.subgenome }}) {% endif %} is on Chromosome {{entry.chromosome}}.</p>


    </div>

    <div class="ml-auto oma-details-title-buttons ">
      <button class="btn btn-default dropdown-toggle gene_color " data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"> Groups
    </button>


    <div class="dropdown-menu">


        <a class="dropdown-item"  {% if entry.oma_hog %} href="{% url 'hog_viewer' entry.oma_hog_root %}" > HOG {% else %} disabled > No related HOG {% endif %} </a>
        <a class="dropdown-item" {% if entry.oma_group %} href="{% url 'omagroup_members' entry.oma_group %}" > Oma Group {% else %} disabled > No related Oma Group {% endif %} </a>



    </div>

    <button class="btn btn-default "><a class="gene_color" href="{% url 'genome_info' entry.genome.uniprot_species_code %}">Genome</a>
    </button>

        </div>
</div>

{% endblock %}

{% block data_content %}

{% include "includes/sidebar_entry.html" with tab=tab %}

<div class="oma-details-content">

    {% block contentTab %} {% endblock contentTab %}

</div>

<script>



    $(document).on("click",".toggle-visibility", function () {


        var nav =   document.getElementById("sideNavMobile");
        var content =   document.getElementsByClassName("oma-details-content")[0];
        var toggle =   document.getElementsByClassName("toggle-visibility")[0];


        if (nav.offsetWidth > 0) {

            toggle.innerHTML = '&#8250;'

            nav.setAttribute("style","width:0px");

        content.setAttribute("style","margin-left:0px");

        toggle.setAttribute("style","left:0px");


        }

        else {

            toggle.innerHTML = "&#8249;"

            nav.setAttribute("style","width:280px");

        content.setAttribute("style","margin-left:300px");

        toggle.setAttribute("style","left:280px");
            }








});
</script>



{% endblock data_content %}


