{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}OMA{% endblock %}</title>
    <meta name="description"
          content="{% block meta_description %}The OMA Browser provides orthology predictions among hundreds of complete genomes across all of life{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_hook %}
        <meta name="keywords"
              content="orthology,evolutionary gene relations,evolution,paralogy,inference">
    {% endblock meta_hook %}

    {% if google_tracker_code %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tracker_code }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ google_tracker_code }}');
    </script>
    {% endif %}

    <link rel="shortcut icon" href="{% static "image/favicon.ico" %}" type="image/x-icon">

    <!-- css includes -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Dosis:400,800|Noto+Sans:400,700|Ropa+Sans|Material+Icons"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static "css/oma_styles.css" %}"/>

    {% block css_hook %}{% endblock %}

    <!-- js includes -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
            integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=" crossorigin="anonymous"></script>
    <script>var static_root = "{% static "" %}";</script>


    <!-- AA: not sure which of those libs will still be needed. I suspect autocomplete.min.js for sure, rest probably not  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <script src="{% static 'js/jquery.autocomplete.min.js' %}"></script>

    {% block js_hook %}{% endblock %}
</head>

{{ release_char|json_script:"release_char-data" }}

{% url 'home' as home %}
<body class="{% if request.get_full_path == home %}landing{% endif %}">
{% block topelement %}
   {% if oma_instance_name != "full" and oma_instance_name != "basf" %}
      <div class="ribbon">Go to the regular (non-viral) <a href="https://omabrowser.org">OMA database</a></div>
   {% endif %}
{% endblock %}

<nav class="navbar fixed-top navbar-expand-xl bg-light navbar-light topnav">

    <div class="logos-navbar mr-auto">
        <a href="https://www.sib.swiss/"><img src="{% static "image/logo-SIB.png" %}" alt="Logo SIB"/></a>
        {% if oma_instance_name == "full" or oma_instance_name == "basf" %}
            <a href="{% url "home" %}"><img src="{% static "image/logo-oma-mobile.svg" %}" alt="Logo OMA small"/></a>
        {% else %}
            <a href="{% url "home" %}"><img src="{% static "image/logo-oma-"|add:oma_instance_name|add:".svg" %}" alt="Logo OMA small"/></a>
        {% endif %}
    </div>



    {% if request.get_full_path != home %}

    <div class="oma-main-search-header">

        <form role="search" id="searchForm" action="{% url 'search' %}" method="GET">
                <div class="oma-search-select">
                    <select id="selectBrowser" class=" btn-mini" name="type" onchange="update_autocomplete_enableing('searchForm')">
                        {% include "includes/search_select.html" %}
                    </select>
                </div>
                <input style="font: small;" type="text" id="inputBrowser" class="" name="query" placeholder='{% if oma_instance_name != "basf" %}P53_RAT | Fungi | "auxin response factor"{% else %}PLDB2_ARATH | "auxin response factor" | psbC Brassicaceae{% endif %}'/>
                <button><img src="{% static "image/logo-oma-o.svg" %}" alt="Logo OMA icon"/></button>
            </form>

    </div>

    {% endif %}



    <button type="button" class="navbar-toggler ml-auto collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <div class="navbar-nav ml-auto">

            <div class="search">
                <h3>Search</h3>
                <form class="oma-search-mobile" id="searchNavForm" role="search" action="{% url 'search' %}" method="POST">
                    <div class="oma-search-select">
                        <select id="selectNav" class=" btn-mini" name="type" onchange="update_autocomplete_enableing('searchNavForm')">
                             {% include "includes/search_select.html" %}
                        </select>
                    </div>
                    <input type="text" id="textNav" class="" name="query" placeholder='{% if oma_instance_name != "basf" %}P53_RAT | Fungi | "auxin response factor"{% else %}PLDB2_ARATH | "auxin response factor" | psbC Brassicaceae{% endif %}'/>
                    <button type="submit"><img src="{% static "image/logo-oma-o.svg" %}" alt="Logo OMA icon"/></button>
                </form>
            </div>

            <ul class="navbar-nav">

                <!-- explore dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-nowrap" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore <span
                            class="caret"></span></a>


                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="{% url 'release' %}">Release information</a>
                        <a class="dropdown-item" href="{% url 'phylostratigraphy' %}">Phylostratigraphy</a>

                        <div class="dropdown-divider"></div>

                        <div role="presentation" class="dropdown-header">Quick access to</div>

                        <a class="dropdown-item" href="{% url 'landOMA' %}">OMA groups</a>
                        <a class="dropdown-item" href="{% url 'hogs' %}">Hierarchical orthologous groups (HOGs)</a>
                        <a class="dropdown-item" href="{% url 'landAnnotation' %}">Functional annotations</a>
                        <a class="dropdown-item" href="{% url 'synteny' %}">Local synteny</a>


                    </div>

                </li>


                <!-- compute dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-nowrap"
                       data-toggle="dropdown">Tools
                        <span class="caret"></span></a>

                    <div class="dropdown-menu" role="menu">

                        <div role="presentation" class="dropdown-header">Online tools</div>

                        {%if fastmap_enabled %}<a class="dropdown-item" href="{% url 'fastmapping' %}">Fast mapping</a> {% endif %}
                        <a class="dropdown-item" href="{% url 'function-projection-input' %}">Functional prediction</a>
                        <a class="dropdown-item" href="{% url 'land_syntenyDP' %}">Synteny dotplot</a>
                        <a class="dropdown-item" href="{% url 'genomePW' %}">Genome pair orthology</a>

                        <div class="dropdown-divider"></div>

                        <div role="presentation" class="dropdown-header">Software</div>
                        <a class="dropdown-item" href="https://omabrowser.org/standalone/">OMA StandAlone</a>
                        <a class="dropdown-item" href="https://github.com/dessimozlab/pyham">pyHam</a>

                        <div class="dropdown-divider"></div>


                        <div role="presentation" class="dropdown-header">Visualisation tools</div>
                        <a class="dropdown-item" href="https://phylo.io/">Phylo.io</a>
                        <a class="dropdown-item" href="https://github.com/dessimozlab/iham">IHam</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" href="{% url 'tool_catalog' %}"><b> <i class="fas fa-toolbox"></i> See all OMA tools</b></a>


                    </div>

                </li>

                <!-- Download dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-nowrap"
                       data-toggle="dropdown">Download
                        <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">

                        <div role="presentation" class="dropdown-header">OMA database files</div>
                        <a class="dropdown-item" href="{% url 'current' %}">Current release</a>
                        {% if export_enabled %}<a class="dropdown-item" href="{% url 'export' %}">Export All/All</a> {% endif %}
                        <a class="dropdown-item" href="{% url 'export_markers' %}">Export marker genes</a>
                        <a class="dropdown-item" href="{% url 'archives' %}">Archives</a>

                        <div class="dropdown-divider"></div>

                        <div role="presentation" class="dropdown-header">API</div>
                        <a class="dropdown-item" href="{% url 'api-docs:docs-index' %}">OMA API</a>
                        <a class="dropdown-item" href="{% url 'APISOAP' %}">SOAP</a>
                        <a class="dropdown-item" href="https://bioconductor.org/packages/release/bioc/html/OmaDB.html">R API binding</a>
                        <a class="dropdown-item" href="https://github.com/DessimozLab/pyomadb">Python API binding</a>

                        <div class="dropdown-divider"></div>
                        <div role="presentation" class="dropdown-header">Semantic web</div>
                        {% if oma_instance_name == "basf" %}
                          <a class="dropdown-item" href="{{ basf_sparql_url }}">BASF SPARQL endpoint</a>
                          <a class="dropdown-item" href="https://sparql.omabrowser.org/">Public SPARQL endpoint</a>
                        {% else %}
                          <a class="dropdown-item" href="https://sparql.omabrowser.org/">SPARQL endpoint</a>
                        {% endif %}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" href="{% url 'uses' %}"><b> <i class="fas fa-keyboard"></i> Access the OMA data</b></a>



                    </ul>
                </li>


                <!-- Help dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-nowrap" data-toggle="dropdown">Help
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="{% url 'about' %}">Introduction</a>
                        <a class="dropdown-item" href="{% url 'type' %}">Orthology Basics</a>
                        <a class="dropdown-item" href="{% url 'homologs' %}">Type of homologs</a>
                        <a class="dropdown-item" href="{% url 'uses' %}">Access the OMA data</a>
                        <a class="dropdown-item" href="{% url 'tool_catalog' %}">Catalog of tools</a>
                        {% if oma_instance_name != "basf" %}
                          <a class="dropdown-item" href="{% url 'genome_suggestion' %}">Suggesting a genome</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'FAQ' %}">FAQ</a>
                        <a class="dropdown-item" href="https://www.biostars.org/tag/oma/">Q&amp;A on BioStars</a>
                        <a class="dropdown-item " href="{% url 'glossary' %}">  Glossary</a>


                        {% if oma_academy_enabled %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center" href="{% url 'academy-home' %}"><b> <i class="fas fa-book"></i> OMA Academy</b></a>
                        {% endif %}
                    </ul>
                </li>


                <!-- about dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-nowrap" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About <span
                            class="caret"></span></a>


                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="{% url 'about' %}">OMA</a>
                        <a class="dropdown-item" href="{% url 'team' %}">Team</a>
                        <a class="dropdown-item" href="{% url 'funding' %}">Funding</a>
                        <a class="dropdown-item" href="{% url 'license' %}">License</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="mailto:contact@omabrowser.org"><span
                                class="glyphicon glyphicon-envelope"></span> Contact</a>
                    </div>

                </li>
            </ul>

        </div>
    </div>

</nav>

<script type="text/javascript">

    function update_autocomplete_enableing(form_elem_id) {
        var form_elem = document.getElementById(form_elem_id);
        var sel = form_elem.querySelector("select[name='type']");
        var txt = $(form_elem.querySelector("input[name='query']"));
        if (sel.value === "id"){
            txt.autocomplete('enable');
        } else {
            txt.autocomplete('disable');
        }
    }
    var autocomplete_opts = {

        paramName: 'search',
        serviceUrl: '/api/xref/',
        minChars: 3,
        triggerSelectOnValidInput: false,
        deferRequestBy: 200,
        transformResult: function (response) {
            var json = JSON.parse(response);
            var xref_source_order = {{ xref_order | safe }};
            json.sort(function (a, b){
                var idx_a = xref_source_order.indexOf(a.source), idx_b = xref_source_order.indexOf(b.source);
                if (idx_a === idx_b){
                    return a.xref > b.xref ? 1 : -1;
                }
                return idx_a - idx_b;
            });
            return {
                suggestions: $.map(json, function (dataItem) {
                    return {value: dataItem.xref, data: dataItem};
                })
            };
        },
        groupBy: 'source',
        formatResult: function(suggestion, currentValue) {
            // Do not replace anything if there current value is empty
            if (!currentValue) {
                return suggestion.value;
            }
            // escape any special char
            var pattern = '(' + currentValue.replace(/[|\\{}()[\]^$+*?.]/g, "\\$&") + ')';
            var highlight_and_escape = function(val){
                return val.replace(new RegExp(pattern, 'gi'), '<strong>$1<\/strong>')
                    .replace(/&/g, '&amp;')
                    .replace(/</g, '&lt;')
                    .replace(/>/g, '&gt;')
                    .replace(/"/g, '&quot;')
                    .replace(/&lt;(\/?strong)&gt;/g, '<$1>');
            };
            var label = '<span class="auto-xref">' + highlight_and_escape(suggestion.data.xref) +'</span> &nbsp;'+
                        '<span class="auto-omaid">' + suggestion.data.omaid + '</span>'+
                        '<span class="auto-species">' + highlight_and_escape(suggestion.data.genome.species) + '</span>';
            return label;
        },
        onSelect: function(item){
            window.location.href = "/oma/vps/" + item.data.entry_nr;
            return false;
        }

    };
    $('#textNav').autocomplete(autocomplete_opts);
    $('#inputBrowser').autocomplete(autocomplete_opts);
    update_autocomplete_enableing('searchNavForm');
</script>

{% block content %}{% endblock %}


</body>
</html>
