{% extends  "base_data_centric.html" %}
{% load staticfiles %}

{% block title %}HOG {{hog_id}} ontology{% endblock %}


{% block header_color_class %} group_title {% endblock %}

{% block header_body %}


<div class="w-100 d-flex align-items-center py-2"  style="padding-bottom: 0rem!important;padding-top: 0rem!important;">



    <div class="oma-details-title">

        <h2 class="group_title"> {{ hog_id }} with {{ members|length }} members {% if description  %}<small>({{description}})</small> {% endif %}  </h2>



        {% for e in lineage_up|slice:":-1" %}

            {% if forloop.counter < 8 %}



                    {% if tab == 'iham' %}

        <a href=" {% url 'hog_viewer' e.0  e.1%}  "> {{e.1}} </a> /


                     {% elif tab == 'table' %}

         <a href=" {% url 'hog_table' e.0  e.1%}  "> {{e.1}} </a> /


                     {% elif tab == 'synteny' %}
         <a href=" {% url 'hog_synteny' e.0  e.1%}  "> {{e.1}} </a> /
                     {% elif tab == 'similar' %}

                        {% if subtab == 'domain' %}

        <a href=" {% url 'hog_similar_domain' e.0  e.1%}  "> {{e.1}} </a> /
        {% elif subtab == 'pairwise' %}
         <a href=" {% url 'hog_similar_pairwise' e.0  e.1%}  "> {{e.1}} </a> /
        {% elif subtab == 'profile' %}
         <a href=" {% url 'hog_similar_profile' e.0  e.1%}  "> {{e.1}} </a> /
        {% endif %}


                    {% else  %}
         <a href=" {% url 'hog_viewer' e.0  e.1%}  "> {{e.1}} </a> /
                    {% endif %}





            {% elif forloop.counter == 8 %}

            <div id="lineage" style="display: inline">

                <span id="a">... / </span>

                <span id="b">

                    {% if tab == 'iham' %}

        <a href=" {% url 'hog_viewer' e.0  e.1%}  "> {{e.1}} </a> /


                     {% elif tab == 'table' %}

         <a href=" {% url 'hog_table' e.0  e.1%}  "> {{e.1}} </a> /


                     {% elif tab == 'synteny' %}
         <a href=" {% url 'hog_synteny' e.0  e.1%}  "> {{e.1}} </a> /
                     {% elif tab == 'similar' %}

                        {% if subtab == 'domain' %}

        <a href=" {% url 'hog_similar_domain' e.0  e.1%}  "> {{e.1}} </a> /
        {% elif subtab == 'pairwise' %}
         <a href=" {% url 'hog_similar_pairwise' e.0  e.1%}  "> {{e.1}} </a> /
        {% elif subtab == 'profile' %}
         <a href=" {% url 'hog_similar_profile' e.0  e.1%}  "> {{e.1}} </a> /
        {% endif %}


                    {% else  %}
         <a href=" {% url 'hog_viewer' e.0  e.1%}  "> {{e.1}} </a> /
                    {% endif %}


            {% else  %}

           {% if tab == 'iham' %}

        <a href=" {% url 'hog_viewer' e.0  e.1%}  "> {{e.1}} </a> /


                     {% elif tab == 'table' %}

         <a href=" {% url 'hog_table' e.0  e.1%}  "> {{e.1}} </a> /


                     {% elif tab == 'synteny' %}
         <a href=" {% url 'hog_synteny' e.0  e.1%}  "> {{e.1}} </a> /
                     {% elif tab == 'similar' %}

                        {% if subtab == 'domain' %}

        <a href=" {% url 'hog_similar_domain' e.0  e.1%}  "> {{e.1}} </a> /
        {% elif subtab == 'pairwise' %}
         <a href=" {% url 'hog_similar_pairwise' e.0  e.1%}  "> {{e.1}} </a> /
        {% elif subtab == 'profile' %}
         <a href=" {% url 'hog_similar_profile' e.0  e.1%}  "> {{e.1}} </a> /
        {% endif %}


                    {% else  %}
         <a href=" {% url 'hog_viewer' e.0  e.1%}  "> {{e.1}} </a> /
                    {% endif %}

            {% endif %}
                {% if forloop.last %}

            </span>



         {% endif %}

{% endfor %}


         <b>{{level|title}}</b>


                /
<div class="btn-group dropright">
  <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" style="padding: .20rem .4rem !important; font-size: .600rem!important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Lower Level
  </button>
  <div class="dropdown-menu">
      {% for hog in lineage_down %}
      <a class="dropdown-item" href=" {% url 'hog_viewer' hog_id  hog.level%}  " >[{{hog.nr_member_genes}} members]  {{hog.level}} </a>
      {% endfor %}
  </div>
</div>





                </div>




    </div>


    <style>

        div#lineage span#a {
display:inline;
}
div#lineage:hover span#a {
display:none;
}
div#lineage span#b {
display:none;
}
div#lineage:hover span#b {
display:inline;
}

        .show>.btn-outline-dark.dropdown-toggle, .btn-outline-dark:hover {
            color: #fff;
            background-color: #336799;
            border: none;

        }

    </style>



</div>

{% endblock %}

{% block data_content %}

{% include "includes/sidebar_hog.html" with tab=tab %}

<div class="oma-details-content">

    {% block contentTab %} {% endblock contentTab %}

</div>



{% endblock data_content %}







