{% extends  "base_data_centric.html" %}

{% block title %}Ancestral Genome {{genome}}{% endblock %}

{% block header_color_class %} genome {% endblock %}

{% block header_body %}


<div class="w-100 d-flex align-items-center py-2"  style="padding-bottom: 0rem!important;padding-top: 0rem!important;">

    <div class="oma-details-title">

        <h2>Ancestral genome of {{  genome_name }}   </h2>
        <p> with {{nbr_species}} descendants species and {{nr_hogs}} ancestral genes (HOGs). </p>
    </div>
</div>



{% endblock %}

{% block data_content %}


        {% include "includes/sidebar_ancestralgenome.html" with tab=tab %}


<div class="oma-details-content">

    {% block contentTab %} {% endblock contentTab %}

</div>


{% endblock data_content %}


