{% extends  "base_data_centric.html" %}
{% load staticfiles %}

{% block title %}xxxx{% endblock %}

{% block header_color_class %} gene-orthology {% endblock %}

{% block header_body %}

<div class="oma-details-title">
    <h2>Entry {{ entry.omaid }} {% if entry.canonicalid %} ({{entry.canonicalid}}) {% endif %}</h2>

    <p>{% include "includes/kingdom.html" with kingdom=entry.genome.kingdom %} {{entry.genome.species}} {{entry.genome.strain}}
        {% if entry.genome.is_polyploid and entry.subgenome != "" %} (sub-genome {{ entry.subgenome }}) {% endif %}</p>
</div>
<div class="oma-details-title-buttons">

    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"> Groups
    </button>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'hog_iham' entry.hog_family_nr %}">HOG</a>
        <a class="dropdown-item" href="{% url 'omagroup_members' entry.oma_group %}">Oma Group</a>
    </div>

    <button  class="btn btn-default"><a href="{% url 'genome_info' entry.genome.uniprot_species_code %}">Genome</a></button>

</div>

{% endblock %}

{% block data_content %}

<div id="oma-details-sideNav-mobile">
        <a href="#" id="toggleSidenav">
            <span>Select a Tab</span><img src="{% static "image/icon-arrow.png" %}" alt="Arrow" />
        </a>
    </div>

<div class="oma-details-nav-left" id="sideNavMobile">

        <ul>
            <li><a href="#">Orthologs</a></li>
            <li><a href="#" data-toggle="collapse" data-target="#filterParalogs">
                <span>Paralogs</span>
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
                <div id="filterParalogs" class="collapse">
                    <p>Filters</p>
                    <p>Filters</p>
                    <p>Filters</p>
                </div>
            </li>
            <li class="active"><a href="#">Gene information</a></li>
            <li><a href="#">GO Annotations</a></li>
            <li><a href="#">Sequences</a></li>
            <li><a href="#">Local synteny</a></li>
        </ul>
    </div>

<div class="oma-details-content">

        {% block contentTab %} {% endblock contentTab %}

    </div>


<script>
    $( document ).ready(function() {
    $("#toggleSidenav").click( function() {
        $('#sideNavMobile').toggle();
        $('#oma-details-sideNav-mobile').toggleClass('sideNavMobile-opened');
    });
});
</script>






{% endblock data_content %}


