{% extends  "base_template.html" %}


<!-- todo this set after -->
{% block title %}OMA orthology database: Sequence-centric view{% endblock %}

{% block content %}

<script>

$(window).on('resize', function() {
    if($(window).width() < 768) {
        //$('#sidebar-container').addClass('col-12');
        $('#content-column').addClass('col-12');
       // $('#sidebar-container').removeClass('col-3');
        $('#content-column').removeClass('col-9');
        $('#sidebar-container').removeClass('full-height');
        /*$('#collapseOne').collapse('hide');*/
        console.log("< 768");
    } else {
        //$('#sidebar-container').addClass('col-3');
        $('#content-column').addClass('col-9');
        $('#sidebar-container').addClass('full-height');
        //$('#sidebar-container').removeClass('col-12');
        $('#content-column').removeClass('col-12');
        /*$('#collapseOne').collapse('show');*/
        console.log("> 768");
    }
})

$(document).on('hidden.bs.collapse', '#accordion', function (e) {
    console.log("hiding");
    $('.menu-tab .active').removeClass('selected');
    $('.menu-tab').removeClass('d-block');
})


$(document).on('shown.bs.collapse', '#accordion', function (e) {
    console.log("showing");
    $('.menu-tab .active').addClass('selected');
    $('.menu-tab').addClass('d-block');
})

$(window).on('load', function () {
    $(window).resize();
});

</script>

    <div class="container" id="body" style="margin-top: 2em;"> <!-- .container -->

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body   {% block header_color_class %} {% endblock%} ">

                {% block header_body %} {% endblock%}

                </div>
            </div>

        </div>

    </div>

    <div class="row content-container-row"> <!-- row content-container-row -->


    {% block data_content %} {% endblock data_content%}


    </div> <!-- row content-container-row -->`


    </div> <!-- .container -->


{% endblock content %}




