{% extends  "base_data_centric.html" %}
{% load staticfiles %}

{% block title %}xxxx{% endblock %}

{% block header_color_class %} oma-group {% endblock %}

{% block header_body %}


<div class="w-100 d-flex align-items-center py-2"  style="padding-bottom: 0rem!important;padding-top: 0rem!important;">
 {% if is_subhog %}

        <div class="oma-details-title">

        <h2> Sub-HOG {{ hog_id }} with {{ members|length }} members   </h2>

        <p>Level of Emergence: {{level}} </p>

    </div>

    <div class="ml-auto oma-details-title-buttons">
        <button class="btn btn-default "><a href="{% url 'hog_viewer' root_id %}">Go to root HOG {{root_id}}</a>
        </button>
    </div>





        {% else %}

     <div class="oma-details-title">

        <h2>Root-HOG {{ hog_id }} with {{ members|length }} members   </h2>

        <p>Root level: {{level}} </p>

     </div>

        {% endif %}








    </div>

</div>

{% endblock %}

{% block data_content %}

{% include "includes/sidebar_hog.html" with tab=tab %}

<div class="oma-details-content">

    {% block contentTab %} {% endblock contentTab %}

</div>



{% endblock data_content %}







