{% extends  "groupCV.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block activeTabClose %} active {% endblock activeTabClose %}
{% block groupcontentTab %} 

<div class="tab-pane" id="Close">
	<div class="panel panel-default ">
		<div class="panel-heading">
			<h4 class='tete'>Download: </h4><a> <span class="glyphicon glyphicon-download "></span>  fasta</a> <a> <span class="glyphicon glyphicon-download "></span>  Darwin</a>
		</div>
		<div class="panel-body scroll">
			<table class="table table-hover  ">
				<thead class='seqwidth'>

					<th> </th>

					<th><a>N<br>
						O<br>
						M<br>
						L<br>
						E<br></a>
					</th>

					<th><a>N<br>
						O<br>
						M<br>
						L<br>
						E<br></a>
					</th>
					<th><a>N<br>
						O<br>
						M<br>
						L<br>
						E<br></a>
					</th>
					<th><a>N<br>
						O<br>
						M<br>
						L<br>
						E<br></a>
					</th>
					<th><a>N<br>
						O<br>
						M<br>
						L<br>
						E<br></a>
					</th>

					<th> </th>

				</thead>

				<tbody>

					<tr>
						<td class=""><a>Group 70525</a></td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td> </td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td >G0/G1switch 2</td>
					</tr>

					<tr>
						<td class=""><a>Group 70525</a></td>
						<td> </td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td> </td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td> </td>
						<td >G0/G1switch 2</td>
					</tr>

					<tr>
						<td class=""><a>Group 70525</a></td>
						<td> </td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td> </td>
						<td >G0/G1switch 2</td>
					</tr>

					<tr>
						<td class=""><a>Group 70525</a></td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td><span class="glyphicon glyphicon-stop green"></span></td>
						<td >G0/G1switch 2</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock groupcontentTab %}
