<!DOCTYPE html>
<html lang="en">
  <head>
{% load staticfiles %}
{% load bootstrap3 %}
    <meta charset="utf-8">
    <title>{% block title %}OMA{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}The OMA Browser provides orthology predictions among hundreds of complete genomes across all of life{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_hook %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tracker_code }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ google_tracker_code }}');
    </script>

    <link rel="shortcut icon" href="{% static "image/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "image/favicon.ico" %}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{% static "css/home.css" %}"/>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Bootstrap -->
    <link href= "{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.autocomplete.min.js" %}"></script>

    <script>var static_root = "{% static "" %}";</script>
    {% block css_hook %}{% endblock %}
    {% block js_hook %}{% endblock %}
  </head>
  <body>
    {% block topelement %}
        {% if oma_instance_name != "full" and oma_instance_name != "basf" %}
            <div class="ribbon">Go to the regular (non-viral) <a href="https://omabrowser.org">OMA database</a></div>
        {% endif %}
    {% endblock %}
    <nav class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-nav visible-lg">
        <a href="http://www.sib.swiss">
          <img alt="SIB logo" src="{% static "image/SIBlogo.png" %}"  class="siblogo">

        </a>
      </div>
      <div class="navbar-nav hidden-sm hidden-xs verticalbar"></div>
      <div class="navbar-header navbar-nav">
        <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home'  %}">
          {% if oma_instance_name == "full" %}
          <img alt="OMA logo" src="{% static "image/omalogo.png" %}" class="omalogo">
          {% else %}
          <img alt="OMA logo" src="{% static "image/omalogo-"|add:oma_instance_name|add:".svg" %}" class="omalogo">
          {% endif %}
          <div class="glyphicon glyphicon-home icon-md"></div>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="" href="{% url 'release' %}">Release information</a></li>
              <li class="divider"></li>

              {% if entry.omaid %}
                <li role="presentation" class="dropdown-header">{{entry.omaid}}</li>
                <li><a class="" href="{% url 'omagroup-entry' entry.omaid %}">OMA Group</a></li>
                <li><a class="" href="{% url 'hogs' entry.omaid  %}">Hierarchical orthologous group (HOG)</a></li>
                <li><a class="" href="{% url 'entry_info' entry.omaid %}">Functional annotations</a></li>
                <li><a class="" href="{% url 'synteny' entry.omaid  %}">Local synteny</a></li>
              {% else %}
                <li><a class="" href="{% url 'landOMA' %}">OMA groups</a></li>
                <li><a class="" href="{% url 'hogs' %}">Hierarchical orthologous groups (HOGs)</a></li>
                <li><a class="" href="{% url 'landAnnotation'  %}">Functional annotations</a></li>
                <li><a class="" href="{% url 'synteny' %}">Local synteny</a></li>
              {% endif %}
              
              <li class="divider"></li>
              <li><a class="" href="{% url 'genomePW' %}">Orthology between two genomes</a></li>
            <li><a class="" href="{% url 'land_syntenyDP' %}">Synteny dotplot</a></li>
            </ul>
          </li>
        </ul>

        <!--       -->
        <!-- search    -->


        <form class="navbar-form navbar-left" role="search" id="searchNavForm" action="{% url 'search' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <select id="selectNav" class="form-control btn-mini" name="type" onchange="update_autocomplete_enableing('searchNavForm')">
              <option value="id" selected="selected">Identifier</option>
              <option value="sequence">Protein sequence</option>
              <option value="group">OMA group</option>
              <option value="fulltext">Full-text search</option>
              <option value="species">Species</option>
            </select>
          </div>
          <div class="input-group">
            <input id="textNav" class="form-control" type="text" name="query">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search grey"></span></button>
            </span>
          </div>
        </form>

        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="" href="{% url 'about'  %}">OMA</a></li>
              <li><a class="" href="{% url 'team'  %}">Team</a></li>
              <li><a class="" href="{% url 'funding'  %}">Funding</a></li>
              <li><a class="" href="{% url 'license'  %}">License</a></li>
              <li class="divider"></li>
              <li><a class="" href="mailto:contact@omabrowser.org"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
            </ul>
          </li>

          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compute <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">Web services</li>
              <li><a class="" href="{% url 'function-projection-input' %}">Predict GO functions</a></li>
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header">API</li>
              <li><a href="{% url 'api-docs:docs-index' %}">REST API</a></li>
              <li><a href="https://bioconductor.org/packages/release/bioc/html/OmaDB.html">R binding</a></li>
              <li><a href="https://github.com/DessimozLab/pyomadb">Python binding</a></li>
              <li><a class="" href="{% url 'APISOAP'  %}">SOAP</a></li>
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header">Semantic web</li>
                {% if oma_instance_name == "basf" %}
              <li><a class="" href="abezwiv0024.eu.seeds.basf.net:8890/sparql">BASF SPARQL endpoint</a></li>
              <li><a class="" href="https://sparql.omabrowser.org">Public SPARQL endpoint</a></li>
                {% else %}
              <li><a class="" href="https://sparql.omabrowser.org">SPARQL endpoint</a></li>
                {% endif %}
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header">User-side computations</li>
              <li><a class="" href="/standalone/">OMA standalone</a></li>
              {% if oma_instance_name != "basf" %}
              <li><a class="" href="{% url 'export' %}">Export All/All</a></li>
              {% endif %}
              <li><a class="" href="{% url 'export_markers' %}">Export marker genes</a></li>
            </ul>
          </li>

          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">OMA database files</li>
              <li><a class="" href="{% url 'current'  %}">Current release</a></li>
              <li><a class="" href="{% url 'archives'  %}">Archives</a></li>
            </ul>
          </li>

          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="" href="{% url 'about'  %}">OMA in a nutshell</a></li>
              <li><a class="" href="{% url 'type'  %}">Types of orthologs</a></li>
              <li><a class="" href="{% url 'uses'  %}">Typical uses</a></li>
              <li><a class="" href="{% url 'genome_suggestion' %}">Suggesting a genome</a></li>
              <li><a class="" href="{% url 'FAQ'  %}">FAQ</a></li>
              <li><a class="" href="https://www.biostars.org/t/oma/">Q&amp;A on BioStars</a></li>
            </ul>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <script type="text/javascript">
    function update_autocomplete_enableing(form_elem_id) {
        var form_elem = document.getElementById(form_elem_id);
        var sel = form_elem.querySelector("select[name='type']");
        var txt = $(form_elem.querySelector("input[name='query']"));
        if (sel.value === "id"){
            txt.autocomplete('enable');
        } else {
            txt.autocomplete('disable');
        }
    }
    var autocomplete_opts = {
        paramName: 'search',
        serviceUrl: '/api/xref/',
        minChars: 3,
        deferRequestBy: 200,
        transformResult: function (response) {
            var json = JSON.parse(response);
            var xref_source_order = {{ xref_order | safe }};
            json.sort(function (a, b){
                var idx_a = xref_source_order.indexOf(a.source), idx_b = xref_source_order.indexOf(b.source);
                if (idx_a === idx_b){
                    return a.xref > b.xref ? 1 : -1;
                }
                return idx_a - idx_b;
            });
            return {
                suggestions: $.map(json, function (dataItem) {
                    return {value: dataItem.xref, data: dataItem};
                })
            };
        },
        groupBy: 'source',
        formatResult: function(suggestion, currentValue) {
            // Do not replace anything if there current value is empty
            if (!currentValue) {
                return suggestion.value;
            }
            // escape any special char
            var pattern = '(' + currentValue.replace(/[|\\{}()[\]^$+*?.]/g, "\\$&") + ')';
            var highlight_and_escape = function(val){
                return val.replace(new RegExp(pattern, 'gi'), '<strong>$1<\/strong>')
                    .replace(/&/g, '&amp;')
                    .replace(/</g, '&lt;')
                    .replace(/>/g, '&gt;')
                    .replace(/"/g, '&quot;')
                    .replace(/&lt;(\/?strong)&gt;/g, '<$1>');
            };
            var label = '<span class="auto-xref">' + highlight_and_escape(suggestion.data.xref) +'</span> &nbsp;'+
                        '<span class="auto-omaid">' + suggestion.data.omaid + '</span>'+
                        '<span class="auto-species">' + highlight_and_escape(suggestion.data.genome.species) + '</span>';
            return label;
        },
        onSelect: function(item){
            window.location.href = "/oma/info/" + item.data.entry_nr;
            return false;
        }
    };
    $('#textNav').autocomplete(autocomplete_opts);
    update_autocomplete_enableing('searchNavForm');
  </script>

  <div id="content">
    {% block content %}{% endblock %}
  </div>


</body>
</html>
