{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{% block titleTab %}OMA: current{% endblock titleTab %}{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">


			<div class="jumbotron">
				<div class="container">

					<h1 class="text-center">{% block titleDownload %}Current release{% endblock titleDownload %}<br></h1>
					<div class="well well-sm entete"></div>
					<br>
					<p>The entire OMA database is available for download in several formats. It is also possible to download each group separately. This option is available in the group view. Please read our terms and conditions before integrating OMA data into your own research or database.</p>

					<br>
					<br>

					{% block yearPicker %}  {% endblock yearPicker %} 

					{% block Orthology %}

					<div class="panel panel-default ">
						<div class="panel-heading">
							<h4>Orthology Relationships
							</h4>
						</div>
						<div class="panel-body">
							<p>
								The orthology relationships are available in two types: groups or pairs of orthologs. The information is given in terms of OMA identifiers (of the form HUMAN04376).
							</p>
							<table class="table table-hover ">
								<tbody>
									<tr>
										<td class="col-md-6" >OMA groups:
										</td>
										<td class="col-md-6">
											<a href= {% block OMAGTF %}'/All/oma-groups.txt.gz' {% endblock OMAGTF %} >
												<span class="glyphicon glyphicon-download">
												</span>
												Text format
											</a> 
											<br>
											<a href={% block OMAGOF %}'/All/oma-groups.orthoXML.xml.gz' {% endblock OMAGOF %}>
												<span class="glyphicon glyphicon-download">
												</span>
												OrthoXML format
											</a>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Hierarchical ortholgous groups:
										</td>
										<td class="col-md-6">
											<a href={% block HOGOF %}'/All/oma-hogs.orthoXML.gz'{% endblock HOGOF %}>
												<span class="glyphicon glyphicon-download"></span>
												OrthoXML format
											</a>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Pairwise orthologs:
										</td>
										<td class="col-md-6">
											<a href={% block POTF %}'/All/oma-pairs.txt.gz'{% endblock POTF %}>
												<span class="glyphicon glyphicon-download">
												</span>
												Text format
											</a> <br>
											<a href={% block POOF %}'/All/oma-pairs.orthoXML.xml.gz'{% endblock POOF %}>
												<span class="glyphicon glyphicon-download">
												</span>
												OrthoXML format
											</a>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Pairs between two species:
										</td>
										<td class="col-md-6">
											<a href="{% url 'genomePW'  %}">Genome Pair View <img alt="ext logo" src="{% static "image/ext.png" %}" ></img></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					{% endblock Orthology %}   
					{% block Sequences %} 
					<div class="panel panel-default ">
						<div class="panel-heading">
							<h4>Sequences
							</h4>
						</div>
						<div class="panel-body">
							<p>
								All sequences with the corresponding OMA identifiers can be downloaded in fasta files. The proteins are all in one file, while the coding DNA is split into two files, one for the Eukaryotes and one for the Prokaryotes.
							</p>
							<table class="table table-hover ">
								<tbody>
									<tr>
										<td class="col-md-6">Protein sequences:
										</td>
										<td class="col-md-6">
											<a href= {% block PSFF %}'/All/oma-seqs.fa.gz'{% endblock PSFF %}>
												<span class="glyphicon glyphicon-download"></span>
												Fasta format
											</a> 
											<br>
											<a href= {% block PSSF %}'/All/oma-seqs.seqxml.tgz' {% endblock PSSF %}>
												<span class="glyphicon glyphicon-download"></span>
												SeqXML format
											</a>
										</td>
									</tr>


									<tr>	

										<td class="col-md-6">cDNA Eukaryotes:
										</td>
										<td class="col-md-6">
											<a href={% block DEFF %}'/All/eukaryotes.cdna.fa.gz' {% endblock DEFF %}><span class="glyphicon glyphicon-download"></span> Fasta format</a><br>
										</td>

									</tr>

									<tr>	

										<td class="col-md-6">cDNA Prokaryotes:
										</td>
										<td class="col-md-6">
											<a href={% block DPFF %}'/All/prokaryotes.cdna.fa.gz' {% endblock DPFF %}> <span class="glyphicon glyphicon-download"></span> Fasta format</a><br>
										</td>

									</tr>
									<tr>	

										<td class="col-md-6">Protein Annotations:
										</td>
										<td class="col-md-6">
											<a href={% block PATF %}'/All/oma-protein-annotations.txt.gz' {% endblock PATF %}><span class="glyphicon glyphicon-download"></span>  Text format</a><br>
										</td>

									</tr>
								</tbody>
							</table>

						</div>
					</div> 
					{% endblock Sequences %}   
					{% block Mapping %}   

					<div class="panel panel-default ">
						<div class="panel-heading">
							<h4>Identifier Mapping
							</h4>
						</div>
						<div class="panel-body">
							<p>
								Mappings of the OMA identifier to various other databases are available:
							</p>
							<table class="table table-hover ">
								<tbody>
									<tr>	
										<td class="col-md-6">Mapping to UniProt:
										</td>
										<td class="col-md-6">
											<a href='/All/oma-uniprot.txt.gz'><span class="glyphicon glyphicon-download"></span>		Text format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Mapping to Ensembl:
										</td>
										<td class="col-md-6">
											<a href='/All/oma-ensembl.txt.gz'><span class="glyphicon glyphicon-download"></span>		Text format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6" >Mapping to NCBI:
										</td>
										<td class="col-md-6">
											<a href='/All/oma-ncbi.txt.gz'><span class="glyphicon glyphicon-download"></span>  Text format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Mapping to Wormbase:
										</td>
										<td class="col-md-6">
											<a href='/All/oma-wormbase.txt.gz'><span class="glyphicon glyphicon-download"></span>	Text format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Mapping to JGI:
										</td>
										<td class="col-md-6">
											<a href='/All/oma-jgi.txt.gz'><span class="glyphicon glyphicon-download"></span>		Text format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Mapping to GO:
										</td>
										<td class="col-md-6">
											<a href='/All/oma-go.txt.gz'><span class="glyphicon glyphicon-download"></span>	Text format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Plant mapping: (ARATH and ORYSA) 
										</td>
										<td class="col-md-6">
											<a href='/All/oma-plants.txt.gz'><span class="glyphicon glyphicon-download"></span>	Text format</a><br>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>   
					{% endblock Mapping %}   
					{% block Other %}
					<div class="panel panel-default ">
						<div class="panel-heading">
							<h4>Other files
							</h4>
						</div>
						<div class="panel-body">
							<table class="table table-hover ">
								<tbody>
									<tr>	
										<td class="col-md-6">OMA Groups/Sequences in COGs format:
										</td>
										<td class="col-md-6">
											<a href={% block OGCF %}'/All/All.cog.tar.gz'{% endblock OGCF %}><span class="glyphicon glyphicon-download"></span> Cog format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Species information: (Taxon IDs, scientific names, genome sources)
										</td>
										<td class="col-md-6">
											<a href={% block SITF %}'/All/oma-species.txt'{% endblock SITF %}>
												<span class="glyphicon glyphicon-download">
												</span>		
												Text format
											</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Group descriptions:
										</td>
										<td class="col-md-6">
											<a href={% block GDTF %}'/All/group-descriptions.txt.gz'{% endblock GDTF %}><span class="glyphicon glyphicon-download"></span>		Text format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">Close OMA Groups:
										</td>
										<td class="col-md-6">
											<a href={% block CGTG %}'/All/oma-close-groups.txt.gz'{% endblock CGTG %}> <span class="glyphicon glyphicon-download"></span>	Text format</a><br>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div> 
					{% endblock Other %}
					{% block History %} 
					<div class="panel panel-default ">
						<div class="panel-heading">
							<h4>OMA ID History
							</h4>
						</div>
						<div class="panel-body">
							<p>
								Mappings of the OMA identifier of updated genomes from one release to another. We track only proteins with same amino acid sequences.
							</p>  
							<table class="table table-hover ">
								<tbody>
									<tr>	
										<td class="col-md-6">From Mar 2014 release
										</td>
										<td class="col-md-6">
											<a href='/All/IDHistory-Mar2014-to-Sep2014.txt.gz'><span class="glyphicon glyphicon-download"></span> Cog format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">From Jul 2013 release
										</td>
										<td class="col-md-6">
											<a href='/All/IDHistory-Jul2013-to-Sep2014.txt.gz'><span class="glyphicon glyphicon-download"></span> Cog format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">From Dec 2012 release
										</td>
										<td class="col-md-6">
											<a href='/All/IDHistory-Dec2012-to-Sep2014.txt.gz'><span class="glyphicon glyphicon-download"></span>	Text format</a><br>
										</td>
									</tr>
									<tr>	
										<td class="col-md-6">From Mar 2012 release
										</td>
										<td class="col-md-6">
											<a href='/All/IDHistory-Mar2012-to-Sep2014.txt.gz'><span class="glyphicon glyphicon-download"></span>	Text format</a><br>
										</td>
									</tr>
								</tbody>
							</table>            
						</div>
					</div>
					{% endblock History %}
				</div>
			</div>
		</div>	
	</div>
</div>

{% endblock content %}
