{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}Export for OMA Standalone{% endblock %}
{% block meta_description %}Export genomes and precomputed all-against-all results for OMA standalone. {% endblock %}

{% block css_hook %}
<link type="text/css" rel="stylesheet" href="{% static "css/phylotree.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "css/typeaheadjs.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "css/treecompare.css" %}"/>
{% endblock css_hook %}

{% block js_hook %}
{% if max_nr_genomes %}<script type="text/javascript">MAX_NR_GENOMES = {{ max_nr_genomes }}; </script>{% endif %}
<script src='{% static "js/underscore-min.js" %}'></script>
<script src='{% static "js/canvas-toBlob.js" %}'></script>
<script src='{% static "js/FileSaver.min.js" %}'></script>
<script src='{% static "js/treecompare.js" %}'></script>
<script src='{% static "js/phylotree.js" %}'></script>
<script src='{% static "js/d3.v3.min.js" %}'></script>
<script src='{% static "js/typeahead.bundle.js" %}'></script>
{% endblock js_hook %}


{% block content %}


<style>
html, body {
  height: 100%;
}

.flex-grow {
  flex: 1 0 auto;
}

.card > .list-group:last-child .list-group-item:last-child, .card > .list-group:first-child .list-group-item:first-child {
 border-radius: 0;

}
element {
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}




</style>


<div class="container-fluid" style="height: calc(100%);">
    {% block above_svg %}{% endblock %}

    <div class="row" style="height: 100%;">

        <div class="col-md-9" id="svgdiv" style="overflow: hidden;"> <!-- svg -->


            <!-- help modal -->

            <button class="btn btn-outline-dark" style="z-index:99; margin: 4px" data-toggle="modal" data-target="#myModal" id="modalhelp">Help
                <i class="fas fa-question"></i>
            </button>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{% block modal_title %}Export of genomes and All/All for OMA standalone{% endblock modal_title %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% block modal_body %}
                            <p>In order to simplify analysis of customized genomes using the OMA Standalone application, we provide here users with precomputed all-against-all results, i.e. the most time-consuming part of the OMA pipeline. Users can simply augment the dataset with their new genomes and only the new genome-pairs will have to be aligned.</p>
                            <p> <b>Important limitations and notices</b> </p>
                            <ul>
                                <li><p>Note that for OMA we only store pairwise matches of alignments with a Smith-Waterman score of at least 130 and where the alignment extends over at least 30% of the smaller sequence. If you need more relaxed parameters, you will have to do the alignments again from scratch.</p></li>
                                <li><p>The selected genomes cannot be modified. Do not try to add, remove or change any sequences. The changes will not get incorporated, but might invalidate any later inference due to indexing mistakes.</p></li>
                            </ul>
                            {% endblock modal_body %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary " data-toggle="modal" data-target="#myModaltuto">
                                How to use the genome-picker
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModaltuto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h5 class="modal-title">How to use the genome-picker ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>


                        </div>
                        <div class="modal-body">
                            <img src="{%static "image/help_export.png" %}" class="img-fluid mx-auto" alt="OMA
                            genomepicker how to use">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fas fa-chevron-left"></i> Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /help modal -->

            <div  id="phylo_io"  >



            </div>

        </div>

        <div class="col-md-3"> <!-- UI -->
            <div class="card col-12" id="UISelected"  >
                <h3 class="text-center searchg greenb py-2 mb-0" id="textSel" style="font-size: 18px; color: #fff; background-color: #307C3B">
                    Selected genomes</h3>
            </div>



            <div class="col-md-12" id="exportAdditionalInputs">

                {% block menu_additional_inputs %}

</div>


            {% endblock %}


            <div class="row mx-auto" id="buttondiv">
                <div class="col-xs-12 col-sm-6 mx-auto">
                    <button type="button" class="btn btn-default btn-lg greenb  " style="color: #fff; background-color: #307C3B" id="buttonUnselect">Unselect all</button>
                </div>
                <div class="col-xs-12 col-sm-6 mx-auto">
                    <button type="button" class="btn btn-default btn-lg greenb " style="color: #fff; background-color: #307C3B" id="{% block submit_button_id %}buttonSubmit{% endblock %}">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
