{% extends  "base_template.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}SOAP API{% endblock %}
{% block meta_description %}Explaination how to access the OMA data through our SOAP API.{% endblock %}
{% block content %}


<div id="oma-generic-container">

    <div class="container">

        <div class="jumbotron">


            <h1>API: SOAP <h5 class="text-muted text-center">Simple Object Access Protocol</h5></h1>

            <div class="oma-seperator">
                <span class="colour1"></span>
                <span class="colour2"></span>
                <span class="colour3"></span>
            </div>

			<div class="alert alert-danger" role="alert">
                        The SOAP API is deprecated. We will soon terminate this service. Please use instead the
                        <a href="{% url 'api-docs:docs-index' %}">REST API</a>.
                    </div>





                    <p class="text-justify">
								The OMA Browser API lets you integrate orthologs predictions from the OMA algorithm into your own programs or web services. The specification of the SOAP interface can be found here: <a href='http://omabrowser.org/omabrowser.wsdl' class='comment-text'>http://omabrowser.org/omabrowser.wsdl</a>
							</p>

							<p class="text-justify">
                            An easy way to explore the SOAP functionality of the OMA Browser is using a generic SOAP client. Try for example
                            <a href="http://www.soapclient.com/soapclient?template=/clientform.html&fn=soapform&SoapTemplate=none&SoapWSDL=http://omabrowser.org/omabrowser.wsdl">this web based client</a>.
							</p>

							<p class="text-justify">
                            You can download example clients written in <a href="/python-client.py">Python code</a> and <a href="perl-client.pl">Perl code</a> to see demonstrations of the functionality of the OMA SOAP API.
							</p>


            </div>


        </div>
    </div>







{% endblock content %}
