{% extends "base_entry.html" %}
{% load staticfiles %}
{% block title %}Local synteny of {{ entry.omaid }} across genomes{% endblock %}
{% block meta_description %}Explore the synthenic genes around {{ entry.omaid }} across its orthologs. Find out about highly conserved regions, rearangements, segmental duplications and other evolutionary events in this region{% endblock %}

{% block css_hook %}
{% endblock css_hook %}

{% block js_hook %}
    <script src="{% static "js/xref_format.js" %}" type="text/javascript"></script>
    <script src="{% static 'local_synteny_viewer/local_synteny.js' %}" charset="UTF-8"></script>
    <script src="{% static 'local_synteny_viewer/orthoxml-parser.js' %}" charset="UTF-8"></script>
    <script src="{% static 'js/d3_7_8.js' %}" charset="UTF-8"></script>

{% endblock js_hook %}



{% block contentTab %}

    <div class="container-fluid">

    {% if reference_entry.omaid != entry.omaid %}

        <div class="alert alert-warning" role="alert">
  This entry is not the isoform used for orthologs inferences, synteny below are inferred using the entry isoform <a href="{% url 'pairs' entry.get_main_isoform.omaid %}">{{entry.get_main_isoform.omaid}}</a>.
        </div>

     {% endif %}

    <div class="row">

        <div class="col" id="synteny_div"  style=" height:calc(100vh - 285px); width:100px">

        </div>



    </div>


</div>

<script>

var find_element = function(o, query, target) {

    if (o["children"]) {

        for (var c in o["children"]) {

            var child = o["children"][c]

            if (child['id'] == query) return o

            target = find_element(child , query, target)

        }

    }
        return target
    }

var go_one_level_upper = function(e){

    if (!e.parent) return e

    if (e.parent.paralog || e.parent.children.length == 1){
        return go_one_level_upper(e.parent)
    }

    return e.parent

}

 {% if reference_entry.omaid != entry.omaid %}

var FOCUS_ELEMENT = '{{ reference_entry.omaid }}'

           {% else %}

   var FOCUS_ELEMENT = '{{ entry.omaid }}'

     {% endif %}



 $.when($.ajax({url: "/oma/hog/{{ most_specific_hog.hog_id }}/orthoxml/augmented/",dataType: "text"})).then(function(orthoxml) {

     var call_back_hog_detail = function(hog_id, level){
                var newUrl="{% url 'hog_viewer' 12345678 7654321  %}".replace(/1234567/, hog_id).replace(/7654321/, level);
                window.open(newUrl, "_blank");
            }

    var call_back_hog_local_synteny = function(hog_id,level){
        var newUrl="{% url 'hog_synteny' 1234567 7654321  %}".replace(/1234567/,hog_id).replace(/7654321/, level);
        window.open(newUrl, "_self");
    }

    var callback_gene_local_synteny  = function(gene_id){
        var newUrl="{% url 'synteny' 1234567  %}".replace(/1234567/,gene_id);
        window.open(newUrl, "_self");
    }

     var call_back_gene_detail = function(gene_id){
        var newUrl="{% url 'pairs' 1234567  %}".replace(/1234567/,gene_id);
        window.open(newUrl, "_blank");
    }

     var phog = find_element(OrthoxmlParser.parse(orthoxml),  FOCUS_ELEMENT, false)

     phog = go_one_level_upper(phog)
     phog = go_one_level_upper(phog)

     var hog_id = phog ? phog.id.split('_')[0] : '{{ most_specific_hog.hog_id }}'
     var hog_level =  phog ? phog.species:  '{{ most_specific_hog.level }}'

     var call_back_gene_chromosome = function(level, gene_id){
        var newUrl="{% url 'genome_gene_order' 1234567   %}".replace(/1234567/, level)
        window.open(newUrl + '?target=' + gene_id, "_blank");
    }

    var call_back_hog_chromosome = function(level, gene_id){
        var newUrl="{% url 'ancestralgenome_synteny' 1234567   %}".replace(/1234567/, level)
        window.open(newUrl + '?target=' + gene_id, "_blank");
    }

     var ls = new LocalSyntenyViewer('synteny_div', FOCUS_ELEMENT,  OrthoxmlParser.parse(orthoxml), hog_id, hog_level , call_back_hog_detail, call_back_hog_local_synteny, callback_gene_local_synteny, call_back_gene_detail, call_back_gene_chromosome, call_back_hog_chromosome)
 })

</script>

{% endblock contentTab %}
