{% extends "base_entry.html" %}
{% load staticfiles %}

{% block title %}Pairwise Paralogs for {{ entry.omaid }}{% endblock %}
{% block meta_description %}For {{ entry.omaid }} OMA predicts the following {{ pps|length }} pairwise
    paralogs{% endblock %}

{% block contentTab %}


{% if nr_pps > 0 %}

    {% if reference_entry.omaid != entry.omaid %}

        <div class="alert alert-warning" role="alert">
  This entry is not the isoform used for paralogs inferences,
    paralogs below are inferred using the entry isoform <a href="{% url 'pairs' entry.get_main_isoform.omaid %}">{{entry.get_main_isoform.omaid}}</a>.
</div>


         {% include "includes/groupTableAmuseBouche.html" %}


        {% else %}

         {% include "includes/groupTableAmuseBouche.html" %}

     {% endif %}




{% else %}

    {% if entry.get_main_isoform == entry %}

<div class="alert alert-secondary" role="alert">
  This entry does not have paralogs
</div>



{% else %}

<div class="alert alert-warning" role="alert">
  This entry is not the isoform used for paralogs inferences,
    please check entry <a href="{% url 'pair_paralogs' entry.get_main_isoform.omaid %}">{{entry.get_main_isoform.omaid}}</a> for paralogs.
</div>



{% endif %}




{% endif %}



{% endblock contentTab %}
