{% extends "base_entry.html" %}
{% load staticfiles %}

{% block title %}GO Annotations for {{ entry.omaid }}{% endblock %}
{% block meta_description %}For {{ entry.omaid }} OMA stores the following information about the gene/protein.{% endblock %}
{% block contentTab %}

{% include "includes/func_desc.html" %}


<script src="{% static "js/underscore-min.js" %}" type="text/javascript"></script>
<script src="{% static "js/xref_format.js" %}" type="text/javascript"></script>





    <div id="ontology-panel" class="card-body">
        <div id="loader-ontology"><img src="{% static "image/loading.gif"%}" alt="loading GO annotations..."></div>
    </div>
</div>

    <script>

        (function(){
        $.getJSON("/api/protein/{{ entry.entry_nr }}/ontology/", function(data){

            _.forEach(_.groupBy(data, "aspect"), function(annos, aspect){

                var type_name;

               switch (aspect) {
                  case 'molecular_function':
                    type_name ="Molecular function";
                    break;
                  case 'cellular_component':
                      type_name ="Cellular component";
                    break;
                  case 'biological_process':
                    type_name ="Biological process";
                    break;
                }

               var tab = ['<table class="table table-hover  "  id="'+aspect+'"><thead style="border-top:hidden"><tr><th colspan="2">',
                   '<h5><strong> '+ type_name + '</strong></h5></th></tr>',
                   '<tr class="d-flex" ><th class=" col-8">GO term</th><th class=" col-4" >Evidence and reference</th></tr>',
                   '</thead><tbody><br>'];

               _.forEach(_.groupBy(annos, "GO_term"), function(term_annos, term){
                   tab.push('<tr class="d-flex"><td class=" col-8">' + term_annos[0].name +
                       ' (' + xref_format.go_annotation_url(term_annos[0]) + ')</td>', '<td class=" col-4">');

                   _.forEach(_.groupBy(term_annos, 'evidence'), function(evi_anno, evi){
                       tab.push(xref_format.go_evi_url(evi));
                       var ref=[];
                       evi_anno.forEach(function(anno){
                           ref.push(xref_format.go_ref_url(anno.reference));
                       });
                       tab.push(ref.join(', '), '<br>');
                   });
                   tab.push('</td></tr>');
               });

               $('#ontology-panel').append(tab.join("\n"))



           });

        });
        $("#loader-ontology").hide();
    })();
</script>


{% endblock contentTab %}
