{% extends "base_entry.html" %}
{% load staticfiles %}

{% block title %}OMA orthology database: Information for {{ entry.omaid }}{% endblock %}
{% block meta_description %}For {{ entry.omaid }} OMA stores the following information about the gene/protein.{% endblock %}
{% block contentTab %}

{% include "includes/func_desc.html" %}


<h4 >General Information</h4>

<dl class="">
            {% if entry.description %}<dt class="col-sm-3">Description</dt><dd class="col-sm-6">{{ entry.description }} </dd>
     {% endif %}
            <dt class="col-sm-3">Organism</dt>
            <dd class="col-sm-6"><a href="/cgi-bin/gateway.pl?f=DisplayOS&p1={{entry.genome.uniprot_species_code}}">
                {{ entry.genome.uniprot_species_code }} - {{ entry.genome.sciname }}</a>
                <span class="small">(Taxon-ID: <a href="///uniprot.org/taxonomy/{{ entry.genome.ncbi_taxon_id }}" class="external">{{ entry.genome.ncbi_taxon_id }}</a>)</span>
            </dd>

            <dt class="col-sm-3">Locus</dt><dd id="locus"><span id="chr">{{ entry.chromosome }}</span>:&nbsp;<span id="coordinates">{{ entry.exons }}</span></dd>

            <dt class="col-sm-3">Number of exons</dt><dd class="col-sm-6">{{ entry.exons | length }}</dd>

            {% if "PMP" in xrefs %}
                <dt class="col-sm-3">Protein Structures</dt><dd class="col-sm-6">n/a</dd>
            {% endif %}
        </dl>


<h4 >IDs and Cross-references</h4>

    <div id="loader-xrefs"><img src="{% static "image/loading.gif" %}" alt="loading xrefs..."></div>
        <dl id="xrefs" class="">
            {% for xref in xrefs %}
                <dt class="col-sm-3">{{ xref.source }}</dt><dd class="col-sm-6"><a class="external" href="{{ xref.url }}">{{ xref.xref }}</a></dd>
            {% endfor %}
        </dl>



    <!-- Ontology -->
<script src="{% static "js/underscore-min.js" %}" type="text/javascript"></script>
<script src="{% static "js/xref_format.js" %}" type="text/javascript"></script>


    <script>
    (function(){
        $.getJSON("/api/protein/{{ entry.entry_nr }}/xref/", function(data){
            // sort accroding to xref_source_order
            var xref_source_order = {{ xref_order | safe }};
            data.sort(function(a, b){
                var idx_a = xref_source_order.indexOf(a.source), idx_b = xref_source_order.indexOf(b.source);
                if (idx_a === idx_b){
                    return a.xref > b.xref ? 1 : -1;
                }
                return idx_a - idx_b;
            });
            // remove duplicated xref values of less important sources
            var clean_data = data.filter(function(obj, pos, arr){
                return arr.map(function(obj){return obj.xref;}).indexOf(obj.xref) === pos});
            _.forEach(_.groupBy(clean_data, "source"), function(xrefs, source){
                var list_item = ["<dt class='col-sm-3'>"+source+"</dt>"];
                _.forEach(xrefs, function(ref){
                    list_item.push("<dd class='col-sm-6'>"+xref_format.dbxref_url(ref.xref, ref.source, "{{ entry.genome.release }}") +"</dd>")
                });
                $('#xrefs').append(list_item.join("")+"\n");
            });
        });
        $("#loader-xrefs").hide();
    })();
</script>


{% endblock contentTab %}
