{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}Matrix specifications{% endblock %}

{% block content %}

    <link href="{% static "css/release_viewer.css" %}" rel="stylesheet" type="text/css"/>




<div id="oma-generic-container">

    <div class="container">

        <div class="jumbotron">

            <h1>OMA RELEASE OF {{ rel_name }}</h1>

            <div class="oma-seperator">
                <span class="colour1"></span>
                <span class="colour2"></span>
                <span class="colour3"></span>
            </div>


            <div class="card card-header-oma">
                <div class="card-body ">



                        <ul class="list-unstyled">
                            <li><b>Number of species: </b> <span class="number-span"> {{ nr_genome }}</span></li>
                            <li><b>Number of proteins: </b> <span class="number-span">{{ nr_proteins }}</span></li>
                            <li><b>Number of OMA groups: </b> <span class="number-span">{{ nr_oma_groups }}</span></li>
                            <li><b>Number of proteins in an OMA Group:</b><span class="number-span">{{ nr_protein_in_oma }} ({{ percent_in_oma | floatformat }}%)</span></li>
                            <li><b>Number of deepest level HOGs:</b> <span class="number-span">{{ nr_roothogs }}</span></li>
                            <li><b>Number of proteins in a HOG:</b><span class="number-span">{{ nr_protein_in_hog }} ({{ percent_in_hog | floatformat }}%)</span></li>

                            </ul>


                </div>
            </div>

            <br>

            <div class="card card-header-oma">

                <div class="card-body ">

                    <div class="row justify-content-md-center">

                        <div class="col ">

                            <h4><strong>Species information</strong></h4>

                        </div>

                        <div class="col-md-auto ">
       <div>

           <span class="pull-right text_selector">Change the view: </span>


                        <button type="button" id="btree" class="btn btn-default icon_selector" data-toggle="tooltip" data-placement="top" title="view as species tree" >
                            <i class="fas fa-tree" aria-hidden="true"></i>
                        </button>

                        <button type="button" id="blist"  class="btn btn-default  icon_selector" data-toggle="tooltip" data-placement="top" title="view as species list">
                            <i class="fas fa-list" aria-hidden="true"></i>
                        </button>

                        <button type="button" id="bhist"  class="btn btn-default icon_selector" data-toggle="tooltip" data-placement="top" title="view as species histogram">
                            <i class="fas fa-chart-bar" aria-hidden="true"></i>
                        </button>





                            </div>




                </div>

                    </div>


                    <hr>


                <div class="section-box" id="section_genome">

                        <!-- This is the part that is flushed and updated with viewer -->
                        <div class="panel-body" id="genome_panel" style="position: relative;" >


                        </div>

                    </div>

                </div>

                </div>

        </div>
    </div>
</div>




    <!-- D3 and D3 Tooltip -->
    <script src="{% static "js/d3.v3.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/d3.tip.v0.6.3.js" %}" type="text/javascript"></script>

    <!-- bootstrap-table -->
    <script src="{% static "js/tablehooks.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap-table.min.css" %}">
    <script src="{% static "js/bootstrap-table.min.js" %}"></script>
    <script src="{% static "js/bootstrap-table-export.min.js" %}"></script>
    <script src="{% static "js/bootstrap-table-mobile.min.js" %}"></script>
    <script src="{% static "js/tableExport.min.js" %}"></script>
    <script src="{% static "js/sunburst.js" %}"></script>

    <!-- viewer Visualisation -->
    <script>
        var json_genome_url = "{% url 'genomes_json' %}";
    </script>
    <script src="{% static "js/tablehooks.js" %}" type="text/javascript"></script>
    <script src="{% static "js/release_viewer.js" %}" type="text/javascript"></script>

    <script>
    // defaut view on the histogram
    update_genome_viewer("btree");
    </script>

<script src={% static "js/colorbar.js" %}></script>

{% endblock content %}
