{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA: type{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h1 class="text-center">OMA Visiting Fellowship</h1>
					<div class="well well-sm entete"></div>
<p>The OMA Visiting Fellowship programme aims at facilitating collaborative visits between researchers working on a project that could benefit from interaction or collaboration with the OMA team, or interested in initiating such project.</p>
<p>Visit length is flexible and could vary from a few weeks to a several months. The fellowship covers travel and accommodation expenses during the duration of the visit.</p>
<p>The OMA Visiting Fellowship programme would be particularly suited to PhD students or postdocs with direct experience using OMA, but this is not a requirement. Likewise, applicants will be typically on leave from their institution, but independent researchers are also eligible.</p>
<p>To apply, send a brief CV and a statement of interest briefly outlining the collaborative project foreseen (~1 page), the duration of the visit, and a potential start date. The submission form is available at <a href="http://omabrowser.org/fellowship" rel="nofollow">http://omabrowser.org/fellowship</a></p>
<p>For informal queries, contact Dr. Adrian Altenhoff, OMA project manager at <a href="mailto:adrian.altenhoff@inf.ethz.ch">adrian.altenhoff@inf.ethz.ch</a>.</p>
<p><strong>Deadline:</strong> 14 June 2015</p>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Application Form</h4>
							</div>
                            <div class="panel-body">
                            <form class="form-horizontal" action="/oma/fellowship" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
             <!--
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="inputName" placeholder="Jane Doe" required="true"/>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="inputEmail" placeholder="jane.doe@example.com" required="true"/>
    </div>
  </div>
  <div class="form-group">
      <label for="inputProposal" class="col-sm-2 control-label">Statement of interest</label>
      <div class="col-sm-8">
          <textarea rows="10" class="form-control" id="inputProposal"></textarea>
      </div>
  </div>
  <div class="form-group">
      <label for="inputProposalFile" class="col-sm-2 control-label">or as PDF</label>
      <div class="col-sm-8">
        <input type="file" id="inputProposalFile"/>
      </div>
  </div>
  <div class="form-group">
    <label for="inputCV" class="col-sm-2 control-label">CV</label>
    <div class="col-sm-8">
      <input type="file" id="inputCV" required="True"/>
      <p class="help-block">please provide a brief CV in pdf format.</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Apply</button>
    </div>
  </div> -->
                    </form></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}