{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA Visiting Fellowship{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h1 class="text-center">OMA Visiting Fellowship</h1>
					<div class="well well-sm entete"></div>
<p>The OMA Visiting Fellowship program aims at facilitating collaborative visits between researchers working on a project that could benefit from interaction or collaboration with the OMA team, or interested in initiating such project.</p>
<p>Visit length is flexible and could vary from a few weeks to a several months. The fellowship covers travel and accommodation expenses during the duration of the visit.</p>
<p>The OMA Visiting Fellowship programme would be particularly suited to PhD students or postdocs with direct experience using OMA, but this is not a requirement. Likewise, applicants will be typically on leave from their institution, but independent researchers are also eligible.</p>
<p>To apply, send a brief CV and a statement of interest briefly outlining the collaborative project foreseen (~1 page), the duration of the visit, and a potential start date. The submission form is available at <a href="http://omabrowser.org/fellowship" rel="nofollow">http://omabrowser.org/fellowship</a></p>
<p>For informal queries, contact Dr. Adrian Altenhoff, OMA project manager at <a href="mailto:adrian.altenhoff@inf.ethz.ch">adrian.altenhoff@inf.ethz.ch</a>.</p>
<p><strong>Deadline:</strong> 30 June 2015 <small>already ended, no more applications can be considered</small></p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
