{% extends  "base_template.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}OMA: Predicting GO Functions{% endblock %}
{% block meta_description %}Annotated your proteome with Gene Ontology terms based on OMA{% endblock %}

{% block css_hook %}
<style type="text/css">
    div.required label:after { content: '*'; }
</style>
{% endblock css_hook %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h1 class="text-center">Predicting Gene Ontology function to your sequences</h1>
					<div class="well well-sm entete"></div>
                    <p>Are you interested in annotating gene ontology functions to your own proteome? Here,
                        we provide an easy way to project functions from the entire OMA Browser based on
                        sequence similarity to your sequences.</p>

                    <p>Please upload a fasta formatted file of maximum {{max_upload_size | floatformat }}MB with your sequences (might also be in gzip or bzip
                        compressed format). The service identifies the closest sequence in a very quick manner
                        and assigns the known GO annotations to it. We return a
                        <a href="http://www.geneontology.org/page/go-annotation-file-gaf-format-21" target="_blank">
                            gaf2.1 formatted file</a>
                        to you that contain all the annotations and as well the source protein from which the
                        function has been projected from.</p>
                    <div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Gene Ontology Function Projection</h4>
							</div>
                            <div class="panel-body">
                                {% bootstrap_messages %}
                                <form role="form" class="form-horizontal" action="{% url 'function-projection-input' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% bootstrap_form form layout="horizontal" %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    {% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

<script>
(function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
});
}, false);
})();
</script>

{% endblock content %}
