{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}OMA: funding{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h1 class="text-center">Funding</h1>
					<div class="well well-sm entete"></div>
					<br>
					<div class="panel panel-default">
						<div class="panel-body">
							<p>
								We gratefully acknowledge the following sources of support: 
							</p>
							<div class=" col-md-9 col-md-offset-1">
								<ul>
									<li style='font-size:1.2em;'>Bayer CropScience NV and UCL Impact Award to C. Dessimoz entitled “Improving Plant Genome and Transcriptome Assembly and Annotation Using Orthologs” (2013-2016)</li>
									<li style='font-size:1.2em;'>Swiss Institute of Bioinformatics, Service and Infrastructure grant for OMA to G. Gonnet and C. Dessimoz (2012-2016)</li>
									<li style='font-size:1.2em;'>ETH Independent Investigators’ Research Award to G. Gonnet, C. Dessimoz, and M. Anisimova (2011-2013)</li>
								</ul>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>	
	</div>
</div>




{% endblock content %}