{% extends  "base_genome.html" %}

{% block contentTab %}

<dl class="">


    {% if genome.common_name %} <dt class="col-sm-3">Common name:</dt><dd class="col-sm-6">{{ genome.common_name }}</dd> {% endif %}

     {% if genome.uniprot_species_code %}  <dt class="col-sm-3">UniProt identifier:</dt><dd class="col-sm-6">{{ genome.uniprot_species_code }}</dd> {% endif %}

     {% if genome.ncbi_taxon_id %} <dt class="col-sm-3">NCBI Taxonomy ID:</dt><dd class="col-sm-6">{{ genome.ncbi_taxon_id }}</dd> {% endif %}

     {% if genome.common_name %}  <dt class="col-sm-3">DB Name:</dt>  <dd class="col-sm-6">???</dd> {% endif %}

     {% if genome.release %} <dt class="col-sm-3">DB Release:</dt><dd class="col-sm-6">{{ genome.release }}</dd> {% endif %}

     {% if genome %} <dt class="col-sm-3">Web link:</dt><dd class="col-sm-6">TODO</dd> {% endif %}

     {% if genome.lineage %}  <dt class="col-sm-3">Taxonomy:</dt><dd class="col-sm-6">{{ genome.lineage }}</dd> {% endif %}

</dl>



{% endblock contentTab %}