{% extends  "base_genome.html" %}

{% block title %}Information of genome {{genome.uniprot_species_code}}{% endblock %}


{% block contentTab %}
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
   {% for o in genome.lineage reversed %}
      {% if not forloop.last %}
        <li class="breadcrumb-item active" aria-current="page">
        {% if o in supported_ancestral_levels %}
            <a href="{% url "ancestralgenome_info" o %}">{{ o }}</a>
        {% else %}
            {{ o }}
        {% endif %}
        </li>
      {% endif %}
   {% endfor %}
  </ol>
 </nav>


<table class="table">
     {% if genome.common_name %} <tr><td>Common name:</td><td>{{ genome.common_name }}</td></tr> {% endif %}
     {% if genome.uniprot_species_code %} <tr><td>UniProt identifier:</td><td>{{ genome.uniprot_species_code }}</td></tr> {% endif %}
     {% if genome.ncbi_taxon_id %}  <tr><td>{% if genome.ncbi_taxon_id > 0 %}NCBI {% endif %}Taxonomy ID:</td><td>{{ genome.ncbi_taxon_id }}</td></tr> {% endif %}
     {% if genome.release %} <tr><td>DB Release:</td><td>{{ genome.release }}</td></tr> {% endif %}
     {% if genome.url %} <tr><td>Information</td><td>{{ genome.url | urlize }}</td></tr> {% endif %}
     {% if genome.nr_genes %} <tr><td>Number of genes:</td><td>{{ genome.nr_genes }}</td></tr> {% endif %}
     {% if genome.nr_entries %} <tr><td>Number of proteins (all isoforms)</td><td>{{ genome.nr_entries }}</td></tr>{% endif %}
     {% if prot_in_group %}  <tr><td>Proteins in OMA groups:</td><td>{{ prot_in_group}}</td></tr> {% endif %}
     {% if prot_in_hogs %}  <tr><td>Proteins in HOGs:</td><td>{{ prot_in_hogs }}</td></tr> {% endif %}
</table>
{% endblock contentTab %}