{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA: Genome centric view{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h2>_Specie name</h2>
					<br> 
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Informations</h3>
						</div>
						<div class="panel-body">
							<dl class="dl-horizontal test">
								<dt>Common name:</dt>
								<dd>_commonName</dd>
								<dt>UniProt identifier:</dt>
								<dd>_UniprotId</dd>
								<dt>NCBI Taxonomy ID:</dt>
								<dd>_NCBIID</dd>
								<dt>DB Name:</dt>
								<dd>_DBName</dd>
								<dt>DB Release:</dt>
								<dd>_DBRelease</dd>
								<dt>Web link:</dt>
								<dd><a>_webLink</a></dd>
								<dt>Taxonomy:</dt>
								<dd>_Taxonomy
								</dd>
								<dt>Number of sequences:</dt>
								<dd>_numberSeq (_seqRank)</dd>
								<dt>Proteins in matrix:</dt>
								<dd>_NumberMat (_%)</dd>
								<dt>Million amino acids:</dt>
								<dd>_AA (_AARank)</dd>
								<dt>Average protein lengths:</dt>
								<dd>_length (_lengthRank)</dd>
							</dl>

						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Species sharing OMA groups</h3>
						</div>
						<div class="panel-body">
							<div class="row">

								<div class="col-md-6">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Species with most common groups</h3>
										</div>
										<div class="panel-body">
											<table class="table table-hover ">
												<tbody>
													<tr>
														<td><a>_specie1Name</a></td>
														<td><span class="label label-danger ">_</span> _specie1TaxonName</td>
														<td>_specie1commom </td>

													</tr>
													<tr>
														<td><a>specie2Name</a></td>
														<td><span class="label label-danger ">_</span> _specie2TaxonName</td>
														<td>_specie2commom </td>

													</tr>
													<tr>
														<td><a>specie3Name</a></td>
														<td><span class="label label-danger ">_</span> _specie3TaxonName</td>
														<td>_specie3commom </td>

													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Species with fewest common groups</h3>
										</div>
										<div class="panel-body">
											<table class="table table-hover ">
												<tbody>
													<tr>
														<td><a>_specie1Name</a></td>
														<td><span class="label label-primary">_</span>  _specie1TaxonName</td>
														<td>_specie1commom</td>

													</tr>
													<tr>
														<td><a>_specie1Name</a></td>
														<td><span class="label label-primary">_</span>  _specie2TaxonName</td>
														<td>_specie2commom </td>

													</tr>
													<tr>
														<td><a>_specie3Name</a></td>
														<td><span class="label label-success">_</span> _specie3TaxonName</td>
														<td>_specie3commom </td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>      
						</div>      
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock content %}
