{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}Suggesting Genome for OMA{% endblock %}

{% block css_hook %}
<style type="text/css">
    div.required label:after { content: '*'; }
</style>
{% endblock css_hook %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h1 class="text-center">Suggesting a new or updated genome for OMA</h1>
					<div class="well well-sm entete"></div>
                    <p>Are you missing an important genome in OMA? Is our coverage in a certain region
                        of the phylogenetic tree underrepresented? Or did we miss out on an crucial update
                        of your genome of interest? Please let us know with the form below and we will
                        try to do our best to include your suggestion in the next possible release.</p>
                    <p>The genomes requested must have a publicly available protein annotation in order to
                        be included in OMA.</p>
                    <p>Keep in mind that computational efforts are quite demanding and we might not be able
                        to include your suggestion straight away. We prioritise the suggestions based on
                        genome quality, importance, and easiness to include. We therefore recommend to
                        complete the form to the best of your knowledge and to be available by email for 
                        further clarifications if needed later on.</p>
                    <div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Suggestion Form</h4>
							</div>
                            <div class="panel-body">
                                {% bootstrap_messages %}
                                <form role="form" class="form-horizontal" action="{% url 'genome_suggestion' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% bootstrap_form form layout="horizontal" %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    {% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
