{% extends  "base_template.html" %}
{% load staticfiles %}
{% load bootstrap4 %}


{% block title %}GO Enrichment Analysis{% endblock %}
{% block content %}


    <link href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" ></script>

<div id="oma-generic-container">

    <div class="container">

        <div class="jumbotron">

            <h1>GO Enrichment analysis</h1>

            <div class="oma-seperator">
                <span class="colour1"></span>
                <span class="colour2"></span>
                <span class="colour3"></span>
            </div>




            <p>
                Gene Ontology Enrichment Analysis (GOEA) uses the structured vocabulary of GO to identify overrepresented
                GO terms within study gene sets compared to a population gene set. This web-based GOEA analysis tool enables
                users to find functions associated with the genes of interest for both extant or ancestral genes.
            </p>
            <p>
                Extant gene GO enrichment is carried out as described in <a href="http://dx.doi.org/10.1038/s41598-018-28948-z" target="_blank">GOATOOLS</a>, where the study set is a user-defined
            set of extant genes, and the population is all of the genes in the extant genome of interest. For ancestral
            gene GO enrichment, we leverage the HOG GO annotations. The study set is a user-defined set of HOGs at a
            given taxonomic level, and the population is all the HOGs defined at that taxonomic level.

            </p>

            <br>
            <div class="card card-header-oma">

                <div class="card-header">
                    <h4>Run Go enrichment analysis</h4>
                </div>

                <div class="card-body">
                        <div id="client-error-message"></div>
                        <form role="form" class="form-horizontal" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form layout="horizontal" %}
                            {% buttons %}
                                <button id='submit_post_go' class="btn btn-lg btn-block btn-primary">Submit</button>
                            {% endbuttons %}
                        </form>

                </div>
            </div>

        </div>

    </div>

</div>


    <script>
    $('#id_type').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;

        if (valueSelected !== 'ancestral'){
            $('#id_taxon').hide();
            document.getElementById("id_taxon").parentNode.parentNode.style.display = 'none';
        } else {
            $('#id_taxon').show();
            document.getElementById("id_taxon").parentNode.parentNode.style.display = 'flex';
        }
    });


    document.getElementById('submit_post_go').addEventListener("click", function(event){

        event.preventDefault();

        // Remove is-invalid from all inputs before validating
        document.querySelectorAll('.is-invalid').forEach(function(el) {
            el.classList.remove('is-invalid');
        });
        document.getElementById('client-error-message').innerHTML = '';

        var input_foreground_raw = document.getElementById('id_Foreground').value;
        let input_foreground;
        try {
            // Try to parse as JSON array
            let parsed = JSON.parse(input_foreground_raw);
            if (Array.isArray(parsed)) {
                input_foreground = parsed.filter(n => n);
            } else {
                throw "Not an array";
            }
        } catch (e) {
            // Fallback: split by whitespace/comma
            input_foreground = input_foreground_raw.split(/[\s,\n\t]+/).filter(n => n);
        }
        let input_type = document.getElementById('id_type').value
        let input_name = document.getElementById('id_name').value
        let taxon_input = document.getElementById('id_taxon');
        let input_level = taxon_input.value ? taxon_input.value : ""
        // remove input level if not ancestral
        if (input_type === "extent" && input_level) {
            input_level = ""
        }

        if (input_type === "ancestral" && !input_level) {
            let errorDiv = document.getElementById('client-error-message');
            errorDiv.innerHTML = '<div class="alert alert-danger" role="alert">Please select a taxonomic level for ancestral analysis.</div>';
            taxon_input.classList.add("is-invalid");

            // Remove error on input
            taxon_input.addEventListener("input", function handler() {
                if (taxon_input.value) {
                    errorDiv.innerHTML = '';
                    taxon_input.classList.remove("is-invalid");
                    taxon_input.removeEventListener("input", handler);
                }
            });
            return;
        }


        console.log(input_foreground, input_type, input_name, input_level)

        fetch("/api/enrichment/", {
          method: "POST",
          body: JSON.stringify({
              foreground: input_foreground,
              type: input_type,
              name: input_name,
              taxlevel: input_level ,
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
            .then((response) => response.json())
            .then((json) =>  {
                if (json.id !== undefined){
                    window.open("{% url 'go_enrichment_result' 1234567  %}".replace(/1234567/, json.id), "_self")
                } else {
                    let errorDiv = document.getElementById('client-error-message');
                    let errors = [];
                    if (json.hasOwnProperty('taxlevel')) {
                        errors.push("Taxonomic level not found: " + json.taxlevel[0]);
                        taxon_input.classList.add("is-invalid");
                    }
                    if (json.hasOwnProperty('foreground')) {
                        errors.push("Foreground malformed. Please specify a list of extent genes or ancestral HOG-IDs.");
                        document.getElementById('id_Foreground').classList.add("is-invalid");
                    }
                    if (json.hasOwnProperty('non_field_errors')) {
                        errors.push(json.non_field_errors[0]);
                        document.getElementById('id_Foreground').classList.add("is-invalid");
                    }
                    errorDiv.innerHTML = '<div class="alert alert-danger" role="alert">' + errors.join("<br/>") + '</div>';

                    document.querySelectorAll('.is-invalid').forEach(function (el) {
                        el.addEventListener('input', function () {
                                el.classList.remove('is-invalid');
                            }, {once: true}
                        );
                    });
                }
          });

    })


    // AUTCOMPLETE TAXON

     var all_names = [];

        function recursiveScan(json)
    {



        if (json.name){
                all_names.push({label: json.name, value: json.name })
            }

        if(json.children != null)
        {
            //here you have access to id and dataelements

            if(json.children.length > 0)
            {
                for(let t=0; t<json.children.length; t++){

                    var e = json.children[t];

                    //here you have access to each child as json.children[t]
                    //you could do the logic for the current child

                    //then pass the current child to the recursive function
                    recursiveScan(json.children[t]);
                }
            }
        }
        return true;
    }

    $.getJSON( "/All/genomes.json", function( jsonData ) {
        recursiveScan(jsonData)


        var species_auto_options = {
            source: all_names,
        };

        $('#id_taxon').autocomplete(species_auto_options);
        $('#id_taxon').autocomplete("enable")

    })

    </script>


{% endblock content %}
