{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}OMA orthology database: Types of orthologous groupings{% endblock %}
{% block meta_description %}The OMA database provides several destinct types of groupings to the users. The appropriate grouping depends on the application of the user.{% endblock %}

{% block content %}


<div class="container mt-5">

    <div class="card text-center bg-light mb-3 mx-auto">
        <div class="card-header">
            <h1 class="display-3 mb-3">Types of orthologs</h1>
            <div class="entete mb-5" style="height: 10px;"></div>

			<p class="lead">Homologous sequences are sequence that sharing a common ancestry, be they within or between species. They can be further classified in two main categories: <i>orthologs</i>, which are pairs of genes that started diverging through speciation, and <i>paralogs</i>, which are pairs of genes that started diverging through gene duplication.</p>

            <div class="card bg-light m-3 text-left">

                <div class="card-body">

					<p class="lead">The OMA Browser reports different subtypes of orthologous and paralogous relationships:</p>
					{% include "includes/otypes.html" %}

				</div>
			</div>
		</div>
	</div>
</div>


<script>
    $(document).ready(function() {
        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');
    });
</script>
{% endblock content %}
