{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}OMA orthology database: typical uses cases{% endblock %}
{% block meta_description %}Here, we provide some examples of applications together with recommended solution provided by OMA{% endblock %}
{% block content %}




<div id="oma-generic-container">

    <div class="container">

        <div class="jumbotron">


            <h1>Typical uses</h1>

            <div class="oma-seperator">
                <span class="colour1"></span>
                <span class="colour2"></span>
                <span class="colour3"></span>
            </div>


            <p class="text-justify">The OMA project provides different types of ortholog representations and tools, each
                useful for different contexts and applications. Here, we provide some examples of applications together
                with recommended solutions.</p>


            <div class="card" >
                <div class="card-header">
    What would you like to do?
  </div>
                <div class="card-body">
                    <p class="card-text">

                        {% include "includes/utypes.html" %}

                    </p>

                </div>
            </div>


        </div>
    </div>


</div>







{% endblock content %}
