{% extends  "base_hog.html" %}
{% load staticfiles %}

{% block title %}Ancestral synteny for {{ fam.id }}{% endblock %}

{% block contentTab %}

    <script src="{% static 'local_synteny_viewer/local_synteny.js' %}" charset="UTF-8"></script>
    <script src="{% static 'local_synteny_viewer/orthoxml-parser.js' %}" charset="UTF-8"></script>
    <script src="{% static 'js/d3_7_8.js' %}" charset="UTF-8"></script>

<div class="container-fluid">



    <div class="row">

        <div class="col" id="synteny_div"  style=" height:calc(100vh - 285px); width:100px">

        </div>





    </div>


</div>

<script>

console.log('{{ hog.hog_id }}  {{ level }}')

 $.when($.ajax({url: "/oma/hog/{{ hog.hog_id }}/orthoxml/augmented/",dataType: "text"})).then(function(orthoxml) {
     var ls = new LocalSyntenyViewer('synteny_div', OrthoxmlParser.parse(orthoxml), '{{ hog.hog_id }}', '{{ level }}')
         //ls.render()
 })

</script>


{% endblock contentTab %}