{% extends "base_hog.html" %}
{% load staticfiles %}

{% block title %}OMA: Hierarchical Orthologous Groups for {{ fam.id }}{% endblock %}
{% block meta_description %}Hierarchical orthologous groups (HOGs) provide a set of genes that have all started diverging from a single ancestral gene at the taxonomic range of interest.{% endblock %}
{% block js_hook %}
    <!-- D3 -->
    <script src="{% static "js/d3.v3.min.js" %}" charset="utf-8"></script>
    <script src="{% static "js/colorbar.js" %}" charset="utf-8"></script>

    <!-- Underscore -->
    <script src="{% static "js/underscore-min.js" %}"></script>

    <!-- TnT -->
    <link rel="stylesheet" href="{% static "css/tnt.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/hog.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/tnt.tooltip.css" %}" type="text/css" />
    <script src="{% static "js/tnt.min.js" %}" charset="utf-8"></script>
    <script src="{% static "js/tnt.tooltip.min.js" %}" charset="UTF-8"></script>
    <script src="{% static "js/hog.js" %}" charset="UTF-8"></script>
    <script src="{% static "js/orthoxml-hogvis.min.js" %}" charset="UTF-8"></script>

{% endblock %}

{% block contentTab %}

    <div  style="background-color: white; padding:10px;">

        {% if isSingleton %}This entry is not part of any hierarchical orthologous group.

        {% else %}

            <div id="hogvis">

                <div id="header">

                    <div id="gap_conpenser"> </div>

                    <div id="hogvisheader">

                        <div>

                            <button id='btn_display_settings' class="btn btn-default" style="float: right; margin: 0 0 10px 10px;" aria-label="Left Align"  data-toggle="collapse" data-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings" type="button"  >
                                OPTIONS
                                <span id="icon_settings" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </button>

                            <h3 >Hierarchical group {{ fam.id }} <span id="open_txt">open at level of </span><span id="current_level_text" style="font-weight:bold;"></span></h3>

                        </div>

                        <div id="hogvis_settings">


                            <div class="collapse" id="collapseSettings">

                                <div id="button-settings-div">

                                    <div class="btn-group">
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <b>Select Color Scheme </b> <span class="caret"></span>
                                        </button>

                                        <ul id="genedata-vis" class="dropdown-menu">
                                        </ul>

                                    </div>

                                    <div class="btn-group">
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <b>Show gene tooltips on</b> <span class="caret"></span>
                                        </button>

                                        <ul id="tooltip_dropdown" class="dropdown-menu">
                                            <li class="tooltip_dropdown-li" id="gt-click"><a> Click <span id='setting_ok_click' class="glyphicon glyphicon-ok pull-right " aria-hidden="true"></span> </a> </li>
                                            <li class="tooltip_dropdown-li" id="gt-mousover"><a> Mouseover <span id='setting_ok_mouseover' class="glyphicon glyphicon-ok pull-right hidden" aria-hidden="true"></span>  </a> </li>
                                        </ul>
                                    </div>

                                    <div class="fakebutton"> <b>Remove columns under
                                        <input id="min_column_setting_id" class='min_column_setting'type="number" step="10" value="0" min="0" max="100"> % of species coverage</b> </div>



                                </div>

                                <div class='hidden' id="scale-settings-div">
                                    <div class="scale-item" id="colorbarText" > </div>
                                    <div class="scale-item" id="colorbar" > </div>
                                </div>



                            </div>
                        </div>

                        <div class="alert alert-info text-center alert_remove" role="alert" style="margin-bottom:0; padding: 4px; display: none">Lowly supported hogs have been removed as per settings. <a  class="alert-link" id='reset_column_filter' > Click here to reset.</a></div>

                    </div>


                    <script>

                        (function(){
                            document.getElementById("btn_display_settings").addEventListener("click", function(){
                                var ico = document.getElementById("icon_settings");
                                if (ico.getAttribute("class") === "glyphicon glyphicon-triangle-top") {ico.setAttribute("class","glyphicon glyphicon-triangle-bottom")}
                                else ico.setAttribute("class","glyphicon glyphicon-triangle-top");
                            });
                        }) ();
                    </script>

                </div>

                <div id="loader"><img src="{% static "image/loading.gif"%}"></div>

            </div>

            <script>

                (function () {
                    $('#open_txt').hide();
                    var Hogvis = hog_theme();

                    var query = {'id': {{ entry.entry_nr }} };
                    var tooltip_data = undefined
                    var hogvis_container_id = "hogvis";
                    var genedatavis = [
                        {
                            name: 'Query Gene',
                            scale: 'on_off'
                        }, {
                            name: "Gene Length",
                            scale: "linear",
                            field: "sequence_length",
                            func: "color1d"
                        },{
                            name: "GC Content",
                            scale: "linear",
                            field: "gc_content",
                            func: "color1d"
                        }];

                    var default_options = {
                        label_height: 20,
                        genedatavis: genedatavis,
                        show_internal_labels: {{ show_internal_labels|yesno:"true,false" }},
                        post_init: function(){
                            $("#open_txt").show();
                            $("#loader").hide();
                        }
                    };

                    $.when(
                        $.ajax({url: "/oma/hogs/{{ entry.omaid }}/orthoxml/",
                                dataType: "text"}),
                        $.ajax({url: "/All/speciestree.nwk"})
                    ).then(function(orthoxml, speciestree) {
                        var hog_data = parse_xml.parse_orthoxml(speciestree[0], orthoxml[0]);
                        var hogvis_obj = new Hogvis(hogvis_container_id, query, hog_data.per_species,
                            hog_data.tree, tooltip_data, default_options, document.getElementById("genedata-vis"));
                    });
                }) ();
            </script>

        {% endif %}

    </div>

{% endblock %}