{% extends  "base_hog.html" %}
{% load staticfiles %}

{% block title %}OMA: Hierarchical Orthologous Groups for {{ fam.id }}{% endblock %}


{% block contentTab %}


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
  <div class="card-header">
    HOGs with shared orthologs relations
  </div>
  <div class="card-body">


      <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">HOGs</th>
      <th scope="col">Orthologous relations</th>

    </tr>
  </thead>
  <tbody>

  {% for close in similar_hogs %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td ><a href="{% url 'hog_viewer' close.1 %}">{{close.1}}</a></td>
        <th scope="row">{{close.0}}</th>
    </tr>
{% endfor %}

  </tbody>
</table>



  </div>
</div>
    </div>

  </div>
</div>


{% endblock contentTab %}