{% extends  "base_hog.html" %}
{% load staticfiles %}

{% block title %}Ancestral synteny for {{ fam.id }}{% endblock %}

{% block contentTab %}

    <script src="{% static 'local_synteny_viewer/local_synteny.js' %}" charset="UTF-8"></script>
    <script src="{% static 'local_synteny_viewer/orthoxml-parser.js' %}" charset="UTF-8"></script>
    <script src="{% static 'js/d3_7_8.js' %}" charset="UTF-8"></script>

<div class="container-fluid">



    <div class="row">

        <div class="col" id="synteny_div"  style=" height:calc(100vh - 285px); width:100px">

        </div>





    </div>


</div>

<script>

console.log('{{ hog.hog_id }}  {{ level }}')

 $.when($.ajax({url: "/oma/hog/{{ hog.hog_id }}/orthoxml/augmented/",dataType: "text"})).then(function(orthoxml) {

     var call_back_hog_detail = function(hog_id, level){
                var newUrl="{% url 'hog_viewer' 1234567 7654321  %}".replace(/1234567/, hog_id).replace(/7654321/, level);
                window.open(newUrl, "_blank");
            }

    var call_back_hog_local_synteny = function(hog_id, level){
        var newUrl="{% url 'hog_synteny' 1234567 7654321 %}".replace(/1234567/,hog_id).replace(/7654321/, level);
        window.open(newUrl, "_blank");
    }

    var callback_gene_local_synteny  = function(gene_id){
        var newUrl="{% url 'synteny' 1234567  %}".replace(/1234567/,gene_id);
        window.open(newUrl, "_blank");
    }

    var call_back_gene_detail = function(gene_id){
        var newUrl="{% url 'pairs' 1234567  %}".replace(/1234567/,gene_id);
        window.open(newUrl, "_blank");
    }


     var ls = new LocalSyntenyViewer('synteny_div', '{{ hog.hog_id }}', OrthoxmlParser.parse(orthoxml), '{{ hog.hog_id }}', '{{ level }}', call_back_hog_detail, call_back_hog_local_synteny, callback_gene_local_synteny, call_back_gene_detail)
         //ls.render()
 })

</script>


{% endblock contentTab %}