{% extends "seqCV.html" %}
{% load staticfiles %}

{% block title %}OMA: Hierarchical Orthologous Groups for {{ fam.id }}{% endblock %}
{% block meta_description %}Hierarchical orthologous groups (HOGs) provide a set of genes that have all started diverging from a single ancestral gene at the taxonomic range of interest.{% endblock %}
{% block js_hook %}
<!-- D3 -->
<!--<script src="{% static "js/d3.v3.min.js" %}" charset="utf-8"></script>-->
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="http://benschmidt.org/colorbar/colorbar.js" charset="utf-8"></script>

<!-- Underscore -->
<script src="{% static "js/underscore-min.js" %}"></script>

  <!-- TnT -->
  <link rel="stylesheet" href="{% static "css/tnt.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/hog.css" %}" type="text/css" />
  <link rel="stylesheet" href="http://tntvis.github.io/tnt.tooltip/build/tnt.tooltip.css" type="text/css" />
  <script src="http://tntvis.github.io/tnt/build/tnt.min.js" charset="utf-8"></script>
<script src="http://tntvis.github.io/tnt.tooltip/build/tnt.tooltip.min.js" charset="UTF-8"></script>
<script src="{% static "js/hog.js" %}" charset="UTF-8"></script>

{% endblock %}

{% block contentTab %}

<div  style="background-color: white; padding:10px;">

<div id="gap_conpenser"> </div>

<div id="hogvisheader">

    {% if isSingleton %}This entry is not part of any hierarchical orthologous group.
    {% else %}
    <h3>Hierarchical group {{ fam.id }} open at level of <span id="current_level_text" style="font-weight:bold;"></span> </h3>

    <div id="genedata-vis"> </div>
    <div id="colorbar"> </div>

  </div>

  <div id="hog_vis"> </div>


  <script>

  // Init the hogvis
    (function () {
        var tree = {{ species_tree|safe }};
        var query = {'id': {{ entry.entry_nr }} };
        var per_species = {{ per_species|safe }};
        var tooltip_data = {{ xrefs|safe }};
        var options = {'show_internal_labels': {{ show_internal_labels|yesno:"true,false" }},
                       'oma_info_url_template': "/cgi-bin/gateway.pl?f=DisplayEntry&amp;p1=",
                       'current_level_div': "current_level_text"}

        var theme = hog_theme();
        theme(document.getElementById ("hog_vis"), query, per_species,
                tree, tooltip_data, options, document.getElementById("genedata-vis"));

    }) ();


    // Set up the annot board width depending on screen resize

    function set_scroller_width(){

        var viewerC = document.getElementById("hog_vis");
        var viewerS = document.getElementById("tnt_annot_container_hog_vis");
        var viewerT = document.getElementById("tnt_tree_container_hog_vis");

        var scroller_width = viewerC.offsetWidth - viewerT.offsetWidth - 40;
        viewerS.style.width = scroller_width + "px";
    }

    set_scroller_width();

    window.onresize = function() {
        set_scroller_width()
    }


  // Top-fixed div with scroll made using the code from http://jsfiddle.net/uFq2k/1224/

  $(function () {
    var stickyHeaderTop = $('#hogvisheader').offset().top;
    var shw = $('#hogvisheader').width();


    $(window).scroll(function () {
        if ($(window).scrollTop() > stickyHeaderTop) {
            $('#hogvisheader').css({
                position: 'fixed',
                top: '0px'
            });
            $('#hogvisheader').width(shw);
            $('#hog_vis').css('margin-top', $('#hogvisheader').outerHeight(true) + parseInt($('#gap_conpenser').css('marginBottom')));
        } else {
            $('#hogvisheader').css({
                position: 'static',
                top: '0px'
            });
            $('#hogvisheader').width(shw);
            $('#hog_vis').css('margin-top', '0px');
        }
    });
});

    //div on the board/tree border to resize them
    var dragDiv = document.createElement('div');
    dragDiv.id = 'drag';
    document.getElementById('tnt_tnt_annot_container_hog_vis').appendChild(dragDiv);

// code rearranged from http://stackoverflow.com/questions/26233180/resize-div-on-border-drag-and-drop
var isResizing = false,
    lastDownX = 0;

$(function () {
    var container = $('#hog_vis'),
        left = $('#tnt_tree_container_hog_vis'),
        //left = document.getElementById("tnt_tree_container_hog_vis"),
        right = $('#tnt_annot_container_hog_vis'),
        handle = $('#drag');

    handle.on('mousedown', function (e) {
        isResizing = true;
        lastDownX = e.clientX;
    });

    $(document).on('mousemove', function (e) {
        // we don't want to do anything if we aren't resizing.
        if (!isResizing)
            return;


        //var offsetRight = container.width() - (e.clientX - container.offset().left);

        var nw = e.clientX - container.offset().left;

        left.css('width', nw);
        set_scroller_width()
        //right.css('width', offsetRight);
    }).on('mouseup', function (e) {
        // stop resizing
        isResizing = false;
    });
});


</script>


{% endif %}

</div>

{% endblock %}