{% extends "seqCV.html" %}
{% load staticfiles %}

{% block title %}OMA: Hierarchical Orthologous Groups for {{ fam.id }}{% endblock %}
{% block meta_description %}Hierarchical orthologous groups (HOGs) provide a set of genes that have all started diverging from a single ancestral gene at the taxonomic range of interest.{% endblock %}
{% block js_hook %}
 <!-- D3 -->
  <script src="{% static "js/d3.v3.min.js" %}" charset="utf-8"></script>

  <!-- Underscore -->
  <script src="{% static "js/underscore-min.js" %}"></script>

  <!-- TnT -->
  <link rel="stylesheet" href="{% static "css/tnt.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/hog.css" %}" type="text/css" />
  <script src="{% static "js/tnt.js" %}"></script>
  <script src="{% static "js/hog.js" %}"></script>
{% endblock %}

{% block contentTab %}
    {% if isSingleton %}This entry is not part of any hierarchical orthologous group.
    {% else %}
<h3>Hierarchical group {{ fam.id }}</h3>
<h4>This group contains {{ hog_members|length }} members:
    {%for kingdom, cnt in cnt_per_kingdom.items %}
        {{cnt}} {% include "includes/kingdom.html" %}
    {%endfor %}
</h4>
  <div id="hog_vis"></div>

  <script>

    (function () {
        var tree = {{ species_tree|safe }};
        var query = {'id': {{ entry.entry_nr }} };
        var per_species = {{ per_species|safe }};


      var viz = tnt.tree_annot();
      var theme = tnt_theme_tree_hog();
      theme (viz, document.getElementById ("hog_vis"), query, per_species, tree);
    }) ();
  </script>

{% endif %}
{% endblock %}