{% extends "base_hog.html" %}
{% load staticfiles %}

{% block title %}OMA: Hierarchical Orthologous Groups for {{ entry.omaid }}{% endblock %}
{% block meta_description %}Hierarchical orthologous groups (HOGs) provide a set of genes that have all started diverging from a single ancestral gene at the taxonomic range of interest.{% endblock %}
{% block contentTab %}

{% block js_hook %}

{% endblock %}


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">The OMA Browser reports for every entry different types of orthology</h3>
			</div>
			<div class="modal-body">
				{% include "includes/otypes.html" %}
			</div>
		</div>
	</div>
</div>


{% if levels %}
<ol class="breadcrumb">
{% for lev in levels %}
<li class="breadcrumb-item{% ifequal lev level %} active{%endifequal%}"><a href="{%url 'hogs' entry.omaid lev %}">{{lev}}</a></li>
{% endfor %}
</ol>
{% else %}
This entry is not part of any hierarchical orthologous group.
{% endif %}



{% if hog_members %}
<h3>Hierarchical group {{ hog.id }} at {{ level }}</h3>
<h4>This group contains {{ hog_members|length }} members:
    {%for kingdom, cnt in cnt_per_kingdom.items %}
        {{cnt}} {% include "includes/kingdom.html" %}
    {%endfor %}
</h4>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-right">
            Download:
            <a href="{% url 'hogs_orthoxml' entry.omaid %}"><span class="glyphicon glyphicon-download"></span> OrthoXML</a> /
            <a href="{% url 'hogs_fasta' entry.omaid level %}"><span class="glyphicon glyphicon-download"></span> Sequences (fasta)</a> /
            <a href="{% url 'hogs_msa' entry.omaid level %}"><span class="glyphicon glyphicon-download"></span> MSA (fasta)</a>
        </div>
    </div>
    <div class="panel-body">
        {% include "includes/groupTable.html" %}

    </div>
</div>


{% endif %}
{% endblock contentTab %}
