{% extends  "seqCV.html" %}
{% load staticfiles %}
{% load bootstrap3 %}



{% block activeTabHOGs %} active {% endblock activeTabHOGs %}
{% block contentTab %} 

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">The OMA Browser reports for every entry different types of orthology</h3>
			</div>
			<div class="modal-body">
				{% include "includes/otypes.html" %}

			</div>
		</div>
	</div>
</div>


<ol class="breadcrumb">
	<li><a href="{% url 'seqCVproteinHOG'  %}">LUCA</a></li>
	<li><a href="#">Eukaryota</a></li>
	<li><a href="#">Opisthokonta</a></li>
	<li><a href="#">Metazoa</a></li>
	<li><a href="#">Eumetazoa</a></li>
	<li><a href="#">Bilateria</a></li>
	<li><a href="#">Deuterostomia</a></li><li><a href="#">Chordata</a></li>
	<li><a href="#">Vertebrata</a></li><li><a href="#">Euteleostomi</a></li>
	<li><a href="#">Sarcopterygii</a></li><li><a href="#">Tetrapoda</a></li>
	<li><a href="#">Amniota</a></li><li><a href="#">Mammalia</a></li>
	<li><a href="#">Theria</a></li><li><a href="#">Eutheria </a></li>
	<li><a href="#">Euarchontoglires</a></li><li><a href="#">Primates</a></li>
	<li><a href="#">Haplorrhini</a></li><li><a href="#">Simiiformes</a></li>
	<li><a href="#">Catarrhini</a></li><li><a href="#">Hominoidea</a></li>
	<li><a href="#">Hominidae</a></li>
</ol>

<div class="well well-sm "></div>


<h3>Hierarchical Group of <a href="{% url 'seqCV'  %}"> _groupNumber</a> at _taxon level </h3>

<h4 class=""> _description </h4>
<h4 class=""> <small>This group has _numberOfMembers members: _numberOf-E-Members [E]ukaryota </small> </h4>
<h4 class=""> <small>Fingerprint: _fingerprint</small> </h4>
<br>


<ul class="nav nav-pills" >
	<li class=" {% block activeTabList %}  {% endblock activeTabList %}"><a href="{% url 'seqCVproteinHOG'  %}">Protein List</a></li>
	<li class=" {% block activeTabAlignment %}  {% endblock activeTabAlignment %}"><a href="{% url 'seqCValignHOG'  %}" >Alignment</a></li>
	<li class=" {% block activeTabOntology %}  {% endblock activeTabOntology %}"><a href="{% url 'seqCVontologyHOG'  %}" >Ontology</a></li>
</ul>

{% block HOGcontentTab %}




{% endblock HOGcontentTab %}

{% endblock contentTab %}
