{% extends "seqCV.html" %}
{% load staticfiles %}

{% block title %}OMA: Hierarchical Orthologous Groups for {{ entry.omaid }}{% endblock %}
{% block meta_description %}Hierarchical orthologous groups (HOGs) provide a set of genes that have all started diverging from a single ancestral gene at the taxonomic range of interest.{% endblock %}
{% block contentTab %}

{% block js_hook %}
	<!-- D3 and D3 Tooltip -->
  <script src="{% static "js/d3.v3.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/d3.tip.v0.6.3.js" %}" type="text/javascript"></script>

	<!-- Domain Visualisation -->
  <script src="{% static "js/domains_vis.js" %}" type="text/javascript"></script>
	<link href="{% static "css/domains_vis.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">The OMA Browser reports for every entry different types of orthology</h3>
			</div>
			<div class="modal-body">
				{% include "includes/otypes.html" %}
			</div>
		</div>
	</div>
</div>


{% if levels %}
<ol class="breadcrumb">
{% for lev in levels %}
<li {% ifequal lev level %}class="active" {%endifequal%}><a href="{%url 'hogs' entry.omaid lev %}">{{lev}}</a></li>
{% endfor %}
</ol>
{% else %}
This entry is not part of any hierarchical orthologous group.
{% endif %}



{% if hog_members %}
<h3>Hierarchical group {{ hog.id }} at {{ level }}</h3>
<h4>This group contains {{ hog_members|length }} members:
    {%for kingdom, cnt in cnt_per_kingdom.items %}
        {{cnt}} {% include "includes/kingdom.html" %}
    {%endfor %}
</h4>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-right">
            Download: 
            <a href="{% url 'hogs_orthoxml' entry.omaid %}"><span class="glyphicon glyphicon-download">OrthoXML</span></a>
            <a href="{% url 'hogs_fasta' entry.omaid level %}"><span class="glyphicon glyphicon-download">Fasta</span></a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td class="col-md-3">Taxon</td>
                <td class="col-md-2">Protein ID</td>
                <td class="col-md-3"><a href="http://www.cathdb.info">CATH</a> Domains
            </tr>
        </thead>
        <tbody>
        {% for memb in hog_members %}
           <tr class="hog_member" id="{{memb.omaid}}">
             <td>{% include "includes/kingdom.html" with kingdom=memb.kingdom %}
                   <b>{{memb.sciname.species}}</b>{{memb.sciname.strain}} </td>
             <td><a href="/cgi-bin/gateway.pl?f=DisplayEntry&amp;p1={{memb.omaid}}">{{memb.omaid}}</td>
             <td class="domain_vis"></td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}
{% endblock contentTab %}

