{% extends  "core.html" %}
{% load staticfiles %}


{% block title %}OMA Orthology database: orthologs among hundreds of complete genomes across all of life{% endblock %}
{% block meta_description %}OMA is a method and database for the inference of orthologs among complete genomes. We provide browsable orthology predictions, APIs, flat file downloads and a standalone version of the inference algorithm.{% endblock %}
{% block meta_hook %} <meta name="keywords" content="orthology,evolutionary gene relations,evolution,paralogy,inference"> {% endblock %}

{% block content %}
<!--           -->
<!-- alert    -->
<div class="container-fluid">
    <!-- content    -->

    <div class="row">
        <!--           -->
        <!-- search    -->
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="jumbotron">
                <div class="container">
                    {% if oma_instance_name == "full" %}
                    <img src="{% static "image/oma2.png" %}" class="img-responsive margin-auto" alt="OMA logo">
                    {% else %}
                    <img src="{% static "image/omalogo-"|add:oma_instance_name|add:".svg" %}" style="max-width: 528px;" class="img-responsive margin-auto" alt="OMA logo">
                    {% endif %}
                    <p><br></p>
                    <form role="search" id="searchForm" action="/cgi-bin/gateway.pl" method="GET">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-sm-4">
                            <select id="selectBrowser" class="form-control btn-mini" name="f" onchange="update_autocomplete()">
                                <option value="DisplayEntry" selected="selected">Identifier</option>
                                <option value="SearchSeqDb">Protein sequence</option>
                                <option value="DisplayGroup">OMA group</option>
                                <option value="SearchDb">Full-text search</option>
                            </select>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id='inputBrowser' name="p1" type="text" class="form-control" />
                                <span class="input-group-btn">
                                <button class="btn btn-default" id='loupeBrowser' type="submit">
                                    <span class="glyphicon glyphicon-search "></span>
                                </button>
                                </span>
                            </div>
                            <a href="#" id="toggle">Expand (e.g. to paste a long amino-acid sequence)</a>
                        </div>
                    </div>
                    </form>
                    <br>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="text-center">
                            Examples: 
                            <a id='exEntry'>Entry HUMAN22168</a>
                          - <a id='exEntry2'>Entry P53_RAT</a>
                          -  <a id='exPhoto'>Search for "photoreceptor"</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">

$('#exPhoto').click( function() {
    $('#selectBrowser').val('SearchDb');
    $('#inputBrowser').val('photoreceptor').focus();
    $('#textarea').val('photoreceptor').focus();
});

$('#exEntry').click( function() {
    $('#selectBrowser').val('DisplayEntry');
    $('#inputBrowser').val('HUMAN22168').focus();
    $('#textarea').val('HUMAN22168').focus();
});

$('#exEntry2').click( function() {
    $('#selectBrowser').val('DisplayEntry');
    $('#inputBrowser').val('P53_RAT').focus();
    $('#textarea').val('P53_RAT').focus();
});
var textbox = $("#inputBrowser");
var textarea = $("<textarea id='textarea' rows='3' name='p1'></textarea>");
$("#toggle").click(function () {
    //Check for textbox or textarea
    if ($("#inputBrowser").length === 1) {
        //Copy value to textarea
        textarea.val(textbox.val());
        textarea.css("width", textbox.width());
        //Replace textbox with textarea
        textbox = textbox.replaceWith(textarea);
        $("#toggle").text('Revert to normal');
    } else {
        //Copy value to textbox
        textbox.val(textarea.val());
        //Replace textarea with textbox
        textarea = textarea.replaceWith(textbox);
        $("#toggle").text('Expand (e.g. to paste a long amino-acid sequence)');
    }
    $('#selectBrowser').val('SearchSeqDb');
});

function update_autocomplete() {
        var sel=document.getElementById('selectBrowser');
        var txt=document.getElementById('inputBrowser');
        if (sel.value === "DisplayEntry"){
            $('#inputBrowser').autocomplete('enable');
        } else {
            $('#inputBrowser').autocomplete('disable');
        }
    }
$('#inputBrowser').autocomplete(autocomplete_opts);


</script>
<div class="row">
    <!--           -->
    <!-- 3 columns    -->
    <div class=" col-sm-12 col-md-10 col-md-offset-1">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4 ">
                        <div class="thumbnail oma-3-panels">
                            <div class="caption">
                                <p class="text-center ">
                                    <span class="glyphicon glyphicon-question-sign glyphicon-xl"></span>
                                </p>

                                <h3>First time here?</h3>
                                <ul>
                                    <li>Read our
                                        <a href="{% url 'about'  %}">brief introduction to OMA</a>.
                                    </li>
                                    <li>Familiarise yourself with the
                                        <a href="{% url 'type'  %}">different types of orthologs provided</a>.
                                    </li>
                                    <li>Get ideas about
                                        <a href="{% url 'uses'  %}">different types of analyses you could do with OMA</a>.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail oma-3-panels">
                            <div class="caption">

                                <p class="text-center ">
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-md">
                                        <span class="glyphicon glyphicon-circle-arrow-down glyphicon-xl"></span>
                                    </a>
                                </p>
                                <h3>Download options</h3>
                                <ul>
                                    <li>
                                        <b><a href="{% url 'current'  %}">Current release</a>:</b>
                                        All data is available for downloading in a variety of formats.
                                    </li>

                                    <li>
                                        <b><a href="/standalone">OMA Standalone</a>:</b>
                                        OMA standalone allows you to infer orthologs on your own set of genomes.
                                    </li>

                                    <li>
                                        <b><a href="{% url 'export' %}">Export All-All</a>:</b>
                                        Export a set of genomes and their precomputed all-against-all comparisons for OMA standalone.
                                    </li>

                                    <li>
                                        <b><a href="{% url 'archives'  %}">Archives</a>:</b>
                                        Previous OMA releases remain available in this section. 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 ">
                        <div class="thumbnail oma-3-panels ">
                            <div class="caption comment-text" id="latest-news">
                                <p class="text-center ">
                                    <span class="glyphicon glyphicon-info-sign glyphicon-xl">
                                    </span>
                                </p>
                                <h3>Latest news</h3>
                                <ul >
				    {% autoescape off %}
                                    {%for t in tweets %}
                                       <li>{{ t }}</li>
                                    {% endfor %}
				    {% endautoescape %}

                                </ul>
                                <p><a href="https://twitter.com/intent/user?screen_name=OMABrowser" class="btn btn-primary btn-sm bottomright" role="button">Follow us on Twitter</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--           -->
    <!-- cite    -->
   <div class="row">
       <div class="col-sm-12 col-md-7 col-md-offset-1">
           <div class="alert alert-success thd" role="alert">
            	If you use OMA in your work, please consider citing:<br/>
               Altenhoff A et al., <em>The OMA orthology database in 2018: retrieving evolutionary
               relationships among all domains of life through richer web and programmatic interfaces</em>
               Nucleic Acids Research, 2018, 46 (D1): D477-D485
               (doi:<a href="http://doi.org/10.1093/nar/gkx1019">10.1093/nar/gkx1019</a>).
           </div>
       </div>
       <div class="col_sm-12 col-md-3">
           <div class="thd" style="text-align: right;">
               <b>How to stay in touch:</b>
               <p>
                   <a class="fig" href="javascript:show_frame('frame_twitter');" title="Twitter"> <i class="fa fa-2x fa-twitter"></i></a>
                   &nbsp;
                   <a class="fig" href="http://omabrowser.blogspot.com" title="Blog"><i class="fa fa-2x fa-pencil-square-o"></i></a>
                    &nbsp;
                   <a class="fig" href="http://omabrowser.blogspot.com/feeds/posts/default" title="RSS"><i class="fa fa-2x fa-rss"></i></a>
                   &nbsp;
                   <a class="fig" href="javascript:show_frame('frame_mailman');" title="Newsletter">
                       <i class="fa fa-2x fa-newspaper-o"></i>
                       <!--<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 32 32" focusable="false"><title>Newsletter</title><path d="M4,14h20v-2H4V14z M15,26h7v-2h-7V26z M15,22h9v-2h-9V22z M15,18h9v-2h-9V18z M4,26h9V16H4V26z M28,10V6H0v22c0,0,0,4,4,4   h25c0,0,3-0.062,3-4V10H28z M4,30c-2,0-2-2-2-2V8h24v20c0,0.921,0.284,1.558,0.676,2H4z"/></svg> -->
                       </a>

               </p>
                <span id="frame_twitter" style="display: none;"><a href="https://twitter.com/omabrowser" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true">Follow</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></span>
                <span id="frame_mailman" style="display: none;">
                    <form action="https://lists.dessimoz.org/subscribe/oma" method="POST">
                        Email: <input name="email" size="13"/>
                        <input type="submit" value="Sign up" /><br/>(max 1-2 emails/month, no spam!)
                    </form>
                </span>
                <script>
                    function show_frame(frame){
                        var frames = ["frame_twitter", "frame_mailman"];
                        frames.forEach(function(frm){
                            document.getElementById(frm).style.display = (frm === frame ? 'initial' : 'none');
                        });
                    }
                </script>
           </div>
       </div>
    </div>
</div>
<!--    end    -->
<!-- content    -->

{% endblock content %}
