{% extends  "seqCV.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block activeTabInformation %} active {% endblock activeTabInformation %}

{% block contentTab %} 

<br>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Information</h3>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal test">
			<dt>Description</dt>
			<dd>_description</dd>
			<dt>Organism</dt>
			<dd><a href='linkToGenomeCVpage'>_specieId - _specieName</a></dd>
			<dt>Locus</dt>
			<dd>_locus</dd>
			<dt>Protein Structure</dt>
			<dd><img alt="pmp logo" src="{% static "image/pmp.png" %}" ></img>  <a> Protein Model Portal: _proteinId </a> <img alt="ext logo" src="{% static "image/ext.png" %}" ></img></dd>
		</dl>
	</div>
</div>

<div class="panel panel-default ">
	<div class="panel-heading">
		<h3 class="panel-title">IDs and Cross-references</h3>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal test">
			<dt>UniProtKB/Swiss-Prot</dt>
			<dd> 
				<img alt="uniprot logo" src="{% static "image/uniprot.png" %}" ></img>
				<a>_uniprotId1 </a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
				( _uniprotId2 )
			</dd>

			<dt>Ensembl</dt>
			<dd>
				<img alt="Ensembl logo" src="{% static "image/ensembl.png" %}" ></img>
				<a href=""> _EnsemblId1 </a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>, <img alt="Ensembl logo" src="{% static "image/ensembl.png" %}" ></img><a href=""> _EnsemblId2 </a> <img alt="ext logo" src="{% static "image/ext.png" %}" ></img>,<img alt="Ensembl logo" src="{% static "image/ensembl.png" %}" ></img><a href=""> _EnsemblId3 </a>  <img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
			</dd>

			<dt>Refseq</dt>
			<dd><img alt="refseq logo" src="{% static "image/refseq.png" %}" ></img> 
				<a href=""> _RefseqId1</a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
				(Acc.: 
				<img alt="refseq logo" src="{% static "image/refseq.png" %}" ></img>
				<a href=""> _RefseqId2</a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
				<img alt="refseq logo" src="{% static "image/refseq.png" %}" ></img>
				<a href=""> _RefseqId3</a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
				)
			</dd>

			<dt>EntrezGene</dt>
			<dd>
				<img alt="refseq logo" src="{% static "image/refseq.png" %}" ></img>
				<a href=""> _entrez </a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>			
			</dd>

			<dt>HGNC</dt>
			<dd>
				<a href="">_HGNCId</a> <img alt="ext logo" src="{% static "image/ext.png" %}" ></img> _HGNCInfo
			</dd>

			<dt>NCBI</dt>
			<dd>
				<img alt="refseq logo" src="{% static "image/refseq.png" %}" ></img>
				<a href=""> _NCBIID1</a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>,
				<img alt="refseq logo" src="{% static "image/refseq.png" %}" ></img>
				<a href="">  _NCBIID2 </a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img> , 
				<img alt="refseq logo" src="{% static "image/refseq.png" %}" ></img>
				<a href=""> _NCBIID3 </a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>,
				<img alt="refseq logo" src="{% static "image/refseq.png" %}" ></img>
				<a href=""> _NCBIID4 </a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>,
				<img alt="refseq logo" src="{% static "image/refseq.png" %}" ></img>
				<a href="">_NCBIID25 </a>
				<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>

			</dd>
		</dl>
	</div>
</div>



<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Gene Ontology</h3>
	</div>
	<div class="panel-body">

		<table class="table table-hover ">
			<thead><h5><strong>Biological process</strong></h5></thead>
			<thead>
				<th class="subHead"><h5 >GO term</h5></th>
				<th class="subHead"><h5 >Evidence and reference</h5></th>
			</thead>
			<tbody>
				<tr>
					<td> GOTerm  (
						<a href="">  GOId
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
					<td>
						<abbr title="Inferred from Physical Interaction (IPI)">
							<a href="http://geneontology.org/page/introduction" >IPI
							</a>
						</abbr>: evidenceType (
						<a href="">  evidenceRef
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
				</tr>
				<tr>
					<td>GOTerm (
						<a href="">GOId 
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
					<td>
						<abbr title="Inferred from Electronic Annotation (IEA)">
							<a href="http://geneontology.org/page/introduction" class='orange'>IAE
							</a>
						</abbr>: evidenceType (
						<a href="">evidenceRef 
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
				</tr>
			</tbody>
		</table>

		<br>

		<table class="table table-hover ">
			<thead><h5><strong>Biological process</strong></h5></thead>
			<thead>
				<th class="subHead"><h5 >GO term</h5></th>
				<th class="subHead"><h5 >Evidence and reference</h5></th>
			</thead>
			<tbody>
				<tr>
					<td> GOTerm  (
						<a href="">  GOId
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
					<td>
						<abbr title="Inferred from Physical Interaction (IPI)">
							<a href="http://geneontology.org/page/introduction" >IPI
							</a>
						</abbr>: evidenceType (
						<a href="">  evidenceRef
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
				</tr>
				<tr>
					<td>GOTerm (
						<a href="">GOId 
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
					<td>
						<abbr title="Inferred from Electronic Annotation (IEA)">
							<a href="http://geneontology.org/page/introduction" class='orange'>IAE
							</a>
						</abbr>: evidenceType (
						<a href="">evidenceRef 
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
				</tr>
			</tbody>
		</table>

		<br>
		
		<table class="table table-hover ">
			<thead><h5><strong>Biological process</strong></h5></thead>
			<thead>
				<th class="subHead"><h5 >GO term</h5></th>
				<th class="subHead"><h5 >Evidence and reference</h5></th>
			</thead>
			<tbody>
				<tr>
					<td> GOTerm  (
						<a href="">  GOId
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
					<td>
						<abbr title="Inferred from Physical Interaction (IPI)">
							<a href="http://geneontology.org/page/introduction" >IPI
							</a>
						</abbr>: evidenceType (
						<a href="">  evidenceRef
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
				</tr>
				<tr>
					<td>GOTerm (
						<a href="">GOId 
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
					<td>
						<abbr title="Inferred from Electronic Annotation (IEA)">
							<a href="http://geneontology.org/page/introduction" class='orange'>IAE
							</a>
						</abbr>: evidenceType (
						<a href="">evidenceRef 
							<img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
						</a>)
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>






<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Sequence</h3>
	</div>
	<div class="panel-body">
		<h5 class="seqwidth">MGRKEEDDCS SWKKQTTNIR KTFIFMEVLG SGAFSEVFLV KQRLTGKLFA LKCIKKSPAF    60<br>
			RDSSLENEIA VLKKIKHENI VTLEDIYEST THYYLVMQLV SGGELFDRIL ERGVYTEKDA   120<br>
			SLVIQQVLSA VKYLHENGIV HRDLKPENLL YLTPEENSKI MITDFGLSKM EQNGIMSTAC   180<br>
			GTPGYVAPEV LAQKPYSKAV DCWSIGVITY ILLCGYPPFY EETESKLFEK IKEGYYEFES   240<br>
			PFWDDISESA KDFICHLLEK DPNERYTCEK ALSHPWIDGN TALHRDIYPS VSLQIQKNFA   300<br>
			KSKWRQAFNA AAVVHHMRKL HMNLHSPGVR PEVENRPPET QASETSRPSS PEITITEAPV   360<br>
			LDHSVALPAL TQLPCQHGRR PTAPGGRSLN CLVNGSLHIS SSLVPMHQGS LAAGPCGCCS   420<br>
			SCLNIGSKGK SSYCSEPTLL KKANKKQNFK SEVMVPVKAS GSSHCRAGQT GVCLIM       476<br>
		</h5>
		<br>
	</div>
</div>


{% endblock contentTab %}
