{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA: Landing OMA {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-12 col-md-10 col-md-offset-1">
            <div class="jumbotron">
                <div class="container">
                    <div class="page-header ">
                        <h1 class="text-center">OMA groups</h1>
                        <div class="well well-sm entete"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <p>
                                OMA groups are groups of protein sequences that are inferred to be related exclusively by speciation events. Consequently, there is at most one sequence per species in each OMA group. By convention, each sequence belongs to at most one OMA group.  </p>
                            <p>
                                For an alternative, more inclusive definition of orthologous groups, consider using <a href="{% url 'hogs'  %}">hierarchical orthologous groups</a>.
                            </p>
                            <h3>Search an OMA group</h3> 
                            <br>

                            <form class="form-horizontal" role="search" action="/cgi-bin/gateway.pl" method="GET">
                                <input type="hidden" name="f" value="DisplayGroup"/>
                                <div class="form-group">
                                    <label for="textG1" class="col-sm-4 control-label">Fingerprint (stable across releases):
                                    </label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input id='textG1' name="p1" type="text" class="form-control">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                <span class="glyphicon glyphicon-search "></span>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-xs-6 col-xs-offset-4">
                                        <h4>
                                            <small> Example: 
                                                <a id='exFinger'>PWINGNT</a>
                                            </small>
                                        </h4>
                                    </div>
                                </div>
                              </form>


                            <form class="form-horizontal" role="search" action="/cgi-bin/gateway.pl" method="GET">
                                <input type="hidden" name="f" value="DisplayGroup"/>
                                <div class="form-group">
                                    <label for="textG2" class="col-sm-4 control-label">Group number (not stable across releases):
                                    </label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input id='textG2' name="p1" type="text" class="form-control">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                <span class="glyphicon glyphicon-search "></span>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-xs-6 col-xs-offset-4">
                                        <h4>
                                            <small> Example: 
                                                <a id='exNumber'>70525</a>
                                            </small>
                                        </h4>
                                    </div>
                                </div>
                            </form>

                            <form class="form-horizontal" role="search" action="/cgi-bin/gateway.pl" method="GET">
                                <input type="hidden" name="f" value="DisplayGroup"/>
                                <div class="form-group">
                                    <label for="textG3" class="col-sm-4 control-label">Member gene/protein:
                                    </label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input id='textG3' name="p1" type="text" class="form-control">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                <span class="glyphicon glyphicon-search "></span>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-xs-6 col-xs-offset-4">
                                        <h4>
                                            <small> Example: 
                                                <a id='exMemb'> HUMAN02353</a>
                                            </small>
                                        </h4>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
function OpenInNewTab(url) {
    var win = window.open(url, '_blank');
    win.focus();
}

$('#exMemb').click( function() {

    $('#textG3').val('HUMAN02353').focus();
});

$('#exNumber').click( function() {
    $('#textG2').val('70525').focus();

});
$('#exFinger').click( function() {
    $('#textG1').val('PWINGNT').focus();

});

</script>

{% endblock content %}
