{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA: HOGs{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-12 col-md-10 col-md-offset-1">
            <div class="jumbotron">
                <div class="container">
                    <div class="page-header ">
                        <h1 class="text-center">Hierarchical orthologous groups</h1>
                        <div class="well well-sm entete"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Hierarchical orthologous groups are sets of genes that are defined with respect to particular taxonomic ranges of interest. They group genes that have descended from a single common ancestral genes in that taxonomic range. 
                                <a href="{% url 'type'  %}" class="btn btn-default " role="button"> More info</a> 
                            </p>

                            <p>Currently, HOGs can be retrieved by first retrieving one of its member sequence, and then clicking on the “hierarchical orthologous groups” tab.</p>


                            <h3>Search a HOG</h3>
                            <br>

                            <form class="form-horizontal" id="searchForm" onSubmit="goHOG(); return false;">
                                <div class="form-group">
                                    <label for="textHOG" class="col-sm-4 control-label">Member gene/protein:
                                    </label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input id="textHOG" type="text" class="form-control">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                <span class="glyphicon glyphicon-search "></span>
                                            </button>
                                            </span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-xs-6 col-xs-offset-4">
                                        <h4>
                                            <small> Example: 
                                                <a id='exMemb'>HUMAN02353</a>
                                            </small>
                                        </h4>
                                    </div>
                                </div>
                                <form><br>
                                </div>

                                <script type="text/javascript">
                                $('#exMemb').click( function() {
                                    $('#textHOG').val('HUMAN02353').focus();
                                });
                                function goHOG() {
                                    var query= document.getElementById("textHOG").value;
                                    var newUrl="{% url 'hogs' %}"+query;
                                    window.location = newUrl;
                                    return false;
                                }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
