{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA: landsynteny{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class=" col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<div class="page-header ">
						<h1 class="text-center">Synteny</h1>
						<div class="well well-sm entete"></div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">



							<p>The synteny view provides an overview of the genomic context of a particular entry and its orthologs in other species. This enables to see conservation or divergence of syntenic regions across species.
							</p>

							<p>As synteny is computed with respect to a reference entry, please first search for a protein sequence of interest and click on the “Synteny” tab.
							</p>


							

							<br>

							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="textS" class="col-sm-4 control-label">Member gene/protein:
									</label>
									<div class="col-sm-6">
										<input type="email" class="form-control" id='textS' placeholder="">
									</div>
									<div class="col-sm-2">
										<span class="input-group btn btn-default" >
											<a id='searchS' > 
												<span  class="glyphicon glyphicon-search grey" >
												</span>
											</a>
										</span>
									</div>
									<br>
									<div class="col-xs-6 col-xs-offset-4">
										
										<h4>
											<small> Example: 
												<a id='exMemb'>	HUMAN02353</a>
											</small>
										</h4>
										
									</div>
								</div>
								<form><br>
								</div>
								<script type="text/javascript">
								function OpenInNewTab(url) {
									var win = window.open(url, '_blank');
									win.focus();
								}

								$('#exMemb').click( function() {

									$('#textS').val('HUMAN02353');
								});

								$('#searchS').click( function() {
									var query= document.getElementById("textS").value;
									var arrayQuery = query.split(" ");
									var newUrl="http://omabrowser.org/cgi-bin/gateway.pl?";
									var x=1;
									for (i in arrayQuery)
									{
										newUrl=newUrl+'p'+x+'='+arrayQuery[i]+'&';
										x++;
									}
									newUrl=newUrl+'f=DisplayEntry';
									window.location = newUrl;
								});


								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock content %}