{% extends  "core.html" %}
{% load staticfiles %}

{% block title %}OMA orthology database: Accessing HOGs{% endblock %}
{% block content %}

<div class="container mt-5">

	<div class="card text-center bg-light mb-3 mx-auto">
		<div class="card-header">
			<h1 class="display-3 mb-3">Hierarchical orthologous groups</h1>
			<div class="entete mb-5" style="height: 10px;"></div>

			<div class="card bg-light m-3 text-left">

				<div class="card-body">

                    <p class="lead">Hierarchical orthologous groups are sets of genes that are defined with respect to particular taxonomic ranges of interest. They group genes that have descended from a single common ancestral genes in that taxonomic range. <a href="{% url 'type'  %}#hogs" class="btn btn-light" role="button"> More info</a>
                    </p>

                    <p>Currently, HOGs can be retrieved by first retrieving one of its member sequence, and then clicking on the “hierarchical orthologous groups” tab.</p>


                    <h5>Search a HOG</h5>

                    <form class="form-horizontal" id="searchForm" onSubmit="goHOG(); return false;">
                        <div class="form-group">

                            <input type="hidden" name="f" value="DisplayGroup"/>
                            <div class="form-group form-row">
                                <label for="textHOG" class="col-sm-4 col-form-label control-label text-right">Member gene/protein:
                                </label>
                                <div class="col-sm-8 no-gutters">

                                    <div class="input-group col mb-2">
                                        <input id='textHOG' type="text" class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="submit">
                                                <i class="fas fa-search"></i></button>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-8 offset-sm-4">
                                    <span class="font-weight-bold">Example:</span>
                                        <a href="#" class="text-muted" id="exMemb3">YEAST00012</a> - <a href="#" class="text-muted" id='exMemb1'>NB5R1_HUMAN</a> - <a href="#" class="text-muted" id='exMemb2'>B1B1A8</a>
                                </div>
                            </div>


                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$('#exMemb1').click( function() {
    $('#textHOG').val($(this).text()).focus();
});
$('#exMemb2').click( function() {
    $('#textHOG').val($(this).text()).focus();
});
$('#exMemb3').click( function(){
    $('#textHOG').val($(this).text()).focus();
});

function goHOG() {
    var query= document.getElementById("textHOG").value;
    var newUrl="{% url 'hogs' %}"+query;
    window.location = newUrl;
    return false;
}
</script>

{% endblock content %}
