{% extends "core.html" %}
{% load staticfiles %}

{% block title %}OMA: Export of marker genes{% endblock %}
{% block meta_description %}Download marker genes for a set of species of your choice{% endblock %}

{% block meta_hook %}
    {% if file_result.state == "pending" or file_result.state == "running" %}
    <meta http-equiv="refresh" content="20">
    {% endif %}
{% endblock meta_hook %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h1 class="text-center">Export of Marker Genes</h1>
					<div class="well well-sm entete"></div>
					<br>
					<div class="panel panel-default">
						<div class="panel-body">
							<p>Marker genes can be used to estimate species tree from a set of OMA Groups. The OMA Groups in this dataset have been selected
                            for maximum species coverage for the species you selected. For each group, we provide a fasta file with unaligned sequences.</p>

                            {% if file_result.state == "done" %}
                                <p>Your dataset is now ready. You can download it from <a href="{{ file_result.result.url }} ">here</a>.</p>
                            {% else %}
                                <p>Your dataset is currently being assembled. Its status is {{ file_result.state }}.
                                    This may take another couple of minutes. Once the file is ready, we will store it
                                    for 7 days. You can come back to this page using this link:
                                    <a href="">{{ request.get_host }}{% url 'marker_genes' file_result.data_hash %}</a>
                                </p>

                            <p>This page gets automatically reloaded every 20 secs or after pressing the refresh button</p>
                            <form action="{% url 'marker_genes' file_result.data_hash %}">
                              <input type="submit" value="Refresh" />
                            </form></p>
                            {% endif %}
                        </div>
			        </div>
		        </div>
	        </div>
        </div>
    </div>
</div>
{% endblock content %}
