{% extends  "base_hog.html" %}
{% load static %}

{% block title %}Matreex viewer for {{ fam.id }}{% endblock %}


{% block js_hook %}

<script src="{% static 'matreex/d3_6_7.js' %}" charset="UTF-8"></script>
<script src="{% static 'matreex/matreex.js' %}" charset="UTF-8"></script>

{% endblock js_hook %}


{% block contentTab %}

            <style>


            .oma-details-content{
                height: 100%;
                width: 100%;
                text-align: center;

            }

                #container-viewer{
                    width: 100%;
                    height: 100%;
                }

                .but_cont{

                    top: 8px;
                    right:8px;
                }

                .but{
                    cursor: pointer;
                    border-radius: 4px;
                    border:none;


                }

                div.tooltip_img {
                    position: absolute;
                    text-align: center;
                    width: 200px;
                    height: 28px;
                    padding: 2px;
                    background-color: white;
                    font: 12px sans-serif;
                    pointer-events: none;}

                #ul_similar_hog > li:hover {
  text-decoration: underline;
}


            </style>


    <div  id="container-viewer" >


    </div>


<script>

    var target_hog = "{{ root_id }}";

    // Init viewer
    var viewer = new Hog_placement("container-viewer", 'oma', true);

    viewer.species_tree_width = 120;


    // Species tree
    var mapping = {
        "{{ level }}": {
            "description": "Reference level: {{ level }}",
            "color": "#467",
            "matrix_color": "#467"
        },
    }
    viewer.augment_species_tree(mapping)

    // Tuning
    viewer.call_back_hog_detail = function(hog_id, level){
        var newUrl="{% url 'hog_viewer' 1234567  %}?start_opened_at=7654321".replace(/1234567/, hog_id).replace(/7654321/, level);
        window.open(newUrl, "_blank");
    }

    // Gene tree
    viewer.add_tree_oma_api(target_hog)

    // Render
    viewer.start();

    // add responsive svg if left side panel clicked
    document.getElementById('toggle-me').addEventListener('click', () => {

        setTimeout(function() {
            viewer.update_svg_size_responsive();
        }, 100);

    });

    function debounce(func){
      var timer;
      return function(event){
        if(timer) clearTimeout(timer);
        timer = setTimeout(func,100,event);
      };
    }

    window.addEventListener("resize",debounce(function(e){
        viewer.update_svg_size_responsive();
    }));


</script>

{% endblock contentTab %}