{% load staticfiles %}
{% load bootstrap3 %}

<div class="panel-body">
	<div class="col-md-4 ">
		<ul class="nav nav-pills nav-stacked">

			<li class="active">
				<a href="#propagate" role="tab" data-toggle="tab">1:1 Orthologs
				</a>
			</li>

			<li >
				<a href="#Identify" role="tab" data-toggle="tab">
					1:many Orthologs
				</a>
			</li>

			<li >
				<a href="#twg" role="tab" data-toggle="tab">
					many:1 Orthologs
				</a>
			</li>

			<li >
				<a href="#Align" role="tab" data-toggle="tab">
					many:many Orthologs
				</a>
			</li>

			<li >
				<a href="#vertebrates" role="tab" data-toggle="tab">
					Close Paralogs
				</a>
			</li>

			<li >
				<a href="#orthologs" role="tab" data-toggle="tab">
					Hierarchical Groups
				</a>
			</li>

			<li ><a href="#Group" role="tab" data-toggle="tab">
				OMA Group
			</a>
		</li>
	</ul>
</div>

<div class="col-md-8 " >
	<div class="tab-content">
		<div class="tab-pane active" id="propagate">
			<p>The entry has only one ortholog in the other organism and the orthologous entries have only one ortholog in this organism.
			</p>
			<button class="btn btn-default" data-toggle="modal" data-target="#myModal1">
				How to see this type of ortholog ?
			</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">How to find 1:1 Orthologs</h4>
						</div>
						<div class="modal-body">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0" class="active">
									</li>
									<li data-target="#carousel-example-generic" data-slide-to="1">
									</li>
									<li data-target="#carousel-example-generic" data-slide-to="2">
									</li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<img src="{% static "image/tuto1h.png" %}" class="img-responsive margin-auto">
										<div class="carousel-caption">
										</div>
									</div>
									<div class="item">
										<img src="{% static "image/tuto2h.png" %}" class="img-responsive margin-auto">
										<div class="carousel-caption">
										</div>
									</div>
									<div class="item">
										<img src="{% static "image/tuto3h.png" %}" class="img-responsive margin-auto">
										<div class="carousel-caption">
										</div>
									</div>
								</div>

								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left"></span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane" id="Identify">
			<p>The entry has more than one ortholog in the other organism but all orthologous entries have only one ortholog in this organism. This implies that the gene was duplicated in an ancestor of the other organism, but after the speciation event.</p>
		</div>
		<div class="tab-pane" id="twg">
			<p>The entry has only one ortholog in the other organism, but the orthologous entry has more than one ortholog in this organism. This implies that the gene was duplicated in an ancestor of this organism, but after the speciation event.</p>
		</div>
		<div class="tab-pane" id="Align">
			<p>The entry has more than one ortholog in the other organism and the orthologous entries have more than one ortholog in this organism. This implies that the gene was duplicated at least twice: in an ancestor of this organism and in an ancestor of the other organism, but was the same gene in their common ancestor.</p>
		</div>
		<div class="tab-pane" id="vertebrates">
			<p>In the case of many:1 and many:many orthologs, entries that are orthologous to at least one of the orthologs of this entry.</p>
		</div>
		<div class="tab-pane" id="orthologs">
			<p>Hierarchical Groups
				Hierarchical groups contain genes that descend from a single common ancestor within a given taxonomic range.</p>
			</div>
			<div class="tab-pane" id="Group">
				<p>OMA groups contain a number of entries of which every entry is orthologous to every other entry in the group. This implies that there is at most one entry from each organism in a group.</p>
			</div>
		</div>
	</div>
</div>
