{% extends  "seqCV.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block activeTabOMAG %} active {% endblock activeTabOMAG %}

{% block contentTab %}

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">The OMA Browser reports for every entry different types of orthology</h3>
			</div>
			<div class="modal-body">
				{% include "modal.html" %}

			</div>
		</div>
	</div>
</div>


<div class="tab-pane" id="Genome">
	<br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">OMA group (Proteins all orthologous to each other) <a href="#" class="badge" role="button" data-toggle="modal" data-target=".bs-example-modal-lg">?</a>
			</h3>
		</div>
		<div class="panel-body">  
			<h2 ><a href='groupCV.html'>OMA Group _groupNumber</a> </h2>

			<h4 class=""> _description </h4>
			<h4 class=""> <small>This group has _numberOfMembers members: _numberOf-E-Members [E]ukaryota </small> </h4>
			<h4 class=""> <small>Fingerprint: _fingerprint</small> </h4>
			<br>

			<ul class="nav nav-pills" >
				<li class=" {% block activeTabList %}  {% endblock activeTabList %}"><a href="{% url 'seqCVprotein'  %}">Protein List</a></li>
				<li class=" {% block activeTabAlignment %}  {% endblock activeTabAlignment %}"><a href="{% url 'seqCValign'  %}" >Alignment</a></li>
				<li class=" {% block activeTabClose %}  {% endblock activeTabClose %}"><a href="{% url 'seqCVclose'  %}" >Close Groups</a></li>
				<li class=" {% block activeTabOntology %}  {% endblock activeTabOntology %}"><a href="{% url 'seqCVontology'  %}" >Ontology</a></li>
			</ul>

			<div>

				{% block groupcontentTab %} {% endblock groupcontentTab %}

			</div>
		</div>
	</div>
</div>	
</div>
</div>





{% endblock contentTab %}
