{% extends  "groupCV.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block activeTabClose %} active {% endblock activeTabClose %}
{% block groupcontentTab %}

<div class="tab-pane" id="Ontology">
	<div class="panel panel-default">
		<div class="panel-body scroll">
			<table class="table table-hover  ">
				<tbody>
					<thead class='seqwidth'>

						<th> </th>

						<th>H<br>
							U<br>
							M<br>
							A<br>
							N<br>
						</th>

						<th>H<br>
							U<br>
							M<br>
							A<br>
							N<br>
						</th>

						<th>H<br>
							U<br>
							M<br>
							A<br>
							N<br>
						</th>

						<th>H<br>
							U<br>
							M<br>
							A<br>
							N<br>
						</th>

						<th>H<br>
							U<br>
							M<br>
							A<br>
							N<br>
						</th>
						<th > Functional annotation</th>

					</thead>

					<!-- 		for the square use the memento !!!!!!!!! like the first orange and grey square below   -->


					<tr>
						<th ><a href="">GO: _GONumber <img alt="ext logo" src="{% static "image/ext.png" %}" ></img></a></th>
						<th> <span class="glyphicon glyphicon-stop invisible" ></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop orange" data-toggle="tooltip" data-placement="bottom" title="Inferred from Electronic Annotation (IEA)"></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop grey" data-toggle="tooltip" data-placement="bottom" title="Inferred from Physical Interaction (IPI)"></span></th>
						<th>molecular_function: _annotation</th>

					</tr>


					<tr>
						<th ><a href="">GO:_GONumber <img alt="ext logo" src="{% static "image/ext.png" %}" ></img></a></th>
						<th> <span class="glyphicon glyphicon-stop invisible" ></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop orange" data-toggle="tooltip" data-placement="bottom" title="Inferred from Electronic Annotation (IEA)"></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop grey" data-toggle="tooltip" data-placement="bottom" title="Inferred from Physical Interaction (IPI)"></span></th>
						<th>molecular_function: _annotation</th>
					</tr>
					
					<tr>
						<th ><a href="">GO:_GONumber <img alt="ext logo" src="{% static "image/ext.png" %}" ></img></a></th>
						<th> <span class="glyphicon glyphicon-stop invisible" ></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop orange" data-toggle="tooltip" data-placement="bottom" title="Inferred from Electronic Annotation (IEA)"></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop grey" data-toggle="tooltip" data-placement="bottom" title="Inferred from Physical Interaction (IPI)"></span></th>
						<th>molecular_function: _annotation</th>
					</tr>

					<tr>
						<th ><a href="">GO:_GONumber <img alt="ext logo" src="{% static "image/ext.png" %}" ></img></a></th>
						<th> <span class="glyphicon glyphicon-stop invisible" ></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop orange" data-toggle="tooltip" data-placement="bottom" title="Inferred from Electronic Annotation (IEA)"></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop grey" data-toggle="tooltip" data-placement="bottom" title="Inferred from Physical Interaction (IPI)"></span></th>
						<th>molecular_function: _annotation</th>
					</tr>
					
					<tr>
						<th ><a href="">GO:_GONumber <img alt="ext logo" src="{% static "image/ext.png" %}" ></img></a></th>
						<th> <span class="glyphicon glyphicon-stop invisible" ></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop orange" data-toggle="tooltip" data-placement="bottom" title="Inferred from Electronic Annotation (IEA)"></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop grey" data-toggle="tooltip" data-placement="bottom" title="Inferred from Physical Interaction (IPI)"></span></th>
						<th>molecular_function: _annotation</th>

					</tr>

					<tr>
						<th ><a href="">GO:_GONumber <img alt="ext logo" src="{% static "image/ext.png" %}" ></img></a></th>
						<th> <span class="glyphicon glyphicon-stop invisible" ></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop orange" data-toggle="tooltip" data-placement="bottom" title="Inferred from Electronic Annotation (IEA)"></span></th>
						<th> <span class="glyphicon glyphicon-stop invisible"></span></th>
						<th><span class="glyphicon glyphicon-stop grey" data-toggle="tooltip" data-placement="bottom" title="Inferred from Physical Interaction (IPI)"></span></th>
						<th>molecular_function: _annotation</th>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock groupcontentTab %}
