{% extends "seqCV.html" %}
{% load staticfiles %}

{% block title %}OMA orthology database: Pairwise Orthologs for {{ entry.omaid }}{% endblock %}
{% block meta_description %}For {{ entry.omaid }} OMA predicts the following {{ vps|length }} pairwise
    orthologs{% endblock %}

{% block contentTab %}

    <div class="modal fade" id="orthology-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title">The OMA Browser reports for every entry different types of orthology</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    {% include "includes/otypes.html" %}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                Pairwise Orthologs <a href="#" class="badge" role="button" data-toggle="modal"
                                      data-target="#orthology-modal">?</a>
            </div>
            <div class="pull-right">
                Download:
                <a href="{% url 'pairs_fasta' entry.omaid %}"><span
                        class="glyphicon glyphicon-download">Fasta</span></a>
            </div>
        </div>
        <div class="panel-body">

            {% if entry.omaid == entry.alt_splicing_variant %}

                <table class="table table-hover" id="pairTable"
                       data-show-toggle="true"
                       data-taxon-filter="true" data-url-species-tree="/All/genomes.json"
                       data-show-columns="true" data-search="true" data-show-export="true"
                       data-pagination="true" data-page-size="25" data-page-list="[10, 25, 50, 100, All]"
                       data-mobile-responsive="true" data-check-on-init="true"
                       data-undefined-text=""
                       data-id-field="protid" data-row-attributes="tablehooks.add_proteinrow_attrs"
                       data-url="{% url 'pairs_json' entry.omaid %}">
                    <thead>

                    <tr>
                        <th data-field="reltype" data-sortable="true" data-filter-control="select">Relation</th>
                        <th data-field="kingdom" data-sortable="true" data-filter-control="select"
                            data-formatter="tablehooks.format_as_kindom_tag" data-title-tooltip="Domain of Life">D.
                        </th>
                        <th data-field="taxon" data-sortable="true" data-filter-control="input"
                            data-formatter="tablehooks.format_sciname">Taxon
                        </th>
                        <th data-field="protid" data-sortable="true" data-formatter="tablehooks.format_vps_link">Protein
                            ID
                        </th>
                        <th data-field="xrefid" data-sortable="true" data-formatter="tablehooks.format_xref">Cross
                            reference
                        </th>
                        <th data-sortable="false" class="domain_vis">Domain Architectures</th>
                    </tr>
                    </thead>

                    <div class="alert alert-info text-center alert_remove" role="alert" style="margin-bottom:0; padding: 4px; display:none">Genes not present in selected taxon have been filtered out as per settings. <a  class="alert-link" id='reset_taxon_filter' > Click here to reset.</a></div>

                </table>
            {% else %}
                <div>Orthologs for this gene have been computed for a different splicing variant:
                    <a href="{% url 'pairs' entry.alt_splicing_variant %}">{{ entry.alt_splicing_variant }}</a></div>
            {% endif %}

        </div>
    </div>

    <!-- D3 and D3 Tooltip -->
    <script src="{% static "js/d3.v3.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/d3.tip.v0.6.3.js" %}" type="text/javascript"></script>
    <!-- Domain Visualisation -->
    <script src="{% static "js/domains_vis.js" %}" type="text/javascript"></script>
    <link href="{% static "css/domains_vis.css" %}" rel="stylesheet" type="text/css"/>

    {% if entry.omaid == entry.alt_splicing_variant %}
        <!-- bootstrap-table -->
        <script src="{% static "js/tablehooks.js" %}" type="text/javascript"></script>
        <script src="{% static "js/bootstrap-table.min.js" %}"></script>
        <link href="{% static "css/bootstrap-table.min.css" %}" rel="stylesheet" type="text/css"/>
        <script src="{% static "js/bootstrap-table-export.min.js" %}"></script>
        <script src="{% static "js/bootstrap-table-mobile.min.js" %}"></script>
        <script src="{% static "js/tableExport.min.js" %}"></script>

        <!-- taxon filter import: Core -->
        <script src="{% static "js/tnt.min.js" %}"></script>
        <script src="{% static "js/bootstrap-table-filtertaxon.js" %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static "css/filtertaxon.css" %}"/>

        <!-- taxon filter import: phyloIo -->
        <script src="{% static "js/underscore-min.js" %}"></script>
        <script src="{% static "js/treecompare.js" %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static "css/phylotree.css" %}"/>
        <link type="text/css" rel="stylesheet" href="{% static "css/typeaheadjs.css" %}"/>
        <link type="text/css" rel="stylesheet" href="{% static "css/treecompare.css" %}"/>
        <!-- taxon filter import: Editable field -->
        <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap-editable.css" %}"/>
        <script src="{% static "js/bootstrap-editable.js" %}"></script>

        <script>
            var tab = $("#pairTable");
            tab.bootstrapTable({
                reorderableColumns: true,
                clickToSelect: false,
                showMultiSort: true,
                onPostBody: function () {
                    domains.visualize_all(".protein", {{ longest_seq }});
                },
                onLoadSuccess: function (data) {
                    tab.bootstrapTable('hideLoading');
                }
            });
            var icons = tab.bootstrapTable('getOptions').icons;
            $.extend(icons, {export: 'glyphicon-download-alt', columns: 'glyphicon-list'});
            tab.bootstrapTable('refreshOptions', {'icons': icons});
            tab.bootstrapTable('showLoading');

        </script>

    {% endif %}

{% endblock contentTab %}
