{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}Phylostratigraphy{% endblock %}

{% block content %}

    <style>
    body{
        background-color: white;
    }
    #oma-generic-container {
    margin:  0;
}
    </style>

<div id="oma-generic-container">




        <div class="container-fluid" id="phyphy" style="height: calc(100vh - 110px)">



        </div>


</div>


    <script src="{% static 'phylostratigraphy/phylo.js' %}"></script>

    <script>

    var  phylo = PhyloIO.init()

    phylo.settings.phylostratigraphy = true

    $.getJSON( "/All/genomes.json", function( jsonData ) {



    var c1 = phylo.create_container("phyphy")

    var custom_settings = {
        'display_leaves' : true,
        'mirror': false,
        'name': 'phylostratigraphy',
        'first_time_render': true,
        'data_type' : 'json',
        'use_branch_lenght' : false,
        'show_tooltips' : true,
        'subsample_label' : true,
        'display_internal_label' : false,
        'display_internal_label_left_top' : false,
        'display_internal_label_left_bottom' : false,
        'display_duplication' : false,
        'has_branch_lenght' : false,
        'has_duplications' : false,
        'multiple_search':false,
        'show_histogram' : true,
        'align_tip' : false,
        'has_histogram_data' : true,
        'style': {
            'font_size_internal' : 14,
            'color_accessor' : null,
            'color_extent_min': {},
            'color_extent_max':{},
            'number_domain':'5',
            'color_domain':['#253494', '#2C7FB8', '#41B6C4', '#C7E9B4', '#FFFFCC'],
            'color_domain_default':['#253494', '#2C7FB8', '#41B6C4', '#C7E9B4', '#FFFFCC'],

        },
        'tree': {
            'node_vertical_size' : 50,
            'node_horizontal_size' : 120,
            'node_radius' : 6, // move to style
            'line_width' : 3,// move to style
            'font_size':14, // move to style
            'max_depth' : 0,
        },
        'collapse_level': 1,
        'stack' : {
            'type': 'genes',//'events',
            'showHistogramValues' : false,
            'showHistogramSummaryValue' : true,
            'legendTxtSize' : 12,
            'margin' : 8,
            'xInitialRightMargin' : 25,
            'stackHeight' : 200,
            'stackWidth' : 50,
            'maxStackHeight': 'max', // ratio -> stack height fixed | max -> largest data = stack height

        },
    }

    c1.add_tree(jsonData,custom_settings)

    phylo.start()

    })

    </script>

{% endblock content %}