{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}Phylostratigraphy{% endblock %}

{% block content %}

    <style>
    body{
        background-color: white;
    }
    #oma-generic-container {
    margin:  0;
}
    </style>



<div id="oma-generic-container">




        <div class="container-fluid" id="phyphy" style="height: calc(100vh - 110px)">



        </div>


    </div>


</div>

     <script src="{% static 'js/bundle.js' %}"></script>

    <script>

    $.getJSON( "/All/genomes.json", function( jsonData ) {

        var phylo = PhyloIO.init()

        var c1 = phylo.create_container("phyphy")

        c1.add_tree(jsonData, {'data_type': 'json', 'use_branch_lenght': false, 'show_histogram': true})

        phylo.start()

    })

    </script>

{% endblock content %}