{% extends  "base_template.html" %}
{% load staticfiles %}

{% block content %}

    <!--suppress ALL -->
    <div id="oma-generic-container">

        <div class="container-fluid">

            <div class="jumbotron">

                <div class="card-body ">

                    <div class="pull-left">

                        <div class="row">

                            <div class="col-8 offset-md-2">

                           Hello

                                </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>





{% endblock content %}