{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}Suggesting for searching in OMA{% endblock %}

{% block content %}

    <br>
    <br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10  offset-md-1">
			<div class="jumbotron">
				<div class="container">
					<h1 class="text-center">Suggesting improvements or repporting bugs for the search in OMA</h1>
					<div class="well well-sm entete"></div>
                    <p>Thank you for your suggestion. You should receive a copy of your suggestion by mail.
                        We might contact you to clarify some further aspects of your suggestion.</p>
                    <p>Are you on Twitter? Please <a href="https://twitter.com/intent/user?screen_name=OMABrowser">follow us</a>
                        to not missing out on important updates.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}