{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA orthology database: Sequence-centric view{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
                    <h2 class="">Entry {{ entry.omaid }} {% if entry.canonicalid %} ({{entry.canonicalid}}) {% endif %} </h2>
                    <h4>{% include "includes/kingdom.html" with kingdom=entry.genome.kingdom %} <b>{{entry.genome.species}}</b>{{entry.genome.strain}}</h4>
                    {% block seqhead_hook %}{% endblock %}
					<br>
					<ul class="nav nav-tabs" role="tablist">
                        <li {% ifequal tab 'info' %} class="active" {%endifequal%} ><a href="/cgi-bin/gateway.pl?f=DisplayEntry&amp;p1={{ entry.omaid }}" >Information</a></li>
                        <li {% ifequal tab 'orthologs' %} class="active" {%endifequal%} ><a href="/cgi-bin/gateway.pl?f=DisplayEntry&amp;p1={{ entry.omaid }}&amp;p2=orthologs" >Orthologs {% if nr_vps %}<span class="badge">{{nr_vps}}</span>{% endif %}</a></li>
                        {% if entry.is_homeolog_species %}
                           <li {% ifequal tab 'homeologs' %} class="active" {%endifequal%} ><a href="/cgi-bin/gateway.pl?f=DisplayEntry&amp;p1={{ entry.omaid }}&amp;p2=homeologs" >Homeologs {% if nr_hps %}<span class="badge">{{nr_hps}}</span>{% endif %}</a></li>
                        {% endif %}
                        <li {% ifequal tab 'synteny' %} class="active" {%endifequal%} ><a href="{% url 'synteny' entry.omaid 4 4 %}" >Synteny</a></li>
						<li {% ifequal tab 'hogs' %} class="active" {%endifequal%} ><a href="{% url 'hogs' entry.omaid %}" >Hierarchical Orthologous Groups</a></li>
                        <li {% ifequal tab 'groups' %} class="active" {%endifequal%} ><a href="/cgi-bin/gateway.pl?f=DisplayEntry&amp;p1={{entry.omaid}}&amp;p2=groups">OMA groups</a></li>
					</ul>

					<div class="tab-content">
					    <div class="tab-pane active" id="{{tab}}">
						    {% block contentTab %} {% endblock contentTab %}
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}


