{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA: Sequence-centric view{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h2 class="">Entry _entryNumber   (<a> _id </a>)</h2>
					<h4 ><span class="label label-default "><abbr class='abbrNoUnder' title="_kingdom">_</abbr></span> _speciesName </h4>
					<br>
					<ul class="nav nav-tabs" >
						<li class=" {% block activeTabInformation %}  {% endblock activeTabInformation %}" ><a href="{% url 'informationSeqCV'  %}" >Information</a></li>
						<li class=" {% block activeTabOrthologs %}  {% endblock activeTabOrthologs %}" ><a href="{% url 'orthologsSeqCV'  %}" >Orthologs <span class="badge">_numberOforthologs</span></a></li>
						<li class=" {% block activeTabSyntheny %}  {% endblock activeTabSyntheny %}" ><a href="{% url 'syntenySeqCV'  %}" >Synteny</a></li>
						<li class=" {% block activeTabHOGs %}  {% endblock activeTabHOGs %}" ><a href="{% url 'HOGsSeqCV'  %}" >Hierarchical Orthologous Groups</a></li>
						<li class=" {% block activeTabOMAG %}  {% endblock activeTabOMAG %}" ><a href="{% url 'OMAGSeqCV'  %}" >OMA groups</a></li>
					</ul>

					<div >
						
						{% block contentTab %} {% endblock contentTab %}			
						
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}


