{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA orthology database: Sequence-centric view{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div class="jumbotron">
                    <div class="container">
                        <h2 class="">Entry {{ entry.omaid }} {% if entry.canonicalid %} ({{entry.canonicalid}}) {% endif %} </h2>
                        <h4>{% include "includes/kingdom.html" with kingdom=entry.genome.kingdom %}
                            <b>{{entry.genome.species}}</b>{{entry.genome.strain}}
                            {% if entry.genome.is_polyploid and entry.subgenome != "" %} (sub-genome {{ entry.subgenome }}) {% endif %}
                        </h4>
                        {% block seqhead_hook %}{% endblock %}
                        <br>
                        <ul class="nav nav-tabs" role="tablist">
                            <li {% ifequal tab 'info' %} class="active" {%endifequal%} ><a href="{% url 'entry_info' entry.omaid %}" >Information</a></li>
                            <li {% ifequal tab 'orthologs' %} class="active" {%endifequal%} ><a href="{% url 'pairs' entry.omaid %}" >Orthologs {% if nr_vps %}<span class="badge">{{nr_vps}}</span>{% endif %}</a></li>
                            {% if entry.genome.is_polyploid %}
                                <li {% ifequal tab 'homoeologs' %} class="active" {%endifequal%} ><a href={% url 'homoeologs' entry.omaid %}>Homoeologs {% if nr_hps %}<span class="badge">{{nr_hps}}</span>{% endif %}</a></li>
                            {% endif %}
                            <li {% ifequal tab 'synteny' %} class="active" {%endifequal%} ><a href="{% url 'synteny' entry.omaid 4 4 %}" >Local synteny</a></li>

                            <!-- <li {% ifequal tab 'hogs' %} class="active" {%endifequal%} ><a href="{% url 'hogs' entry.omaid %}" >Hierarchical Orthologous Groups</a></li> -->


                            <li {% if tab == 'hogs' %} class="dropdown active " {% else %} class="dropdown" {% endif %} >
                                <a class='left_hog_tab' href="{% url 'hog_vis' entry.omaid %}">Hierarchical Orthologous Groups  </a>

                            </li>

                        <li {% if tab == 'hogs' %} class="dropdown active " {% else %} class="dropdown" {% endif %} >
                                <a href="" class="dropdown-toggle right_hog_tab" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                    <li class="dropdown-header">Visualise HOG with:</li>
                                    <li class="text-left"><a href="{% url 'hog_vis' entry.omaid %}">graphical viewer</a> </li>
                                    <li class="text-left"><a href="{% url 'hogs' entry.omaid %}">table viewer</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">List similar HOGs based on:</li>
                                    <li class="text-left"><a href="{% url 'hog_domains' entry.omaid %}">Domain architectures</a></li>
                                </ul>
                            </li>


                            <li {% ifequal tab 'groups' %} class="active" {%endifequal%} ><a href="{% url 'omagroup-entry' entry.omaid %}">OMA Groups</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="{{tab}}">
                                {% block contentTab %} {% endblock contentTab %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


