{% extends  "OMAGSeqCV.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block activeTabList %} active {% endblock activeTabList %}

{% block groupcontentTab %} 

<div class="tab-pane active" id="Protein">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class='tete'>Download: </h4><a> <span class="glyphicon glyphicon-download "></span>  fasta</a> <a> <span class="glyphicon glyphicon-download "></span>  Darwin</a>
		</div>

		<table class="table table-hover ">
			<tbody>
				<tr>
					<th class="col-md-3">Taxon</th>
					<th class="col-md-2" >Protein ID</th>
					<th class="col-md-3" >Cross reference</th>
					<th class="col-md-4" >Functionnal annotation</th>
				</tr>

				<tr>
					<td><span class="label label-danger ">E</span> _speciesName 
					</td>
					<td>
						<a href='seqCV.html'>_speciesId </a>
					</td>
					<td>
						  <img alt="uniprot logo" src="{% static "image/uniprot.png" %}" ></img> <a>_crossReference</a>  <img alt="ext logo" src="{% static "image/ext.png" %}" ></img>
					</td>
					<td>
						_annotation 
					</td>
				</tr>

				<tr>
					<td><span class="label label-danger ">E</span> _speciesName 
					</td>
					<td>
						<a>_speciesId </a>
					</td>
					<td>
						  <span class="glyphicon glyphicon-star grey"></span> <a> _crossReference </a>  <img alt="ext logo" src="{% static "image/ext.png" %}" ></img> 
					</td>
					<td>
						_annotation 
					</td>
				</tr>

				<tr>
					<td><span class="label label-danger ">E</span> _speciesName 
					</td>
					<td>
						<a>_speciesId </a> 
					</td>
					<td>
						 <img alt="Ensembl logo" src="{% static "image/ensembl.png" %}"  ></img> <a>_crossReference </a>  <img alt="ext logo" src="{% static "image/ext.png" %}" ></img>  
					</td>
					<td>
						_annotation 
					</td>
				</tr> 

				<tr>
					<td><span class="label label-danger ">E</span> _speciesName 
					</td>
					<td>
						<a>_speciesId </a> 
					</td>
					<td>
						 <span class="glyphicon glyphicon-star grey"></span> <a> _crossReference </a>  <img alt="ext logo" src="{% static "image/ext.png" %}" ></img>  
					</td>
					<td>
						_annotation <a href=""><img alt="pmp logo" src="{% static "image/pmp.png" %}" ></img></a>
					</td>
				</tr> 

			</tbody>
		</table>
	</div>
</div>


{% endblock groupcontentTab %}
