{% extends "seqCV.html" %}
{% load staticfiles %}
{% block title %}OMA: synteny viewer{% endblock %}

{% block css_hook %}
<style type="text/css">
/* CSS used here will be applied after bootstrap.css *//* CSS used here will be applied after bootstrap.css */

/*            .jumbotron{width:80%;margin-left:10%;max-width: 1200px;margin-left:auto; margin-right:auto; }*/
.img-center {margin:0 auto;}
.dl-horizontal dt{white-space: normal;width:250px;margin-right:50px;}
.omacenter{margin-left:auto; margin-right:auto;}
.titre{color:#fff;}

.syntenytable {
    margin-bottom: 0px;
    min-width:870px;
}

.syntenytable th{width:10%;}
.syntenytable th {
    text-align: center;
}
.syntenytable td {
    vertical-align: middle !important;
}

.btn-synteny{
    background-color:#C8C8C8;
    color: #000;
    border-width: 2px;
    text-shadow: 1px 0 0 #DDD, 0 -1px 0 #DDD, 0 1px 0 #DDD, -1px 0 0 #DDD;
}

{% for key, value in colors.iteritems %}
.btn-{{ key }} {background-color:{{ value }}; border-width: 2px;}
.btn-{{ key }}.active, .btn-{{ key }}:active{
    background-color:{{ value }};
    border-color: #000;
}
{% endfor %}

{% for key, value in stripes.iteritems %}
.btn-{{ key }}{
    background-image:
    repeating-linear-gradient(
    45deg, {{ value }}
    ) !important;
}
{% endfor %}

.entete{background-color: #22780F;width:80%;margin-left:10%;}

table {
    table-layout:fixed;
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}
.twotables {
    overflow-y:hidden;
}

</style>
{% endblock css_hook %}

{% block js_hook %}
<script src="{%static "js/jquery.floatThead.min.js" %}"></script>
<script type='text/javascript'>
$(document).ready(function() {
        $(function() {
            {% for key, value in colors.iteritems %}
            $('.btn-{{key}}').hover(
                function(){ $('.btn-{{key}}').addClass('active');},
                function(){ $('.btn-{{key}}').removeClass('active');}
                );
            {% endfor %}
            //$('.table-fixed-header').fixedHeader();
            });
        jQuery('.cursor_wait').click(function(){
            jQuery('body').css('cursor', 'wait');
            $(this).css('cursor', 'wait');
            });
        $("[data-toggle=tooltip]").tooltip({html:true,
                     placement:'bottom',
                     delay: { "show": 750, "hide": 2500 }});
        });
$(window).load(function(){
    $(".table").floatThead();
    });
</script>
{% endblock js_hook %}

{% block seqhead_hook %}
<!--
<div style="float: right;">
<button class="btn" data-toggle="modal" data-target="#myModal" id="modalhelp">
    <span class="glyphicon glyphicon-question-sign"></span>
</button>
</div> -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">How does the synteny viewer work?</h4>
            </div>
            <div class="modal-body">
                <img src="/static/image/tutsyn.png" class="img-responsive margin-auto" alt="help synteny">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> <span class="glyphicon glyphicon-chevron-left"></span>Back</button>
            </div>
        </div>
    </div>
</div>
{% endblock seqhead_hook %}

{% block contentTab %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Synteny Conservation 
            <a href="#" class="badge" role="button" data-toggle="modal" data-target="#myModal" id="modalhelp">?</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="twotables">
            <table class="table table-condensed table-striped syntenytable">
                <thead>
                    <tr>
                        <th></th>
                        {% for position in positions %}
                        <th>{{ position }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><span data-toggle="tooltip" data-html=false data-title="{{ entry.sciname.species }} {{ entry.sciname.strain }}">{{ md.species }}</span></td>
                        {% for index, geneinfo in md.genes.iteritems %}
                        {% for infotype, genetype in geneinfo.iteritems %}
                        {% if genetype == 'blank' %}
                        <td></td>
                        {% elif infotype == 'genenumber' %}
                        <td>
                            <a href = "/oma/synteny/{{ geneinfo.entryid }}/{{ geneinfo.type }}/{{ windows }}/" class="btn btn-default btn-synteny cursor_wait btn-{{ geneinfo.type }}"
                                data-toggle="tooltip" data-title="{% include "includes/synteny_xref.html" with eNr=geneinfo.entryid %}" >
                                {% if geneinfo.dir = -1 %}
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                {% endif %}
                                {{ genetype }}
                                {% if geneinfo.dir = 1 %}
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                {% endif %}
                            </a>
                        </td>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </tr>
                </thead><!-- -->

                <tbody><!-- -->
                {% for ortholog_id, ortholog_info in o_md.iteritems %}
                <tr>
                    <td><span data-toggle="tooltip" data-html=false data-title="{{ortholog_info.o_sciname}}">{{ ortholog_info.o_species }}</span></td>
                    {% for gene, geneinfo in ortholog_info.o_genes.iteritems %}
                    {% for infotype, genetype in geneinfo.iteritems %}
                    {% if genetype == 'blank' %}
                    <td></td>
                    {% elif infotype == 'genenumber' %}
                    <td> 
                        <a href = "/oma/synteny/{{ geneinfo.entryid }}/{% if geneinfo.o_type == 'not found' %}{{ windows }}{% else %}{{ geneinfo.o_type.0 }}{% endif %}/{{ windows }}/"
                            class="btn btn-default btn-synteny cursor_wait
                                {% for entry_ortholog in geneinfo.o_type %}
                                btn-{{ entry_ortholog }}
                                {% endfor %}"
                                data-toggle="tooltip" data-title="{% include "includes/synteny_xref.html" with eNr=geneinfo.entryid %}" >
                            {% if md.entry_dir == ortholog_info.row_dir and geneinfo.dir = -1 %}
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            {% elif md.entry_dir != ortholog_info.row_dir and geneinfo.dir = 1 %}
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            {% endif %}
                            {{ genetype }}
                            {% if md.entry_dir == ortholog_info.row_dir and geneinfo.dir = 1 %}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            {% elif md.entry_dir != ortholog_info.row_dir and geneinfo.dir = -1 %}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            {% endif %}
                            </span>
                        </a>
                    </td>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contentTab %}

