{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}OMA orthology database: Development Team{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">TEAM<br></h1><br>
                    <div class="well well-sm entete"></div>
                    <br>
                    <div class="panel panel-default">
                        <br>
                        <div class="panel-body">
                            <p>OMA is developed and maintained in the <a href='http://lab.dessimoz.org'>Dessimoz Lab at UCL</a> and <a href='http://www.cbrg.ethz.ch'>CBRG at ETH Zurich</a>.</p>
                            <h3>Current members:</h3>
                            <blockquote><strong ><a href='http://people.inf.ethz.ch/adriaal/'>Adrian Altenhoff</a></strong>, Project Manager<br>
                                <strong ><a href='http://lab.dessimoz.org/people/christophe-dessimoz'>Christophe Dessimoz</a></strong>, PI<br>
                                <strong ><a href='http://www.inf.ethz.ch/personal/gonnet/'>Gaston H. Gonnet</a></strong>, PI <br>
                                <strong>Ivana Piližota</strong>, PhD student<br>
                                <strong>Lucas Wittwer</strong>, intern<br>
                            </blockquote>
                            <h3>Former members:</h3>
                            <blockquote><strong>Anna Sueki</strong> (intern, summer 2014)<br>
                                <strong>Clément-Marie Train</strong> (intern, summer 2014)<br>
                                <strong>Adrian Schneider</strong> (algorithm, inference pipeline, browser, 2005-2010)<br>
                                <strong>Alexander Roth</strong> (algorithm, 2005-2009)<br>
                            </blockquote>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
