{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA Visiting Fellowship{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h1 class="text-center">OMA Visiting Fellowship</h1>
					<div class="well well-sm entete"></div>
                    <p>Thank you for your application. We will contact you soon after the application deadline again.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}