{% extends  "base_template.html" %}
{% load static %}

{% block title %}Orthologs between two genomes{% endblock %}
{% block meta_description %}Download the list of predicted orthologs between a pair of genomes.{% endblock %}
{% block css_hook %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/typeaheadjs.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock css_hook %}
{% block js_hook %}
    <script src="{% static 'js/typeahead.bundle.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
{% endblock js_hook %}

{% block content %}

<div id="oma-generic-container">

    <div class="container">

        <div class="jumbotron">
            <h1>Genome Pair View

               <span> <small class="text-center text-muted h3 d-block">Download orthologs between two species
                </small></span></h1>

            <div class="oma-seperator">
                <span class="colour1"></span>
                <span class="colour2"></span>
                <span class="colour3"></span>
            </div>

             <div>

            <p class="text-justify">Use the following form to download the list of all predicted orthologs
                        between a pair of genomes of interest. The result is returned either as a tab- or 
                        comma separated text file, where each line corresponding to one orthologous relation. 
                        The columns will contain the OMA IDs and all the selected cross-references for both 
                        genomes, the type of orthology (1:1, 1:n, m:1 or m:n) and (if available)
                        the OMA group containing both sequences.
                        The json format will contain additional information for the genes of each 
                        orthologous relation.
                    </p>
                 <br>




                 <div class="card card-header-oma">
                <div class="card-header">
                    <h4>Download orthologs between two species</h4>
                </div>
                <div class="card-body">
                    <form class="form " role="form" id="genomePW" method="get" >
                        <div class="form-group row">
                            <label for="textG1" class="col-md-2 offset-md-1 control-label">Species 1:</label>
                            <div class="col-xs-8    col-sm-7">
                                <input  id="textG1" type="text"  class="form-control typeahead">
                            </div>
                            <br>
                        </div>
                        <div class="form-group row">
                            <label for="textG2" class="col-md-2 offset-md-1 control-label">Species 2:
                            </label>
                            <div class="col-xs-8 col-sm-7">
                                <input  id="textG2" type="text"  class="form-control typeahead">
                            </div>
                            <br>
                        </div>
                        <div class="form-group row">
                            <label for="selectBrowser" class="col-md-2 offset-md-1  control-label">Preferred ID:
                            </label>
                            <div class=" col-xs-6 col-sm-7 ">
                                <select id='selectBrowser' multiple class="form-control selectpicker">
                                <OPTION value="OMA">OMA IDs</OPTION>
                                <OPTION value="SourceID">Source Data IDs</OPTION>
                                <OPTION value="SourceAC">Source Data ACs</OPTION>
                                <OPTION value="UniProtKB/SwissProt">UniProtKB/SwissProt</OPTION>
                                <OPTION value="UniProtKB/TrEMBL">UniProtKB/TrEMBL</OPTION>
                                <OPTION value="RefSeq">RefSeq</OPTION>
                                <OPTION value="EntrezGene">Entrez Gene IDs</OPTION>
                                <OPTION value="Ensembl Gene">Ensembl Gene IDs</OPTION>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="selectFormat" class="col-md-2 offset-md-1 control-label">Format:</label>
                            <div class="col-xs-6 col-sm-5 ">
                                <select id='selectFormat' class="form-control">
                                    <OPTION value="tsv">TSV - TAB seperated format</OPTION>
                                    <OPTION value="csv">CSV - Comma seperated format</OPTION>
                                    <OPTION value="json">JSON</OPTION>
                                </select>
                            </div>
                        </div>

                         <button type="submit" class="btn btn-lg btn-block btn-primary ">Get pairs</button>

                    </form>
                </div>
            </div>







        </div>
        </div>



    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

  var genomeNames = new Array();
  var genomeIDs = new Object();
  $.getJSON( "/All/flatgenomes.json", function( jsonData ) {
     $.each( jsonData, function ( id, genome ) {
         var tmp = genome.name+ ' (' + genome.id + ')';
         genomeNames.push ( tmp );
         genomeIDs[tmp] = genome.id;
     });
  });

  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substrRegex;

      // an array that will be populated with substring matches
      matches = [];
      if (q.length < 2) {
          return(cb(matches));
      }

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          // the typeahead jQuery plugin expects suggestions to a
          // JavaScript object, refer to typeahead docs for more info
          matches.push({ value: str });
        }
      });

      cb(matches);
    };
  };


  $('#textG1').typeahead({
    hint: true
  },
  {
    name: 'genomes',
    minLength: 4,
    source: substringMatcher(genomeNames)
  }).blur(function(){
      if(genomeIDs[$(this).val()] == null) {
        $(this).val('');
      }
  });

  $('#textG2').typeahead({
    hint: true
  },
  {
    name: 'genomes',
    minLength: 4,
    source: substringMatcher(genomeNames)
  }).blur(function(){
      if(genomeIDs[$(this).val()] == null) {
        $(this).val('');
      }
  });

  $('#genomePW').submit(function(){
    let sp1 = $('#textG1').val(), sp2 = $('#textG2').val();
    if (! Object.values(genomeIDs).includes(sp1)){
        sp1 = genomeIDs[sp1];
    }
    if (! Object.values(genomeIDs).includes(sp2)){
        sp2 = genomeIDs[sp2];
    }
    if (sp1 === '' || sp2 === '' || sp1 === undefined || sp2 === undefined) {
      alert('Please define the two genomes.');
      return false;
    }
    let newUrl = "{% url "pairs" "sp111" "sp222"%}".replace("sp111", sp1).replace("sp222", sp2);
    let xrefs = Array.from($("#selectBrowser > option:checked"), e=>e.value).join(',');
    const params = new URLSearchParams(
             {"format": $('#selectFormat').val(),
              "xrefs": xrefs,
              "per_page": 200000,
             });
    console.log(newUrl, params);
    window.location = newUrl + "?" + params.toString();
    return false;
  });

  $(window).keydown(function(event){
    if(event.keyCode === 13) {
      event.preventDefault();
      return false;
    }
  });
});

</script>






{% endblock content %}
