{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}Catalog of OMA Tools
{% endblock %}
{% block meta_description %}OMA is a method and database for the inference of orthologs among complete genomes. Since
    2004 it has been continuesly maintained and improved. We provide browsable orthology predictions, APIs, flat file
    downloads and a standalone version of the inference algorithm.{% endblock %}

{% block content %}


<div id="oma-generic-container">

    <div class="container">

        <div class="jumbotron">
            <h1>Catalog of OMA Tools


               <span> <small class="text-center text-muted h3 d-block">Web based database interface for orthology prediction
                </small></span></h1>

            <div class="oma-seperator">
                <span class="colour1"></span>
                <span class="colour2"></span>
                <span class="colour3"></span>
            </div>


            <div class="card card-header-oma border-0">
                    <h2> Why OMA?  </h2>
                <hr>
                <div class="card-body">



                    <p class="text-justify">The OMA (“Orthologous MAtrix”) project is a method and database for the inference of
                        orthologs among complete genomes. </p>







                        <p class="text-justify">

                            The distinctive features of OMA are its:

                             <ul>
                    <li> Broad scope and size </li>
                    <li> <a id='linkToBench' href='#bench'>High quality of inferences</a> </li>
                    <li>Feature-rich web interface </li>
                    <li><a href="{% url 'current' %}"> Availability of data in a wide range of formats and interfaces </a> </li>
                    <li>Frequent update schedule of two releases per year </li>

                     </ul>

                     <p class="text-justify">
                         The OMA pipeline can also run on custom genomic/transcriptomic data using the OMA stand-alone software, and it is even possible to combine precomputed data with custom data by exporting parts of the OMA database.
                     </p>


                </div>
            </div>

        </div>

    </div>
</div>





{% endblock content %}
