{% extends  "core.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}OMA orthology database: Types of orthologous groupings{% endblock %}
{% block meta_description %}The OMA database provides several destinct types of groupings to the users. The appropriate grouping depends on the application of the user.{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h1 class="text-center">Types of orthologs <br></h1>
					<div class="well well-sm entete">
					</div>
					<br>
					<p>
					Homologous sequences are sequence that sharing a common ancestry, be they within or between species. They can be further classified in two main categories: <i>orthologs</i>, which are pairs of genes that started diverging through speciation, and <i>paralogs</i>, which are pairs of genes that started diverging through gene duplication.
					</p>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>The OMA Browser reports different subtypes of orthologous and paralogous relationships:  
								</h4>
							</div>
							{% include "includes/otypes.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
