{% extends  "base_template.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}Mapping your protein sequences to OMA{% endblock %}

{% block content %}

<div id="oma-generic-container">

    <div class="container">

        <div class="jumbotron">
            <h1>Fast Mapping</h1>
            <div class="oma-seperator">
                <span class="colour1"></span>
                <span class="colour2"></span>
                <span class="colour3"></span>
            </div>
            <p>Lorem ipsum </p>

            <p>
                Please upload a fasta formated file with your sequences (might also be in gzip or bzip compressed
                format). The service identifies the closest sequence in a very quick manner and ...
            </p>

            <div class="card card-header-oma">
                <div class="card-header">
                    <h4>Fast Mapping</h4>
                </div>
                <div class="card-body">
                    {% bootstrap_messages %}
                                <form role="form" class="form-horizontal" action="{% url 'fastmapping' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% bootstrap_form form layout="horizontal" %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>
                                    {% endbuttons %}
                </div>
            </div>

        </div>

    </div>
</div>



<script>
(function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
});
}, false);
})();
</script>

{% endblock content %}
