###################################
# HOST PATH SETTINGS
###################################

# Absolute path on host where release data is stored, i.e. the base
# directory containing data/, downloads/, etc.
RELEASE_PATH_HOST=<to be set, e.g. /Users/adriaal/Downloads/All.Jul2023>

# Absolute path on host where AllAll data is stored. This is only used
# to provide OMA standalone tarballs including precomputed AllAll files.
ALLALL_PATH_HOST=/dev/null

# Absolute path on host where nginx should be stored. This is only used
# if NGINX_LOG_TO_FILE is set to true. Intended for production use where
# nginx logs need to be stored persistently. nginx will anyways log to
# stdout/stderr, so this is optional.
# If set, this needs to be a valid directory, where access.log and 
# error.log will be stored.
NGINX_LOG_PATH_HOST=

# Path where nginx snippets for bot blocking and rate limiting are stored on host.
# If you don't want to use any custom snippets, set to /dev/null
NGINX_SNIPPET_PATH_HOST=/dev/null


########################################################################
# DATA PATH SETTINGS INSIDE CONTAINERS (usually no need to change these)
########################################################################
# PATH for data, downloads and other volume mount points
# RELEASE_PATH should point to the directory that contains data/ and downloads/
# subdirectory with data for the current release
RELEASE_PATH=/data/release
DARWIN_BROWSERDATA_PATH=/data/release/data
DARWIN_BROWSERDOWNLOAD_PATH=/data/release/downloads

# these directories contain the static and media files
# We suggest to create for each an independent volume
DARWIN_BROWSERSTATIC_PATH=/data/static
DARWIN_BROWSERMEDIA_PATH=/data/media

# Path to AllAll data from inside the container.
DARWIN_ALLALL_PATH=/data/AllAll


##################################
# General deployment settings
##################################

# DEPLOYMENT_TYPE indicates if it is a production or development environment.
# Development will produce more meaningful error messages, but this is discouraged
# in production by django developers.
# value should be either production or development
#DEPLOYMENT_TYPE=production
DEPLOYMENT_TYPE=production


##################################
# DOCKER / DOCKER-COMPOSE SETTINGS
##################################

# Number of uWSGI worker processes for the web container. Increase for higher traffic.
# Defaults to 3 if not set.
#WSGI_PROCESSES=3

# if you want containers to be restarted after reboots;
# can be set to "always" or "unless-stopped" to enable automatic restarts, or "no" to disable it.
RESTART_CONTAINERS="no"

# prefix for docker registry. docker images can be pulled/pushed from/to there.
# if a private registry from where containers can be pulled, set it here, e.g.
#DOCKER_REGISTRY=myprivateregistry.com:5000/myproject
DOCKER_REGISTRY=local

# docker image tag to use for webserver/worker containers (oma image)
# if not set, it will default to "latest"
#IMAGE_TAG=master

# port where webserver will be exposed on the host machine
# if not set, it will default to 80.
#WEBSERVER_PORT=80

# set the IP address (or CIDR range) of the reverse proxy if you are using one.
# This is used to properly set the client IP address in nginx and django. If not set,
# it is assumed that there is no reverse proxy and the client IP is directly available
# in nginx and django.
#REVERSE_PROXY_IP=

# if you want nginx to log to a file in addition to stdout/stderr, set this to true.
# This is recommended for production use, if nginx logs need to be stored persistently.
# By default, nginx will only log to stdout/stderr.
#NGINX_LOG_TO_FILE=true

# Filename of nginx snippet for throttling bad subnets. If not specified, no custom throttling rules for subnets will be applied.
# The file should be placed in the directory specified by NGINX_SNIPPET_PATH_HOST and will be mounted
# into the container at /etc/nginx/snippets/
SUBNET_BOT_FILE=

# Filename of nginx snippet for throttling (bad) bots based on user-agent regexp. If not specified, no custom throttling
# rules for certain user-agents will be applied.
# The file should be placed in the directory specified by NGINX_SNIPPET_PATH_HOST and will be mounted
# into the container at /etc/nginx/snippets/
USER_AGENT_BOT_FILE=


#################################
# DJANGO SETTINGS
#################################
# intstance identifier. should be one of "full", "basf" or "corona". Available
# functionality and templates will be selected based on this value
OMA_INSTANCE=full

# which django settings to load:
# pybrowser_dev.settings.base      -> basic setup; many features disabled
# pybrowser_dev.settings.prod      -> production (recommended for production use)
# pybrowser_dev.settings.profiling -> production with django_debug_toolbar enabled
# pybrowser_dev.settings.testing   -> profiling with external email settings from environment variables, used for testing
DJANGO_SETTINGS_MODULE=pybrowser_dev.settings.prod

# rabbitmq user, password and broker url to which celery will connect
# You can change as you wish, but don't forget to update the rabbitmq
# docker image if you use the non-standard default queue
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
CELERY_BROKER=amqp://user:password@broker:5672
FLOWER_BROKER=amqp://user:password@broker:5672

# DATABASE stuff for postgres database used by django.
DATABASE=postgres
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=omabrowser
SQL_USER=db_user
SQL_PASSWORD=db_pass
SQL_USERMAIL=contact@omabrowser.org
SQL_HOST=db
SQL_PORT=5432

# allowed hosts for Django
ALLOWED_HOSTS=127.0.0.1,localhost,omabrowser.org,.omabrowser.org,.ethz.ch,.cs.ucl.ac.uk,.vital-it.ch

# secret key for django. Change to a random unique value for your installation
DJANGO_SECRET_KEY=change_to_something_else_BVgy%7OHxp&M`sb=]EBVlX6+G}Re%t(VMU0cdL=11y@=8j8N8

# EXPORT allall and FASTMAP functionality
EXPORT_ENGINE=celery
FASTMAP_ENGINE=celery

# path to OMAMER database file (from inside the container)
OMAMER_DB="/data/release/downloads/LUCA.h5"

# setting up mailserver connections to send out messages from django. only used in testing setup settings
#EMAIL_HOST=
#EMAIL_PORT=
#EMAIL_HOST_USER=
#EMAIL_HOST_PASSWORD=

# keys for additional services in apps. Uncomment and set to specific values
#RECAPTCHA_PUBLIC_KEY=<recaptcha>
#RECAPTCHA_PRIVATE_KEY=<recaptcha>

# sentry dsn for sending debug/logging info to sentry
#SENTRY_DSN=<your_sentry_dsn_value>
