{% extends  "base_template.html" %}
{% load staticfiles %}

{% block title %}Thanks for subscribing{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<h1 class="text-center">Thanks for subscribing to our mailinglist</h1>
					<div class="well well-sm entete"></div>
                    <p>Thank you for subscribing to our mailing list. You will shortly receive a confirmation email.
                    Please reply to it to finalize your subscription.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}