/*  */

/* align,center,etc... */
.img-center {margin:0 auto;}
.align{overflow-x:scroll;}
.left-fix{left:0;}
.margin-auto{margin-left:auto; margin-right:auto;}

/*  color */
.purple {color: purple;}
.blue {color: blue;}
.orange {color: orange;}
.grey {color: grey;}
.green{color:#307C3B !important;}
.greenb{background-color:#307C3B !important;border:#307C3B !important; }
.yellow {color: yellow;}
.invisible{visibility:hidden ;}
.scroll{overflow: auto;}

/* courier-font for alignment  */
.seqwidthscroll{font-family:courier;overflow-x: scroll;}
.seqwidth{font-family:courier;}

/* overwrite classes  */
.btn{text-align:center;}
.navbar-nav{text-align:center;font-weight:bold;}
dl.dl-horizontal dt{white-space: normal; }
dl.dl-horizontal dd{width: auto;}
dl.wide-label dt{width: 270px;}
@media (min-width: 768px) {
	dl.wide-label dd {
		margin-left: 290px;
	}
}
a{cursor: pointer;}

.thd{
	padding: 10px !important;
}

.badge, .label {
    margin-right: 3px;
    margin-left: 3px;
}

.jumbotron p {
    font-size: 16px;
}

/*  green well */
.entete{background-color: #307C3B !important ;width:80%;margin-left:10%;}

/*  custom progress bar for realease information */
.progress-custom {
	background-color: transparent !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	margin-bottom: 0 !important; 
	border-radius: 4px !important;
}

/*  custom icon, glyphicon */
.icon-md{font-size:1.5em;margin-left:5px;}
.glyphicon-xl {
	margin-top:20px;
	color: #307C3B;
	font-size: 3.5em;
}
/*  Home select */
.input-group-btn select {
	border-color:  #ccc;
	border-top-width: 2px  ;}

	/*  Nav Bar */
	.navbar img.siblogo {
		margin-right: 7px !important;
	}
	.navbar img {
		height:35px !important;
		margin: 6px 5px 0px 5px !important; 
	}
	.navbar .icon-md {
		font-size: 1.5em !important;
		margin: 0 6px 0 2px !important;
		vertical-align: middle !important;
	}
	.navbar a {
		color: #999 ;
	}
	.navbar .container-fluid {
		padding: 0 5px 0 0 !important;
	}
	#selectNav {
		font-size: 13px !important;
	}
	.verticalbar {
		height: 35px !important; 
		margin: 0 0px !important;
		border-left: 1px solid #ddd !important;
		border-right: 1px solid #fff !important;
		margin-top: 5px !important;
	}
	@media (max-width: 767px) {
		.navbar .container-fluid {
			padding: 0 15px 0 15px !important;
		}
		.navbar-nav{text-align:left;font-weight:bold;}

	}
	@media (min-width: 1200px) {
		#textNav {
			width: 300px !important;
		}
	}

	/*  Home page 3 columns */

	.bottomright {
		position: absolute !important;
		
		right: 40px !important;
	}
	.thumbnail li {
		font-size: 110% !important;
	}
	#latest-news {
		padding-bottom: 30px !important;
	}
	.thumbnail h3 {
		margin-top: 0 !important;
	}

	/*  panel and jumbotron for small screen */
	@media (max-width: 767px) {
		.panel {
			width:100% !important;
			margin:0px !important;
		}
		.jumbotron {
			
			padding-left:0px !important;
			padding-right:0px !important;
		}
		
		
	}

	/*  wrap long link */
	.comment-text {
		word-wrap: break-word;
	}

	/*  seqCV ontology subheader */
	.subHead{padding:0 !important;padding-left:8px !important;width:50% !important;font-style:italic !important;}



	.abbrNoUnder {
		border-bottom: 0px dotted !important;
		cursor: help !important;
	}
	

    .top-buffer { margin-top:20px; }


h3.panel-title {
    word-wrap: break-word;
}


.external { 
    padding-right:11px;
    background: url(../image/ext.png) 0 no-repeat;
    background-position:center right;
    white-space: nowrap;
}

a.experimental {
    padding-right:11px;
    background: url(../image/ext.png) 0 no-repeat;
    background-position:center right;
    color: #000000;
    font-size: small;
}
a.curated {
    padding-right:11px;
    background: url(../image/ext.png) 0 no-repeat;
    background-position:center right;
    color: #3333FF;
    font-size: small;
}
a.uncurated{
    padding-right:11px;
    background: url(../image/ext.png) 0 no-repeat;
    background-position:center right;
    color: #FF9933;
    font-size: small;
}
a.fig{
	color: #222;
}

dd#locus {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dd#locus:hover {
    overflow: visible;
    white-space: normal;
}

.cell-ellipsis {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	word-break: normal;
}
.cell-ellipsis:hover{
	overflow: visible;
	white-space: normal;
	word-break: break-all;
}
.cell-full {
	max-width:1px;
	width:100%;
}

.kw1 {
    font-weight: bold;
    background-color: #FFFF66;
}

.kw2 {
    font-weight: bold;
    background-color: #A0FFFF;
}

.kw3 {
    font-weight: bold;
    background-color: #99FF99;
}

.kw4 {
    font-weight: bold;
    background-color: #FF9999;
}


.ribbon {
    height: 10px;
    background: linear-gradient(90deg, black 33.3%, yellow 33.3%, yellow 66.6%, red 66.6%, red 100%);
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }

.autocomplete-suggestion {
	padding: 2px 5px;
	/*white-space: nowrap; */
	overflow: hidden;
	cursor:  pointer;
	}

.autocomplete-suggestion span.auto-xref{
	display: inline-block;
	width: 70%;
	color: black;
}

.autocomplete-suggestion span.auto-omaid{
	display: inline-block;
	width: 30%;
	font-size: 75%;
}

.autocomplete-suggestion span.auto-species{
	display: inline-block;
	width: 100%;
	font-size: 75%;
	font-style: italic;
	color: #bbb;
}

.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestion strong { font-weight: bold; color: black;border-bottom: 2px solid #307C3B }

/* Database label */
.autocomplete-group { padding: 3px 20px; text-align: right; border-bottom: 1px solid #ddd}
.autocomplete-group strong {display: block;; color: #777; }

.left_hog_tab{
	position: relative;
	padding-right: 8px !important;
	margin-right: 0 !important;
	border-radius: 4px 0 0 0 !important;
	cursor: pointer !important;
	border-right: none !important;
}

.right_hog_tab{
	padding-left:8px !important;
	padding-right: 8px !important;
	margin-left: 0 !important;
	border-radius: 0 4px 0 0 !important;
	cursor: pointer !important;
	border: 1px #ddd solid !important ;
}

.nav_custom {
	background-color: #f8f8f8 !important;
}

.jum_custom
{
	background-color: #f8f8f8 !important;
	border: 1px #ddd solid !important ;

}


/* Sidebar styles */
#sidebar-container.full-height {
    /*min-height: 100vh;*/
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;

}

[data-toggle="collapse"] .chevron_alias:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .chevron_alias:before {
  content: "\f13a";
}


.menu-tab {
    background-color: white;
    color: #307C3B;
    height: 50px;
    padding: 0.25rem 0.75rem;
	border-radius: 2px;
    margin-bottom: 0.5rem;
}

.menu-tab:hover {
    background-color: #C8C8C8;
    transition: background 0.5s;
}


.menu-tab.selected {
    display: block;
  }


@keyframes fadein {
0%   { opacity: 0; }
100% { opacity: 1; }
}

.content-container-row {
    margin-top: 1.2em;
}

.card-body.gene-orthology, .gene-orthology .selected {
    background-color: #90CAF9;
}
.card-body.oma-group, .oma-group .selected {
    background-color: #FFF49D;
}
.card-body.genome, .genome .selected {
    background-color: #FFAB91;
}



span.ex {
	color: #337ab7;
}
span.ex:hover{
	color: #23527c;
	curser: pointer;
	text-decoration: underline;
}
