.grey {
    fill : #95a5a6;
}

.brown {
    fill : brown;
}

.green {
    fill : darkgreen;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.tnt_framed {border: none; border-left: 2px solid !important; border-radius: 0px !important}

#hog_vis{
    display: inline-block;
    padding: 10px;
    width: 100%;
}

.tnt_groupDiv{
    display: inline-block;
}

#tnt_tree_container_hog_vis{
    overflow-x: auto;
    display: inherit;
}

#tnt_annot_container_hog_vis{
    display: inherit;
    overflow-x: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: rgba(0, 0, 0, .5);
}

#hogvisheader {
    background:white;
    z-index:1000000;
    margin-bottom: 10px;
}

#gap_conpenser {
    margin-bottom: 15px;
}

#colorbar{margin:12px;}

#drag {
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 8px;
    cursor: col-resize;
}
