/*  */

/* align,center,etc... */
.img-center {margin:0 auto;}
.align{overflow-x:scroll;}
.left-fix{left:0;}
.margin-auto{margin-left:auto; margin-right:auto;}

/*  color */
.purple {color: purple;}
.blue {color: blue;}
.orange {color: orange;}
.grey {color: grey;}
.green{color:#307C3B !important;}
.greenb{background-color:#307C3B !important;border:#307C3B !important; }
.yellow {color: yellow;}
.invisible{visibility:hidden ;}
.scroll{overflow: auto;}

/* courier-font for alignment  */
.seqwidthscroll{font-family:courier;overflow-x: scroll;}
.seqwidth{font-family:courier;}

/* overwrite classes  */
.btn{text-align:center;}
.navbar-nav{text-align:center;font-weight:bold;}
.dl-horizontal dt{white-space: normal !important; }
.dl-horizontal dd{width:60% !important;}
a{cursor: pointer;}

.thd{
	padding: 10px !important;
}

.badge, .label {
    margin-right: 3px;
    margin-left: 3px;
}

.jumbotron p {
    font-size: 16px;
}

/*  green well */
.entete{background-color: #307C3B !important ;width:80%;margin-left:10%;}

/*  custom progress bar for realease information */
.progress-custom {
	background-color: transparent !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	margin-bottom: 0 !important; 
	border-radius: 4px !important;
}

/*  custom icon, glyphicon */
.icon-md{font-size:1.5em;margin-left:5px;}
.glyphicon-xl {
	margin-top:20px;
	color: #307C3B;
	font-size: 3.5em;
}
/*  Home select */
.input-group-btn select {
	border-color:  #ccc;
	border-top-width: 2px  ;}

	/*  Nav Bar */
	.navbar img.siblogo {
		margin-right: 7px !important;
	}
	.navbar img {
		height:35px !important;
		margin: 6px 5px 0px 5px !important; 
	}
	.navbar .icon-md {
		font-size: 1.5em !important;
		margin: 0 6px 0 2px !important;
		vertical-align: middle !important;
	}
	.navbar a {
		color: #999 ;
	}
	.navbar .container-fluid {
		padding: 0 5px 0 0 !important;
	}
	#selectNav {
		font-size: 13px !important;
	}
	.verticalbar {
		height: 35px !important; 
		margin: 0 0px !important;
		border-left: 1px solid #ddd !important;
		border-right: 1px solid #fff !important;
		margin-top: 5px !important;
	}
	@media (max-width: 767px) {
		.navbar .container-fluid {
			padding: 0 15px 0 15px !important;
		}
		.navbar-nav{text-align:left;font-weight:bold;}

	}
	@media (min-width: 1200px) {
		#textNav {
			width: 300px !important;
		}
	}

	/*  Home page 3 columns */

	.bottomright {
		position: absolute !important;
		
		right: 40px !important;
	}
	.thumbnail li {
		font-size: 110% !important;
	}
	#latest-news {
		padding-bottom: 30px !important;
	}
	.thumbnail h3 {
		margin-top: 0 !important;
	}

	/*  panel and jumbotron for small screen */
	@media (max-width: 767px) {
		.panel {
			width:100% !important;
			margin:0px !important;
		}
		.jumbotron {
			
			padding-left:0px !important;
			padding-right:0px !important;
		}
		
		
	}

	/*  wrap long link */
	.comment-text {
		word-wrap: break-word;
	}

	/*  seqCV ontology subheader */
	.subHead{padding:0 !important;padding-left:8px !important;width:50% !important;font-style:italic !important;}



	.abbrNoUnder {
		border-bottom: 0px dotted !important;
		cursor: help !important;
	}
	

    .top-buffer { margin-top:20px; }


h3.panel-title {
    word-wrap: break-word;
}


.external { 
    padding-right:11px;
    background: url(../image/ext.png) 0 no-repeat;
    background-position:center right;
    white-space: nowrap;
}

a.experimental {
    padding-right:11px;
    background: url(../image/ext.png) 0 no-repeat;
    background-position:center right;
    color: #000000;
    font-size: small;
}
a.curated {
    padding-right:11px;
    background: url(../image/ext.png) 0 no-repeat;
    background-position:center right;
    color: #3333FF;
    font-size: small;
}
a.uncurated{
    padding-right:11px;
    background: url(../image/ext.png) 0 no-repeat;
    background-position:center right;
    color: #FF9933;
    font-size: small;
}

.kw1 {
    font-weight: bold;
    background-color: #FFFF66;
}

.kw2 {
    font-weight: bold;
    background-color: #A0FFFF;
}

.kw3 {
    font-weight: bold;
    background-color: #99FF99;
}

.kw4 {
    font-weight: bold;
    background-color: #FF9999;
}






