svg {
  shape-rendering: precision;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
    display:inherit !important;
}

.axis text {
  font: 10px sans-serif;
    font-weight: bold;
}

.tick text {
  font: 10px sans-serif;
    font-weight: lighter;
}


circle {
    opacity: 0.3;
    transition: fill-opacity 250ms linear;
}

circle.active {
    /*fill: rgb(65,193,194);
    stroke: red;
    stroke-width: 1px;*/
    fill: #FFB6C1;
    opacity: 0.6;
}


#dotplot_container{
}


.header_div{
    position: absolute;
    font-size: 1em;
}

span[id^="head_button_"]{
    cursor: pointer ;
}


.header_div{
    position: absolute;
    font-size: 1em;
}

span[id^="head_button_"]{
    cursor: pointer ;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

.area {
  fill: rgba(65,193,194,0.4);

}

.brush {
	opacity: 0.2;
}


.tile{
    background-color: #fff;
    padding: 16px;
    box-shadow: 2px 2px 1px #eee;
    border-radius: 4px;
    margin:8px;
}

.cvb{background-color: #f8f9fa}










