{% extends  "base_template.html" %}
{% load static %}
{% load humanize %}


{% block title %}OMAMO - finding model organism for specific biological processes {% endblock %}
{% block meta_description %}Find the best simple model organism for a specific biological process of interest{% endblock %}
{% block meta_hook %} <meta name="keywords" content="orthology,evolutionary gene relations,evolution,paralogy,inference"> {% endblock %}

{% block js_hook %}{{ block.super }}
{% endblock js_hook %}
{% block css_hook %}{{ block.super }}
 <style>
     .logo-omamo-lg {
         width: 500px;
         height: 200px;
         background: url({% static "image/logo-omamo.svg" %}) no-repeat center center / contain;
         margin: 0 auto;
     }
      @media screen and (max-width: 575px){
          .logo-omamo-lg {
              width: 240px;
              height: 120px;
          }
      }
     .omamo-quick-start {
	    background: #ebf1f5;
	    margin: 10px auto 0;
	    padding: 10px 20px;
	    border-radius: 30px;
	    text-align: left;
	    display: inline-flex;
	    align-items: center;
    }
    .omamo-quick-start p {
	    margin: 0;
    }
    .omamo-quick-start img {
         width: 20px;
         margin: 0 10px 0 0;
    }
    body #oma-search-container {
		 padding: 5px 0 30px;
		 left: 0;
		 width: 100%;
		 border-radius: 0;
	}
    .omamo-suggest {
        padding: 20px 30px 20px 30px;
        margin: 20px 0px 20px 0px;
        text-align: left;
        align-items: flex-start;
    }
 </style>

{% endblock css_hook %}

{% block content %}
<div id="oma-search-container">
    <div class="container">

        {% if not result_tab %}
        <div class="logo-omamo-lg"></div>
            <p>OMAMO is a web tool that allows the user to find the best simple model organism for a biological process of interest. The set of species consists 50 less complex organisms including bacteria, unicellular eukaryotes and fungi.</p>
            <p>Please enter the biological process as a GO ID or a GO term.</p>
        {% endif %}

        <div class="oma-search">
            <form role="search" id="searchForm" action="{% url 'omamo-search' %}" method="GET">
                <input id='omamo_input' name="query" type="text" class="" placeholder='{% block search_placeholder %}Search a biological process GO term or GO id{% endblock search_placeholder %}'/>
                <button id="submit_omamo" type="submit"><img src="{% static "image/logo-oma-o.svg" %}" alt="Logo OMA icon"/></button>
            </form>
        </div>

        <div class="omamo-quick-start">
            <img src="{% static "image/icon-bulb-add.png" %}" alt="Quick start Examples"/>
            <p>
                <strong>Examples:</strong>
                {% block search_examples %}
                    <span class="ex" onclick="fillExample('GO:0006281')">GO:0006281 - DNA repair</span> &mdash;
                    <span class="ex" onclick="fillExample('GO:0009060')">GO:0009060 - aerobic respiration</span>
                {% endblock search_examples %}
            </p>
        </div>

        {% if not result_tab %}
        <div class="omamo-quick-start">
            <img src="{% static "image/icon-info.svg" %}" alt="Explore Gene Ontology"/>
            <p>No idea which Gene Ontology term best describes your process of interest? <a href="http://amigo.geneontology.org/amigo/search/ontology" target="_blank">Explore Gene Ontology</a></p>
        </div>
        {% endif %}

        {% if suggested_go_terms %}
        <div class="omamo-suggest alert alert-warning">
            <p>Your search term {{ goterm }} - {{ goterm.name }} has not been assigned to any of the species in the database. Consider searching for
            {% if suggest_reason == "too general" %}
                a more specific Gene Ontology term describing the process:
            {% else %}
                a more general Gene Ontology term describing your process of interest:
            {% endif %}
            </p>
            <ul>
            {% for t in suggested_go_terms %}
                <li><a href="{% url "omamo-search" %}?query={{ t }}">{{ t }} - {{ t.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif  %}

    </div>
</div>

<div class="container">
    {% if result_tab %}
    <div id="oma-generic-container" style="margin: 0px;">
        <div class="container">
            <div class="jumbotron" style="padding: 0px;">
                <div class="oma-seperator">
                    <span class="colour1"></span>
                    <span class="colour2"></span>
                    <span class="colour3"></span>
                </div>
            </div>
        </div>
    </div>


    {{ result|json_script:"model_orgs" }}
    <h2>{{ goterm }} - {{ goterm.name }}</h2>
    <p><b>Definition:</b> {{ goterm.definition }}</p>
    <div>
        <table class="table table-hover" id="omamo_result_table"
           data-show-toggle="false"
           data-show-columns="true" data-search="true" data-show-export="true"
               data-export-data-type="all"
           data-pagination="true" data-page-size="25" data-page-list="[10, 25, 50, 100, All]"
           data-mobile-responsive="true" data-check-on-init="true"
           data-undefined-text=""
           data-checkbox-header="true"
           data-detail-view="true"
           data-detail-view-icon="false"
           data-detail-formatter="detailSpeciesInfo"
           data-group-by="true"
           {% if toolbar %}
           data-toolbar="#toolbar"
           {% endif %}
           data-group-by-field="DivergenceLevel"
           data-id-field="protid" data-row-attributes="tablehooks.add_proteinrow_attrs"
           data-url="{{ table_data_url }}">
        <thead>
            <tr>
                <th data-field="kingdom" data-sortable="true" data-filter-control="select"
                    data-formatter="tablehooks.format_as_kingdom_tag" data-title-tooltip="Domain of Life"><span >Domains</span></th>
                <th data-field="species" data-sortable="true" data-filter-control="select"
                    data-formatter="tablehooks.format_species_code" data-title-tooltip="UniProt mnemonic species code">Species</th>
                <th data-field="taxon" data-sortable="true" data-filter-control="input"
                    data-formatter="tablehooks.format_sciname">Taxon</th>
                <th data-field="nr_orthologs" data-sortable="true" data-filter-control="select"
                    data-title-tooltip="Number of shared orthologs">No. of orthologs</th>
                <th data-field="function_sim" data-sortable="true">Average func. similarity</th>
                <th data-field="score" data-sortable="true">Score</th>
            </tr>
        </thead>
        </table>
    </div>

<!-- bootstrap-table -->
<script src="{% static "js/tablehooks.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap-table.min.js" %}"></script>
<link href="{% static "css/bootstrap-table.min.css" %}" rel="stylesheet" type="text/css"/>
<script src="{% static "js/bootstrap-table-export.min.js" %}"></script>
<script src="{% static "js/bootstrap-table-mobile.min.js" %}"></script>
<script src="{% static "js/tableExport.min.js" %}"></script>
<script>
function detailSpeciesInfo(index, row){
    var buf = ["<b>Human genes: </b>"];
    var arr = row['human_genes'];
    for (let i=0; i<arr.length; i++) {
        buf.push('<a href="/oma/info/' + arr[i]['omaid'] + '/">' + arr[i]['label'] + '</a> ');
    }
    buf.push("<br>");
    buf.push("<b>"+row.species+" genes: </b>");
    arr = row["species_genes"];
    for (let i=0; i<arr.length; i++) {
        buf.push('<a href="/oma/info/' + arr[i]['omaid'] + '/">' + arr[i]['label'] + '</a> ');
    }
    return buf.join(" ");
}
</script>
<script>
    var tab = $("#omamo_result_table");
    var data = JSON.parse(document.getElementById('model_orgs').textContent);
    tab.bootstrapTable({
        data: data,
        reorderableColumns: true,
        clickToSelect: false,
        showMultiSort: true,
        formatNoMatches: function(){ return "No suitable model organism found"}
    });
    var icons = tab.bootstrapTable('getOptions').icons;
    $.extend(icons, {export: 'fa-download'});
    tab.bootstrapTable('refreshOptions', {'icons': icons});
</script>
    {% endif %}

    </div>




{{ go_auto_data | json_script:"go_data" }}

<script type="text/javascript">
function fillExample( term){
    $("#omamo_input").val(term).focus();
}
var go_data = JSON.parse(document.getElementById('go_data').textContent);
var go_auto_options = {
    minChars: 3,
    triggerSelectOnValidInput: false,
    lookup: go_data,
    onSelect: function(item){
        window.location.href = "/oma/omamo/search/?query=" + item.data;
        return false;
    },
};

$('#omamo_input').autocomplete(go_auto_options);
$('#omamo_input').autocomplete("enable")
</script>

{% endblock content %}